[2017-09-15 17:59] shd101wyy commented on #617
MPE will first transform the markdown that uses special syntax to plain markdown, then processed by pandoc.

[2017-09-16 01:43] gmd7 commented on #617
Is there a possibility to do line numbering for code blocks like
<pre>
[code]
</pre>

[2017-09-16 02:27] shd101wyy commented on #617
@gmd7 There is an [issue here](https://github.com/shd101wyy/vscode-markdown-preview-enhanced/issues/16).

And https://shd101wyy.github.io/markdown-preview-enhanced/#/markdown-basics?id=line-numbers

[2017-09-16 02:27] shd101wyy commented on #617
I will add `.numberLines` class support.

[2017-09-16 02:29] shd101wyy commented on #617
<pre>
[code]
</pre>

[2017-09-16 03:22] gmd7 commented on #617
Thx. Indentation is also a problem.
[test.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1308071/test.zip)

[2017-09-16 10:18] bluetoothbiao opened #618 "click Some format of []()link will jump to local computer Document or my computer"
[code]
or
[code]

[2017-09-17 06:52] HugSea opened #619 "标题下划线的问题"
刚下这款插件，我目前是默认不加下划线，并且手动设置的下划线好粗，如：
<img width="1141" alt="2017-09-17 2 46 45" src="https://user-images.githubusercontent.com/12068857/30518670-28d3ff9a-9bb7-11e7-9b10-c5194ad24253.png">

希望是标题默认加下划线，并且下划线的粗细和上下间距像下图一样：
![v2-72a8a1e742ffc030270e6dfd43d80a4c_r](https://user-images.githubusercontent.com/12068857/30518655-c11b4cbe-9bb6-11e7-9580-e1e36b087cb2.png)

请问作者该怎么改，麻烦了，非常感谢😭。

[2017-09-17 07:37] shd101wyy commented on #619
https://shd101wyy.github.io/markdown-preview-enhanced/#/zh-cn/customize-css

[2017-09-17 08:34] shd101wyy commented on #619
[code]

[2017-09-17 08:38] HugSea commented on #619
感谢作者，好啦，但是我手动---加的下划线还是很粗，这个要怎么改呢

[2017-09-17 08:39] shd101wyy commented on #619
你用上面那个就好了，不用手动加 `---` 下划线了。

[2017-09-17 08:41] shd101wyy commented on #619
`---` 会生成 `hr` 元素，所以你就这么写就好了

[code]

[2017-09-17 08:41] HugSea commented on #619
好的，十分感谢！

[2017-09-17 08:42] #619 closed

[2017-09-17 08:42] shd101wyy commented on #619
木事儿～

[2017-09-17 08:43] shd101wyy commented on #618
Will be fixed. Thanks

[2017-09-17 10:28] srxqds opened #620 "install failed on macos"
Installing “markdown-preview-enhanced@0.14.10” failed.Hide output…

gyp info it worked if it ends with ok
gyp info using node-gyp@3.4.0
gyp info using node@6.9.5 | darwin | x64
gyp http GET https://atom.io/download/electron/v1.6.9/iojs-v1.6.9.tar.gz
gyp WARN install got an error, rolling back install
gyp ERR! install error
gyp ERR! stack Error: connect ETIMEDOUT 54.231.49.242:443
gyp ERR! stack

[2017-09-17 18:03] shd101wyy commented on #620
In recommend you to install this package from the atom editor instead of
doing so manually.

On Sun, Sep 17, 2017 at 5:28 AM D.S. Qiu <notifications@github.com> wrote:

[2017-09-18 06:55] neo1949 commented on #616
我从github下载离线安装包解压到.atom/packages下面，启动atom时markdown-preview-enhanced也不可用，从官方的设置里面安装重启之后就可以使用了，关于这两者安装方式有什么区别不太清楚，提供一个参考案例。

[2017-09-18 15:15] shd101wyy commented on #616
应该是还得运行下 `apm link` 命令。

https://github.com/shd101wyy/markdown-preview-enhanced/issues/359#issuecomment-293314773

[2017-09-19 02:31] Vxider commented on #609
求支持`mermaid`导出

[2017-09-19 02:42] werunom opened #621 "Preview for tilde mark (~)"
Somehow the preview for certain math statements having too many tildes (~) is not working fine.

For example, see the below sentences
[code]

only for the first statement, the preview works fine. The other two is not working fine.

[2017-09-21 12:41] srxqds commented on #620
I just install it in Settings/Install Package, it's ok on windows, bug fail on macos

[2017-09-21 19:30] shd101wyy commented on #620
I think it might be internet issue? What exactly is the issue? Can you post
a screenshot?

On Thu, Sep 21, 2017 at 7:41 AM, D.S. Qiu <notifications@github.com> wrote:

[2017-09-22 08:14] HanInfinity opened #622 "Fail to export word with reference.docx using Pandoc"
front-matter in my.md:
[code]
The reference.docx is in the same folder of my.md. It always failed when I right click on preview and use pandoc, and the message come out like this:
![image](https://user-images.githubusercontent.com/5977351/30735158-857d09ec-9fb0-11e7-8710-eee7a88e3152.png).

The pandoc is worked when I delete "reference_docx: reference.docx", but using reference.docx will make it b

[2017-09-22 10:00] almightyyeh opened #623 "Could I setting use local plantUML server to render the result?"
If we can setting use local plantuml server to render result, i think it will be much faster and stable. : )

[2017-09-22 15:36] shd101wyy commented on #623
We didn't use remote server.
We are now using local plantuml server. It's [here](https://github.com/shd101wyy/mume/tree/master/dependencies/plantuml).

[2017-09-22 15:44] shd101wyy commented on #622
@HanInfinity My bad.

It is a bug one [this line](https://github.com/shd101wyy/mume/blob/master/src/pandoc-convert.ts#L43).
The `--reference_docx` should be `--reference-docs` instead.
Right now you can resolve this issue by writing it as:

[code]

Thanks

[2017-09-22 19:19] qwc opened #624 "Last plantuml graph overwrites all others in the preview of a single document"
### Description

When you write a document with multiple plantuml graphs inside all graphs are overwritten with the last one defined in the document.

### Steps to Reproduce

1. Write a document like the following

2. Watch while typing or copying parts of the document, how the graph is generated in the preview
3. first the actor test is shown
4. then a second graph appears and both have the conte

[2017-09-22 19:37] shd101wyy commented on #624
Will be fixed. Thanks

[2017-09-22 22:13] hujianhang2996 opened #625 "LaTeX语法不能高亮"
刚接触markdown和LaTeX，很多问题不懂。装了markdown preview enhanced 和language LaTeX，比如公式里的“\dfrac”就只有“\d”颜色不一样。我看网上还要安装TeX Live，请问是这个原因吗？

[2017-09-22 22:14] shd101wyy commented on #625
你是说编辑器里没有高亮，还是预览里面没有高亮呢？

[2017-09-22 22:19] shd101wyy commented on #625
你要是指编辑器的话，并且你用的是 atom，可以安装 [language-gfm-enhanced](https://atom.io/packages/language-gfm-enhanced) 插件。

[2017-09-23 10:53] tmfdk333 commented on #543
I found out what was the problem. It was because of the wrong CSS about Markdown Preview.
After modifying the CSS, I was able to see previews that worked fine. Thanks!

[2017-09-23 12:15] HanInfinity commented on #622
@shd101wyy
 Thanks for your reply!

But it didn't worked, so I changed some word and it worked great!
It is:
[code]

and thank you again!

[2017-09-23 13:27] hujianhang2996 commented on #625
可以啦，谢谢！！

[2017-09-23 14:30] #622 closed

[2017-09-23 16:58] dpo commented on #591
Seems to work really well, many thanks! I wonder if we could use different colors for different types of changes, e.g., green for additions, red for deletions, orange for substitutions, etc. Maybe difficult to find colors that will work with most themes?!

[2017-09-23 17:36] shd101wyy commented on #622
I will fix this bug soon

On Sat, Sep 23, 2017 at 9:30 AM HanInfinity <notifications@github.com>
wrote:

[2017-09-23 17:39] #625 closed

[2017-09-23 17:41] shd101wyy opened #627 "那个大兄弟转了我昨天微信 50，请留下言，谢谢"
我把你加入 backers list

[2017-09-23 18:12] shd101wyy commented on #627
1000050301170923002207000021011146159436

[2017-09-23 18:48] dpo opened #628 "Import syntax-variables.less from syntax theme to customize css?"
I'm trying to customize `style.less` so as to use the theme of the original markdown-preview package. It relies on variables set by the syntax theme by way of `@import "syntax-variables";` at the top. However, that doesn't appear to work in `style.less`. I get the error message

![screen shot 2017-09-23 at 14 47 30](https://user-images.githubusercontent.com/38760/30776089-2b4225b6-a06e-11e7-8249-8

[2017-09-24 03:09] udscbt-wsx commented on #627
...Hi, it's me

我在转账时在联系收款方处留了言。

[2017-09-24 07:47] #627 closed

[2017-09-24 07:48] shd101wyy commented on #627
好的谢谢大兄弟了!

[2017-09-24 18:25] gepcel opened #629 "Cann't apply the 'reference-doc' arg."
For some reason I use pandoc 2.0, and the right arg for style referencing is "reference-doc=FILE" instead of "reference-docx=FILE". So I use `pandoc_args` in front-matter like:
[code]

It used to work (a few months ago, cann't remember the version), but now it doesn't. Gives me a "Output format needs to be specified." error.

Would you please check this?

[2017-09-24 18:27] shd101wyy commented on #629
"--reference-doc=file" or "--reference-docx=file"? Now you are writing
object inside array, I think it failed to parse.

On Sun, Sep 24, 2017 at 1:25 PM WANG Aiyong <notifications@github.com>
wrote:

[2017-09-24 18:57] shd101wyy commented on #629
https://github.com/shd101wyy/markdown-preview-enhanced/issues/622

[2017-09-25 00:40] gepcel commented on #629
## First
I tried
[code]
And I got `Output format needs to be specified.`

## Second
And tried
[code]

Still got `Output format needs to be specified.`.  This used to work.

## Third
[code]
Can get an output, but the style isn't applied.

## Fourth
[code]
Can get an output, but the style isn't applied.

## Fifth
[code]
Get an error message:
[code]

I expect the 2nd and the 5th to work. And the 2nd

[2017-09-25 00:43] shd101wyy commented on #629
Then that means your `front-matter` might have indentation issue.
You can set the render method of front-matter to be table from package settings, then check if it your front-matter can be displayed correctly in the preview.

[2017-09-25 00:46] shd101wyy commented on #629
Ok I just tried
[code]

Wont parse, you need to write it as:

[code]

[2017-09-25 04:13] gepcel commented on #629
This works. It's weired, because I copied a front-matter from an existing and working file. Every time when I type in a new front-matter, it always causes many problems and confusing for me.

Thank you.

[2017-09-25 10:40] mahnu opened #630 "import global style"
Thank you for this great tool, very efficient and very open thanks to the cmd idea)!

It would also be very nice to be able to import global style (e.g. .less or .css files located in ~/.mume)
This way different MD templates can be defined for different usages (e.g. meeting report template, presentation template, project dev template ...). In conjunction with "File Templates", this can be a great

[2017-09-25 19:52] mahnu opened #631 "front matter title not used for html export"
Thanks again for your great work!

It seems that the front matter "title" tag is not used for html export.
I am using mde version 0.14.10 (on debian stretch).

E.g. if testtitle.md document starts with:
[code]

The html document (offline for instance) use the file name as html title. Here is what you can find the html output file:
[code]

I would expect:
[code]

It seems that the same bug occurs f

[2017-09-25 19:53] shd101wyy commented on #631
Sure, will do.

[2017-09-25 20:39] StefanoCecere commented on #114
we would just need the possibility to inject a
[code]

outside the

it seem impossibile in current version, since it gets rendered here:
[code]

[2017-09-26 05:35] mahnu commented on #630
I think you can close this one!
I figured out of a way that will make my feature request unneeded.
It is very easy indeed (maybe you can add a little paragraph in the documentation?).

First create as many custom less files as you need and save them in ``~/.mume`` : ``style1.less`` and ``style2.less``. For instance :
[code]
And
[code]

Then open the custom css ``style.less`` and import the two sty

[2017-09-26 20:18] #630 closed

[2017-09-28 16:55] gepcel commented on #629
@shd101wyy , after trying, I find out that the `Tab` indent in `front-matter` won't parse, but `space` will. 2 or 4 `spaces` indent doesn't matter. Since I've known the reason, I can live with this. So I'll leave this to you to decide if you want this issue to stayed open so you can change something, or just close this, maybe add some instruction to doc.

[2017-09-30 17:24] dpo opened #632 "Export to html with pandoc"
How would you export to HTML with pandoc? I'm trying the `custom_document` route by adding the following to my YAML header:
[code]
but trying to export with Pandoc yields the error "Output format needs to be specified". I tried replacing `"-w"` with `"-t"` but the result is the same.

Thanks!

[2017-09-30 19:37] shd101wyy commented on #632
It's a bug. I will fix it soon.

Thanks

[2017-09-30 20:13] shd101wyy commented on #628
Hi @dpo ,

Sorry you can't `@import "syntax-variables"` directly. Because the MPE `style.less` located at `~/.mume/style.less` is different from the Atom `style.less`. So you might need to import the file by absolute path.

I will try to find a way to solve this issue in the future. Thanks

Thanks

[2017-09-30 20:15] shd101wyy commented on #624
@qwc Which version of this package are you using?

[2017-09-30 20:16] shd101wyy commented on #621
@werunom That is because `~` is used for [subscript](https://shd101wyy.github.io/markdown-preview-enhanced/#/markdown-basics?id=subscript).

You can escape it by putting a `\` ahead `~` like `\~p`.

\~p

[2017-09-30 21:40] shd101wyy commented on #595
Nope, the editor doesn't support it I think.

[2017-09-30 21:40] #588 closed

[2017-09-30 21:41] #568 closed

[2017-10-01 02:27] shd101wyy commented on #632
@dpo Fixed now.

[2017-10-01 02:28] shd101wyy commented on #631
@mahnu Done. Cheers :)

[2017-10-01 02:28] shd101wyy commented on #629
@gepcel Should be fixed now. Cheers :)

[2017-10-01 02:28] shd101wyy commented on #615
@danielbayley Fixed now. Cheers :)

[2017-10-01 02:30] shd101wyy commented on #561
![screen shot 2017-09-30 at 9 29 19 pm](https://user-images.githubusercontent.com/1908863/31051156-749d98e0-a626-11e7-868f-e92205244b32.png)

@dcorriveau-omniscient @ethernal @davecsmith-kcom

Done, you can set the option to `do nothing`.

[2017-10-01 02:30] shd101wyy commented on #530
vega is supported.

https://shd101wyy.github.io/markdown-preview-enhanced/#/diagrams?id=vega-and-vega-lite

[2017-10-01 02:30] #530 closed

[2017-10-01 02:32] shd101wyy commented on #512
@message2prateek @Maxiride Both emoji and font-awesome are supported now.

You can disable it from the package settings.
![screen shot 2017-09-30 at 9 32 11 pm](https://user-images.githubusercontent.com/1908863/31051176-d87e648e-a626-11e7-8e50-694bee25ff70.png)

Cheers :)

[2017-10-01 02:32] shd101wyy commented on #230
@davidro  Both emoji and font-awesome are supported now.

You can disable it from the package settings.
![screen shot 2017-09-30 at 9 32 11 pm](https://user-images.githubusercontent.com/1908863/31051176-d87e648e-a626-11e7-8e50-694bee25ff70.png)

Cheers :)

[2017-10-01 02:33] shd101wyy commented on #176
@foregather `:smile` 这种写法现在也支持了，可以在插件设置中禁用。

[2017-10-01 02:33] shd101wyy commented on #98
@maplewizard Both emoji and font-awesome are supported now.

You can disable it from the package settings.
![screen shot 2017-09-30 at 9 32 11 pm](https://user-images.githubusercontent.com/1908863/31051176-d87e648e-a626-11e7-8e50-694bee25ff70.png)

Cheers :)

[2017-10-01 02:34] shd101wyy commented on #186
@message2prateek @abhayghatpande @yieme

Both emoji and font-awesome are supported now.

You can disable it from the package settings.
![screen shot 2017-09-30 at 9 32 11 pm](https://user-images.githubusercontent.com/1908863/31051176-d87e648e-a626-11e7-8e50-694bee25ff70.png)

Check https://shd101wyy.github.io/markdown-preview-enhanced/#/markdown-basics?id=emoji-amp-font-awesome

Cheers :)

[2017-10-01 02:38] shd101wyy commented on #617
@gmd7

Indentation bug should be fixed now.
`.numberLines` is supported now.

Cheers

[2017-10-01 03:11] dpo commented on #632
Awesome! Thanks!

[2017-10-01 03:11] #632 closed

[2017-10-01 05:49] Maxiride commented on #512
Thank you very much for the time dedicated to this improvement :) well done!

[2017-10-01 09:59] SevnChen opened #634 "mermaid do not support classDef?"
i try:

or

but nothing happen.

[2017-10-01 13:09] danielbayley commented on #615
@shd101wyy Tested and working. Thanks! 😎

[2017-10-01 13:09] #615 closed

[2017-10-01 18:43] shd101wyy commented on #634
No, mermaid doesn't work well with class diagram.
I recommend you to try plantuml.

[2017-10-01 22:00] message2prateek commented on #512
Thanks a lot for your hard work 👍 Really appreciate it.

[2017-10-01 23:24] abhayghatpande opened #635 "two line terminating spaces get deleted on save"
Hi
I've disabled (unchecked) the "break on single new line" option in package preferences.

When I terminate lines with two spaces to insert a new line, everything works fine until I hit save.

On saving the file, terminating spaces get deleted and it breaks all my formatting.

Actually just noticed that this happens not only on .md files, but also others. So it may not be an MPE issue, but some o

[2017-10-01 23:27] shd101wyy commented on #635
Hello,

The MPE extension only deals with the preview part but not the editor part.
So I would assume that you are using some other extension like
atom-beatifier that reformatted your markdown file when you save.

Thanks

On Sun, Oct 1, 2017 at 6:24 PM Abhay Ghatpande <notifications@github.com>
wrote:

[2017-10-01 23:39] abhayghatpande commented on #635
Thanks. I thought so too, but wondered if you faced a similar situation. I tried disabling atom-beautifier, but the behaviour persists. So some other package is doing it. Anyway, if I ever find the culprit, will inform you. Thanks for adding the font awesome support, BTW!

On Oct 1, 2017, at 19:27, Yiyi Wang <notifications@github.com> wrote:

Hello,

The MPE extension only deals with the preview p

[2017-10-01 23:41] shd101wyy commented on #635
No problem. Glad to help ;)

On Sun, Oct 1, 2017 at 6:39 PM Abhay Ghatpande <notifications@github.com>
wrote:

[2017-10-02 05:31] mahnu commented on #631
Thanks again!  Great work.
I tested and confirm this issue is solved in 0.14.11 → closing this issue.

[2017-10-02 05:31] #631 closed

[2017-10-02 11:19] Solatle opened #636 "Pandoc preview"

[2017-10-02 11:32] Solatle commented on #636
I export the pandoc by a right click on preview page and the pandoc button. This works nicely except losing the code chunks and their results.

[2017-10-02 12:16] dcorriveau-omniscient commented on #561
Thank you !

[2017-10-02 12:16] #561 closed

[2017-10-02 15:28] shd101wyy commented on #636
Can you please send me your markdown file in a zip file and I will have a
look when I have a time.
Thanks

On Mon, Oct 2, 2017 at 6:32 AM, Solatle <notifications@github.com> wrote:

[2017-10-02 16:49] Solatle commented on #636
Sure, I've sent it to your gmail.

[2017-10-02 23:38] gmd7 commented on #617
Thank you very much. Best atom-package ever!!!

[2017-10-02 23:38] #617 closed

[2017-10-03 12:38] #354 closed

[2017-10-03 19:55] qwc commented on #624
@shd101wyy Sorry, looks like I've forgotten to add the version of the package itself, but on the other hand I've checked for updates just before writing the issue. So it should have been the latest version at the time of writing the original issue, compatible with the listed Atom version.

[2017-10-04 03:03] abhayghatpande opened #637 "Integrate center-text plugin for markdown-it"
Hi,
Any chance of integrating this plugin: https://www.npmjs.com/package/markdown-it-center-text

It will help quickly center text using -> center text <-

Thanks!

[2017-10-04 13:45] SergeGardien opened #638 "Pandoc: "YAML metadata block" not working"
I'm trying to change the font size of a markdown document with the following YAML block but nothing happens:
[code]

I've already enabled pandoc in markdown-preview-enhanced and it is working fine but not this YAML option (I haven't tried other YAML block options).

Same thing if I add the command "-V fontsize=10pts" in the pandoc commandline arguments. Still nothing happens.

Does it work for you

[2017-10-04 17:03] vitopepito opened #639 "html comments brake scroll sync of preview"
If I have comment sections in my markdown, like so:

the preview will sync as if the comments aren't using any space in the markdown, meaning it is not in sync. The more comments, the more out of sync it is.

Not a huge issue, but I like to make comments sometimes that shouldn't be exported (executed).

[2017-10-04 17:08] shd101wyy commented on #638
To change the fontsize in preview, you need to modify the `style.less` file.
Check https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css

[2017-10-05 03:43] specter119 opened #640 "Not support mathematica"
MPE can't support mathematica (syntax normally in VSCode build-in preview):

- [ ] syntax
- [ ] Code Chunk

test script:

[code]
code chunk output:

[code]

[2017-10-05 06:53] SergeGardien commented on #638
Many thanks @shd101wyy, that works :-)

[2017-10-05 06:53] #638 closed

[2017-10-05 13:53] docfour opened #641 "pdf import - wrong order of pages"
When importing a pdf file, the javascript code reads the files from the file system in lexicographically sorted order which is not the right page ordering.

I suggest to change the code by using string-natural-compare

var naturalCompare = require('string-natural-compare');
and inserting an

item.sort(naturalCompare)

before converting.

[2017-10-07 19:45] dbobak opened #642 "Attaching external YAML metadata block"
Is it possible to attach external YAML file which would be respected when generating preview and pdf with Pandoc? Using @import "header.yml" (or @import "header.md": the same file with changed extension) does not work.

I have a lot of markdown files with the same, quite a long YAML header; it would be very convenient move it to one, external file.

[2017-10-08 00:19] shd101wyy commented on #642
Ok I see. I will support it in the future. Thanks

[2017-10-08 00:26] shd101wyy commented on #641
Hi @docfour ,

I am a bit busy recently. It would be great if you can submit me a pull request for that issue.
The corresponding file is [transformer.ts](https://github.com/shd101wyy/mume/blob/master/src/transformer.ts) at [this line](https://github.com/shd101wyy/mume/blob/master/src/transformer.ts#L704

Thanks

[2017-10-08 01:46] icarlsen opened #643 "Error: spawn [_______] ENOENT"
Getting both `Error: spawn gnuplot ENOENT` and  `Error: spawn erdENOENT` when running the example gnuplot and erd code chunks from the documentation
![2017-10-07 18_45_24-bpsq47 specifications md preview f__onedrive - sfu ca_ballard power systems](https://user-images.githubusercontent.com/15159990/31313181-c76b07e2-ab8f-11e7-925b-5122d0406d2a.png)

[2017-10-08 01:47] shd101wyy commented on #643
That means you don't have `gnuplot` and `erd` installed. You need to have them installed first.

[2017-10-08 01:55] icarlsen opened #644 "Ditaa Renders Broken Image"
![image](https://user-images.githubusercontent.com/15159990/31313217-fd6d3b52-ab90-11e7-8988-5a017aacb3b2.png)
Java is installed.

[2017-10-08 01:59] icarlsen commented on #643
`erd` was not installed, but `gnuplot is.  I use it with Octave.

[2017-10-08 01:59] shd101wyy commented on #643
try run `gnuplot` in terminal. if failed, then you need to add it to your path.

[2017-10-08 02:11] icarlsen commented on #643
![image](https://user-images.githubusercontent.com/15159990/31313286-53ffd9e6-ab93-11e7-820e-e704e9f48d04.png)

`gnuplot_lib` was added, but not `gnuplot`

[2017-10-08 02:11] #643 closed

[2017-10-08 03:20] KasperDeng opened #645 "About Integration with maximize-panes and MPE (v0.14.x)"
本人的atom结合maximize-panes使用markdown-preview-enhanced的，做到个人笔记软件一样的效果。通过把preview pane最大化后，在左边的项目侧边栏里面更换不同的markdown笔记，就能直接在preview pane里面预览，相当于只读模式。当要编辑的时候，按下快捷键，回到文件编辑跟预览对等窗口模式就行了。
但升级到`0.14.11`之后遇到了不少的问题。目前看我安装`0.13.0`是没有以下的问题的。

1. preview render比较慢，这个可能是`0.14.x`版本更新了preview的功能的缘故，估计webview会慢些。
2. 热键冲突： 'ctrl-shift-enter'跟maximize-panes的热键冲突了。我现在临时禁用了`keymaps/markdown-preview-enhanced.cson`下的热键。
3.

[2017-10-08 06:52] dbobak commented on #642
Great, thank you!

[2017-10-08 07:10] dbobak opened #646 "Using variables in output config"
Would it be possible to use environment or local variables and commonly used definitions like $filename, $filetype, $date, $path in the output config? For example:
[code]

[2017-10-09 11:07] KasperDeng commented on #645
The root cause is identified after tracing in developer tool of atom and checking the code between `0.12.3` and `0.12.4`. Below style was updated in version `0.12.4` after code refactoring. The attribute z-index was commented out and is not working now.
[code]
To regress the same behavior with integration with `maximize-panes`. Just remove the comment of z-index attribute in `~/.atom/packages/mark

[2017-10-09 15:26] shd101wyy commented on #645
@KasperDeng 你需要看下 [这个](https://github.com/shd101wyy/mume)。
我最近有点忙，可以的话给我个 pull request 吧。
谢谢

[2017-10-09 15:44] KasperDeng commented on #645
Thanks @shd101wyy . I have read about the project `mume` but failed to add `z-index:999` in the customized css for the markdown-preview section.
Now the workaround for `v0.14.x`, is just to update the code in `~/.atom/packages/markdown-preview-enhanced/out/src/preview-content-provider.js`, like below for `MarkdownPreviewEnhancedView`,
[code]

[2017-10-09 15:57] KasperDeng commented on #645
I think it is only my personal functionality. I like to use markdown to write down my notes/planuml/mermaid and always to checkout/read those in preview mode. It seems currently the work around are ok for me.
But the major concern is the slowly loading *.md to preview by webview. I think you can make progress on it.
Anyway, thanks so much give us a great atom package. It is the best markdown tool.

[2017-10-09 17:35] dpo opened #647 "Export to LaTeX with pandoc"
I'm trying to debug an issue when exporting to PDF with Pandoc via a LaTeX template. In order to have access to the intermediate LaTeX source, I use the following in the YAML header:
[code]
On exporting with pandoc, the popup messages say that `mydoc.tex` was created but it's nowhere to be found.
The console shows the following:

![screen shot 2017-10-09 at 13 34 06](https://user-images.githubuser

[2017-10-09 17:44] shd101wyy commented on #647
[code]

`path` only works with MPE builtin support file types. So you need to add `-o mydoc.tex` to `pandoc_args`

[2017-10-09 18:04] dpo commented on #647
`path` works when I export to html with pandoc, even though it's not a builtin type. If I specify `-o` in the `pandoc_args` and remove `path`, MPE complains that `path` must be specified. If I specify both `path` and `-o`, MPE doesn't complain but the file isn't created either.

Any ideas?

[2017-10-09 18:19] dpo commented on #647
Sorry, my error. The pandoc option `-v` should really be `-V` (capital). It would be great to report an error in a case like this though. For some reason, MPE is happy.

[2017-10-09 18:19] shd101wyy commented on #647
Yes, you are correct. You should just use `path` instead of writing `-o` yourself.
I just tried myself with the following markdown and it works:

[code]

So I think it is your front-matter that caused the problem.

[2017-10-09 18:51] icarlsen commented on #644
`plantUML` rendering seems to be fine but `

<img width="890" alt="2017-10-09 11_49_20-microsoft edge" src="https://user-images.githubusercontent.com/15159990/31353641-20636f98-ace8-11e7-92ce-8402396d3405.png">
<img width="888" alt="2017-10-09 11_48_21-microsoft edge" src="https://user-images.githubusercontent.com/15159990/31353640-205cd6ce-ace8-11e7-8d7b-029d6aa34589.png">

ditaa` hangs the previ

[2017-10-09 18:53] shd101wyy commented on #644
You can't use ditta inside plantuml. It's not supported by MPE yet.

[2017-10-09 18:54] shd101wyy commented on #644
https://github.com/shd101wyy/markdown-preview-enhanced/issues/258

[2017-10-09 18:57] #644 closed

[2017-10-10 09:14] luwantaoChina opened #648 "表格的样式问题。"
您好，我用vs code 写了一个比较大的表格，但是样式不美观。主要是表格的宽度方面出了问题。不能一下看到整个表格，需要利用滚动条，但是表格只占了预览页面的五分之一宽度。表格如下：
[code]

[2017-10-10 18:03] clozach opened #649 "Sample javascript from docs doesn't chunk (NOENT)"
When I paste [the code below](https://shd101wyy.github.io/markdown-preview-enhanced/#/code-chunk) into a markdown file and Run All Code Chunks, the enhanced preview shows:

_code_
\```javascript {cmd="node"}
const date = Date.now()
console.log(date.toString())
\```

_output_
`Error: spawn node ENOENT `

Other code samples work fine, just not _javascript_.

[2017-10-10 18:13] shd101wyy commented on #649
Do you have `nodejs` installed?

[2017-10-10 19:13] clozach commented on #649
I believe so. When I type `node` in Terminal, I get a `>` prompt.

[2017-10-10 19:20] shd101wyy commented on #649
I dunno why. I just tried it on my Mac and it works:

[code]

Try restarting your editor?

[2017-10-10 19:47] clozach commented on #649
Well…that's embarrassing! Yes, restarting worked. Sorry to trouble you. 😬

[2017-10-10 19:47] #649 closed

[2017-10-10 19:49] shd101wyy commented on #649
no problem :)

[2017-10-12 05:42] luwantaoChina commented on #648
![default](https://user-images.githubusercontent.com/26440503/31480918-2a791272-af53-11e7-820a-23cc08e53cae.png)

[2017-10-12 15:36] shd101wyy commented on #648
![screen shot 2017-10-12 at 10 35 45 am](https://user-images.githubusercontent.com/1908863/31504865-1b3259be-af39-11e7-8b23-ec0f37a7e0da.png)

Hello。我的好像没问题。你截个全图？

[2017-10-12 17:50] JacquilynDesigns opened #650 "Option to use *bold*?"
Would it be possible for you to add some sort of setting of congif file option to make a single asterisks bold? I'm to \_italics\_ and \*bold\*, and would really like to use it in atom.

I know this isn't standard markdown behavior, so I wouldn't want it to be the default.

[2017-10-12 17:59] #650 closed

[2017-10-12 18:28] shd101wyy commented on #650
No. That is hard to support. You can ask this issue under [markdown-it](https://github.com/markdown-it/markdown-it) repository.

[2017-10-12 21:48] JacquilynDesigns commented on #650
That's ok. I closed it because I found someone who said the creator of markdown always **always** has had a single * for emphasis or italics. Probably better for me to just learn /get used to standard markdown anyway (and possibly simpler for my own life). Well and I closed it because I couldn't figure out how to delete it.

[2017-10-13 08:38] gaoshuming opened #651 "自动修改内容的问题。"
你好，我有个问题，我的文件每当保存的时候格式自动发生变化，导致好多功能失效了。您知道在哪里设置吗？

[2017-10-13 15:37] shd101wyy commented on #651
这个应该是和你安装的其他插件有关，例如 `atom-beautifier`

[2017-10-14 14:36] dpo commented on #101
Is this still the right strategy to specify hooks, or are we supposed to use the [extend parser](https://shd101wyy.github.io/markdown-preview-enhanced/#/extend-parser?id=extend-markdown-parser) feature now?

[2017-10-14 15:50] dpo opened #652 "Pandoc export with custom markdown parser"
It seems that when I extend the markdown parser and try to export with pandoc, it is the original markdown that is piped to pandoc, not the one coming out of the extended parser.

For example, if `parser.js` contains
[code]
and I write the following markdown document
[code]
MPE correctly prepends a smiley to the headers in the preview, but not in the exported html.

[2017-10-16 13:41] nandoschneider opened #653 "latex is not rendering at all"
I'm trying to set up atom to write with mixed document (markdown & latex) The markdown part gets rendered well. The latex part doesn't get rendered at all.

I'm on a Windows 7 machine. texlive is installed in it's default directory <C:\texlive\2017\bin\win32\pdflatex.exe>. I not sure if this really a markdown-preview-enhanced thing, as the ordinary markdown-preview is also not rendering latex.

I

[2017-10-17 09:21] youngjuning commented on #364
@shd101wyy 是啊，希望你可以引入七牛云，还有另一个图床不能用，直接删了好了

[2017-10-17 11:11] kachkaev opened #654 "TOC not picking ===/--- headers"
Looks like toc does not pick H1 and H2 that use `===`/`---` notation instead of `#`/`#`.

MWE:

[code]

Switching to `#` / `##` makes the headers visible in the TOC again.

[code]

It'd be great if `===(=×n)`/`---(-×n)` were supported too because the headers that are formatted this way are easier to find and read in the markdown source code.

[2017-10-17 21:33] shd101wyy commented on #654
You are correct, `===` and `---` is not currently supported. I would recommend you to use `#` and `##` for now.  Thanks

[2017-10-17 21:34] shd101wyy commented on #652
I will have a look when I have time. Thanks

[2017-10-17 21:35] shd101wyy commented on #364
`youngjuning` 我记得 `sm.ms` 是可以用的啊？
我支持不了七牛，因为我在国外。我试过七牛的账号我都注册不了。。。

[2017-10-17 23:03] youngjuning commented on #364
sm.ms可以，另一个不行

[2017-10-17 23:06] shd101wyy commented on #364
Imgur 国外用的话比 sm.ms 快。国内是被墙了

On Tue, Oct 17, 2017 at 6:03 PM youngjuning <notifications@github.com>
wrote:

[2017-10-17 23:14] youngjuning commented on #364
额，看来我得自己加七牛云了，主要我还不会写atom插件

[2017-10-18 08:43] Cutuchiqueno opened #655 "Fonts are wrong outside of atom"
I use atom 1.20.1 on Ubuntu 16.04 LTS. I tried Google Chrome and Firefox

I have much trouble with the rendering of fonts.

1. The fonts that are not installed on my machine belonging to certain themes such as Helvetica do not show up neither in the atom preview nor in the browser.

2. Other fonts that were also not installed, like Montserrat, showed up in the preview pane but not in the browser.

[2017-10-18 15:35] shd101wyy commented on #655
I will have a look when I have time. Thanks

[2017-10-18 18:40] chbk opened #656 "SHIFT + RETURN shortcut conflicts with find-and-replace package"
In [find-and-replace](https://github.com/atom/find-and-replace), <kbd>shift</kbd> + <kbd>return</kbd> is used to find previous matches. Would it be possible to change the <kbd>shift</kbd> + <kbd>return</kbd> shortcut in this package so it doesn't conflict?

[2017-10-18 18:53] shd101wyy commented on #656
Oh thanks I never thought about that. I will fix this issue in next release when I have time.

[2017-10-20 02:44] CoruNethron opened #657 "Unable to render plotly"
Some variants, that i checked:
[code]
Also tried to replace first string like:
{javascript ...}
javascript {...}

Also, unable to see anything when try:
[code]

Tried to install "browser-plus" package - no change.

Also, next code works nice:
[code]
So, i can see "Hello" under code.

May be i miss something to get javascript to run like in browser?

[2017-10-20 15:42] shd101wyy commented on #657
@CoruNethron Oh I forget to update the docs. Try the following code:

<pre>
@import "https://cdn.plot.ly/plotly-latest.min.js"

[code]
</pre>

![screen shot 2017-10-20 at 10 41 25 am](https://user-images.githubusercontent.com/1908863/31829580-526a0c06-b583-11e7-82f2-09ea7a0b9672.png)

[2017-10-20 18:22] lark79 opened #658 "Break On Single New Line, does not work."
"Break On Single New Line"
I checked, but the function does not work.

[2017-10-20 18:24] shd101wyy commented on #658
try restart? but it should work. i will have a look when i have time.

[2017-10-22 00:24] CoruNethron commented on #657
Thanks, now it works w/o any additional plugins ~ out of box. So, closing issue.

[2017-10-22 00:24] #657 closed

[2017-10-22 19:28] ydms opened #659 "预览时不能使用全角空格作为缩进。"
[code]

现在要使用两个 &ems 来代替缩进，看起来不是那么简洁，有办法代替吗？例如使用全角空格:　　。一个全角空格代表一个字符。

[2017-10-22 19:32] ydms commented on #659
使用的是 vscode。

[2017-10-23 16:38] scarwire opened #660 "stdout maxBuffer exceeded on long documents"
Hello everyone,

In a long markdown document, going beyond a certain length will result in a "stdout maxBuffer exceeded" error and the preview will fail.

Minimal example: fill a document with lorem ipsum or other random text for 204183 characters. Preview will work fine. Then add one or more extra characters and the preview will fail.

Similar to [this issue in another package](https://github.com

[2017-10-23 21:07] eugenega opened #661 "Exectuting pandoc does not for plantuml"
Hello,
I have these specs:
output:
  word_document

I work in Visual Studio Code
When I Right Click in preview and choose Pandoc I have no plantuml diagrams represented in word docuemnt even so I have them in preview. Is it a bug?

[2017-10-24 00:19] shd101wyy commented on #660
@scarwire Thanks for reporting this. I am busy recently. I will fix this issue when I have time.

[2017-10-24 14:12] xnervwang commented on #34
It seems this feature has some problems working with project-manager. Since I would switch between multi projects, markdown-preview-enhanced sometimes uses root path of project B when I'm editing a file in project A.

[2017-10-24 18:44] shd101wyy commented on #661
@eugenega You will need to have `imagemagick` installed.
Please check https://imagemagick.org/script/download.php

[2017-10-24 19:26] eugenega commented on #661
ImageMagick is of cause installed on my PC. I mentioned in my post above that it does work for some images. But not for all.

[2017-10-24 19:30] shd101wyy commented on #661
@eugenega you sure you have `magick` command in your system path? Because it failed to run `magick` command.

If that's not the cause, I will have a look when I have time. Thanks.

[2017-10-24 19:38] eugenega commented on #661
This is what i have:
C:\..........>magick
Error: Invalid argument or not enough arguments

Usage: magick [ {option} | {image} ... ] {output_image}
       magick [ {option} | {image} ... ] -script {filename} [ {script_args} ...]
       magick -help | -version | -usage | -list {option}

[2017-10-24 23:50] erikh2000 opened #662 "Save as Markdown doesn't generate images for graphs."
Thanks for putting this great software together! I am running freshly installed MPE v0.14.11.

1. I have a simple test .md like this:

[code]
(the file also includes the code fencing Markdown syntax, which I can't easily represent in Github's text editor)

2. From the preview window, I see the graph rendering as expected.
3. I choose "Save as Markdown". A message inside Atom IDE indicates successf

[2017-10-25 00:12] shd101wyy commented on #662
Hi @erikh2000 , `Save as Markdown` doesn't support mermaid graph yet.

[2017-10-25 00:18] erikh2000 commented on #662
Thank you for your reply! Maybe it would be good to leave a note in the docs that says that.

Best wishes for your continued work on this great project.

[2017-10-29 05:27] youngjuning commented on #145
安装了phantomjs，还是提示我没有安装，需要指定路径吗？

[2017-10-29 05:36] youngjuning opened #663 "我下载了phantomjs但是还是提示错误"
![2017-10-29_133505](https://user-images.githubusercontent.com/13204332/32140965-03db331c-bcae-11e7-919e-dcd8ab617d35.png)

![2017-10-29_133556](https://user-images.githubusercontent.com/13204332/32140966-22b787cc-bcae-11e7-8d7a-47db9438b63b.png)

[2017-10-29 05:52] youngjuning commented on #663
@shd101wyy 我重新 npm install ,还是报错

[2017-10-29 06:25] shd101wyy commented on #663
得把 phantomjs 添加到系统路径。cmd 得能运行它才行

On Oct 29, 2017 12:52 AM, "杨俊宁" <notifications@github.com> wrote:

[2017-10-29 06:48] youngjuning commented on #663
1. 执行什么命令测试

[2017-10-29 06:53] youngjuning commented on #663
@shd101wyy 你是指系统的环境变量吗？

[2017-10-29 07:01] youngjuning commented on #663
@shd101wyy 麻烦了，我已经解决了，不是通过npm下载，而是要去官网下那个才行，谢谢你

[2017-10-29 07:01] #663 closed

[2017-10-29 07:08] shd101wyy commented on #663
没事儿～

On Oct 29, 2017 2:01 AM, "杨俊宁" <notifications@github.com> wrote:

[2017-10-30 07:24] navy2016 opened #664 "无法开启啊"
快捷键没用啊，也没有快捷键冲突，求助，谢谢

[2017-10-30 11:24] dbobak opened #665 "Pandoc 2.0 - latex-engine changed to pdf-engine"
In the newest version of pandoc (2.0), option `--latex-engine` changed to `--pdf-engine` (as well as `--latex-engine-opt` to `--pdf-engine-opt`, so there is no possibility to generate pdf from markdown now (pandoc returns error).

[2017-10-30 13:13] ZYYaoYaoYao commented on #664
Please type Ctrl+k first, and then release the two keys. Then you can type a 'v' to open the preview window.

[2017-10-30 13:43] shd101wyy commented on #665
I see. I will fix it this weekend. Thanks!

On Oct 30, 2017 6:24 AM, "Darek Bobak" <notifications@github.com> wrote:

[2017-10-30 13:46] shd101wyy commented on #664
cmd+shift+p 然后看看有没有 markdown preview enhanced 相关的命令。没有的话就说明你现在没安装成功

[2017-10-30 14:56] seveniruby opened #666 "ebook pdf export error with utf8 string link"
when markdown content is filled with utf8 string
[code]
use ebook pdf export error with such message
[code]

[2017-10-30 14:57] shd101wyy commented on #665
Before I fix this issue, you can use [custom document](https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc-custom) instead.

[2017-10-30 15:52] shd101wyy commented on #666
好的我这周末修一下。谢谢。

[2017-10-30 16:18] dbobak commented on #665
Thank you!
I've forgotten about custom document option, so in the meantime, I've manually modified `pandoc-convert.js` :)

BTW, is it possible to specify in the custom document format to generate file of the same name, as source? Something like:

[code]

[2017-10-30 18:28] daizhirui opened #667 "Mac vs code 中markdown-preview-enhanced的菜单完全没有响应"
即使我重装vscode，只装这一个插件也不行，已经排除了插件冲突

[2017-10-30 18:37] shd101wyy commented on #667
@daizhirui 什么菜单？

[2017-10-31 02:10] daizhirui commented on #667
<img width="1680" alt="2017-10-31 10 02 20" src="https://user-images.githubusercontent.com/26495795/32204305-624529b4-be23-11e7-9473-d23001322b7f.png">
又进行了一下测试，我这个markdown文件在预览的时候，菜单无法响应。
<img width="1680" alt="2017-10-31 10 05 49" src="https://user-images.githubusercontent.com/26495795/32204337-859fc144-be23-11e7-9275-bcbaf1b2f838.png">
但是写一个简单的测试文件，菜单响应正常。
[HOMEWORK#7_15307110218.md.zip](https:

[2017-10-31 02:20] shd101wyy commented on #667
@daizhirui 我研究了下，貌似是因为你的文件名有 `#` 的缘故。现在你可以先把它给删除了，例如把 `HOMEWORK#7_15307110218` 换成 `HOMEWORK_7_15307110218` 然后就好了。我这周末看着修一下。

谢谢～

[2017-10-31 05:36] qiqi789 opened #668 "new feature request: auto search when typing a citation key"
Hello, I wanted such a feature that it would automatically search and complete for citations when I typed  a citation key. Not sure whether this is easy to do in the package. Thanks.

[2017-10-31 05:46] daizhirui commented on #667
我试了一下，确实是这个“#”搞的鬼，不过atom版的没有这个问题。

[2017-10-31 06:16] navy2016 commented on #664
您好，我是win10,64位，按ctrl+shift+P可以找到 markdown preview enhanced 相关的命令啊，我截了图，您帮我看一下，是什么问题

------------------ 原始邮件 ------------------
发件人: "Yiyi Wang";<notifications@github.com>;
发送时间: 2017年10月30日(星期一) 晚上9:46
收件人: "shd101wyy/markdown-preview-enhanced"<markdown-preview-enhanced@noreply.github.com>;
抄送: "简小飞"<2603451187@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [shd101wyy/markdown-preview-enha

[2017-10-31 06:33] navy2016 commented on #664
您好，按照您的提示，但还是没法启动啊，请问这是什么原因啊？
谢谢您

------------------ 原始邮件 ------------------
发件人: "Yao Zou";<notifications@github.com>;
发送时间: 2017年10月30日(星期一) 晚上9:13
收件人: "shd101wyy/markdown-preview-enhanced"<markdown-preview-enhanced@noreply.github.com>;
抄送: "简小飞"<2603451187@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [shd101wyy/markdown-preview-enhanced] 无法开启啊 (#664)

Please type Ctrl+k first, and th

[2017-10-31 06:33] shd101wyy commented on #664
看不到截图啊。你是怎么安装的呢？我推荐直接通过编辑器安装而不是手动安装

[2017-10-31 15:21] seveniruby commented on #666
看起来是对utf8进行解析的时候拼接的不太对.

[2017-10-31 16:36] navy2016 commented on #664
您好，也是直接通过编辑安装的啊，能找到你说的那些项目，就是快捷键无反应，但是用自带的markdown-preview是可以用的呀
------------------ 原始邮件 ------------------
发件人: "Yiyi Wang";<notifications@github.com>;
发送时间: 2017年10月31日(星期二) 下午2:33
收件人: "shd101wyy/markdown-preview-enhanced"<markdown-preview-enhanced@noreply.github.com>;
抄送: "简小飞"<2603451187@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [shd101wyy/markdown-preview-enhanced] 无法开启啊 (#664)

[2017-10-31 16:48] shd101wyy commented on #664
你得把自带的 markdown—preview 给禁掉

On Oct 31, 2017 11:36 AM, "navy2016" <notifications@github.com> wrote:

[2017-10-31 19:39] shd101wyy opened #669 "There might be a update this weekend."
After you finish upgrade this package this weekend (November 4th).
Please upgrade `pandoc`to version `2.0.*.*`.

[2017-11-01 09:55] ErrolLin opened #670 "I can't sync scroll and live preview"
this week, I update some packages, then My markdown package does not work at all.

It can't sync scroll, and it can't auto update context

this is my installed package list
[code]

[2017-11-01 13:05] navy2016 commented on #664
您好，自带有禁用的，刚刚原因找到了，原来是新建的，需要我保存（ctrl+S）之后，快捷键ctrl+shift+M才能生效！

非常感谢！

------------------ 原始邮件 ------------------
发件人: "Yiyi Wang";<notifications@github.com>;
发送时间: 2017年11月1日(星期三) 凌晨0:48
收件人: "shd101wyy/markdown-preview-enhanced"<markdown-preview-enhanced@noreply.github.com>;
抄送: "简小飞"<2603451187@qq.com>; "Author"<author@noreply.github.com>;
主题: Re: [shd101wyy/markdown-preview-enhanced] 无法开启啊 (#66

[2017-11-01 18:55] shd101wyy commented on #670
@ErrolLin Did you disable `markdown-preview` package?
You can try opening the developer tool (`View -> Developer -> Toggle Developer Tools`) then check if there is error happened in the javascript console.

Thanks

[2017-11-01 18:55] #664 closed

[2017-11-02 04:24] ErrolLin commented on #670
I can sync scroll and live preview now.
I open another .md file can sync scroll and live preview.
so I copy it to cracked md file, then reinsert the content, it work
amazing!

[2017-11-02 05:36] #670 closed

[2017-11-02 05:38] ErrolLin opened #671 "about issue #670"
I find the porblem

but I don't know why, maybe is that js code in code segment

e.g.,
# Webpack

### exports

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-11-02 05:44] shd101wyy commented on #671
@ErrolLin That's interesting. I will test it this weekend. Thanks!

[2017-11-02 05:45] shd101wyy commented on #671
Are you using pandoc parser?

[2017-11-02 05:47] ErrolLin commented on #671
no I'm not using panic parser

[2017-11-02 08:50] ErrolLin commented on #671
key word: export

[2017-11-03 05:36] wqfantexi opened #672 "imagehelper filename has space,vscode cannot priview"
本地文件生成的文件名中 class model中间有空格，vscode无法显示，把空格去掉就可以了。

谢谢

[2017-11-03 07:08] shd101wyy commented on #672
你的图片名是什么呢？可否发给我看看？

[2017-11-03 18:39] yampelo opened #673 "toggle live update in vscode"
Can this option be added to the vscode plugin? its in the atom one but not in vscode

[2017-11-03 18:41] shd101wyy commented on #673
Roger

On Nov 3, 2017 1:39 PM, "Omer Yampel" <notifications@github.com> wrote:

[2017-11-04 15:59] loupipalien opened #674 "Inverse trigonometric function"
it seems not to support all inverse trigonometric function, such as \arccot, \arcsec, \arccsc

[2017-11-05 01:05] shd101wyy commented on #671
Are you using atom or vscode?

[2017-11-05 14:48] HQY17 opened #675 "图片处理"
对于markdown的图片处理可否更加的简单一些，例如我使用QQ截图后，直接可以在编辑区进行复制粘贴，类似于马克飞象那样~

[2017-11-05 15:10] sonnyhcl commented on #394
遇到了同样的问题来此一游~
能不能限制一下preview窗口的总数量
以及把preview窗口与文件绑定

[2017-11-05 15:19] ErrolLin commented on #671
atom

[2017-11-05 15:22] yampelo commented on #674
Are you sure those are supported in latex? : https://tex.stackexchange.com/questions/48166/is-there-a-command-for-inverse-secant-arcsec

[2017-11-05 21:18] shd101wyy commented on #671
I found the cause of the issue. Will be fixed soon.

[2017-11-05 21:20] shd101wyy commented on #646
It is hard to support. Because I need to support different operating systems.

[2017-11-05 22:19] shd101wyy commented on #674
I agree with @yampelo 's answer.

[2017-11-06 01:46] gepcel opened #676 "Feature Request: Export documents via Command Palette."
Is there any way to export a document through `Command Palette`, and binding some export to a key shortcut?

I know this is a "Markdown Preview ..." package, so `Preview` is the key point, to export documents via the context menu of preview pane is obvious. And it is indeed very useful to write documents while can previewing the output at the same time. But:

* Sometimes when I write a **very litt

[2017-11-06 01:51] shd101wyy commented on #676
@gepcel Some features of this package like `mermaid` and `wavedrom` diagrams requires the preview to be open first.

I might support your request in the future.

Thanks

[2017-11-06 02:06] gepcel commented on #676
Ok, noted. May be pandoc first?

[2017-11-06 02:27] shd101wyy commented on #675
这个因为 electron 的 NativeImage api 限制问题有点难以实现。你可以先尝试下其他人的图片插件。

[2017-11-06 02:27] shd101wyy commented on #673
@yampelo Done.

[2017-11-06 02:27] shd101wyy commented on #672
@wqfantexi done.

[2017-11-06 02:27] shd101wyy commented on #671
@ErrolLin Fixed now. Thanks.

[2017-11-06 02:28] shd101wyy commented on #667
@daizhirui Fixed now.

[2017-11-06 02:28] shd101wyy commented on #666
@seveniruby Fixed now.

[2017-11-06 02:29] shd101wyy commented on #665
@dbobak `--latex-engine` is now changed to `--pdf-engine`.

[2017-11-06 02:29] shd101wyy commented on #660
@scarwire Fixed now. Thanks.

[2017-11-06 02:29] shd101wyy commented on #656
@chbk Should be fixed now. Thanks.

[2017-11-06 02:29] shd101wyy commented on #655
@Cutuchiqueno The font issue is fixed now. Thanks.

[2017-11-06 02:31] shd101wyy commented on #641
@docfour Done. Thanks.

[2017-11-06 02:31] #590 closed

[2017-11-06 02:47] #671 closed

[2017-11-06 04:05] yampelo commented on #673
@shd101wyy  is this in 0.3.0 on vscode? I can't find

[2017-11-06 04:07] #673 closed

[2017-11-06 08:28] dbobak commented on #665
Great, thanks! Works with no problem.

[2017-11-06 09:22] #409 closed

[2017-11-06 09:32] Cutuchiqueno commented on #655
Thank you very much!

[2017-11-06 09:32] #655 closed

[2017-11-06 11:11] fibis opened #678 "MathJax in phantomjs export very small"
When I export my document via PhantomJS -> PDF is there a problem with MathJax export. The font is really small compared to the other letters:
![screenshot_11](https://user-images.githubusercontent.com/7265809/32438602-613bbffc-c2eb-11e7-9051-da67bbba40d4.png)
With KaTex is there no problem.

[2017-11-07 14:52] zahachtah opened #679 "simple way to remove frame of images in slides?"
I need to use the white theme but it adds a black frame around images/figures I add with ```![](path)```. Is there a simple way to turn that off, besides finding and hacking the theme file?

Many thanks, this markdown editor is pretty amazing!

[2017-11-07 14:54] shd101wyy commented on #679
Can you please show me a scrrenshot? Thanks

On Nov 7, 2017 8:52 AM, "Jon Norberg" <notifications@github.com> wrote:

[2017-11-07 15:02] zahachtah commented on #679
<img width="977" alt="screen" src="https://user-images.githubusercontent.com/5242870/32500255-1ada76da-c3d5-11e7-8ffd-5ef875cba59a.png">

[2017-11-07 17:15] shd101wyy commented on #679
@zahachtah Does you image file itself have a black frame?

[2017-11-07 20:12] zahachtah commented on #679
No

[2017-11-07 22:26] shd101wyy commented on #679
Hm that's weird. Can you please send me a zip of your source files? Thanks.

[2017-11-08 06:07] Timhernandez opened #680 "Uncaught TypeError: Cannot read property 'destroyItem' of undefined"
[Enter steps to reproduce:]

1. open md file
2. shift+ctrl+m for markdown preview
3. error
(Can also be reproduced with selecting from toolbar)
Restarting Atom does not solve error.

**Atom**: 1.23.0-beta0 x64
**Electron**: 1.6.15
**OS**: Microsoft Windows 10 Pro Insider Preview
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.0

###

[2017-11-08 09:28] zahachtah commented on #679
[Archive.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1453248/Archive.zip)

I found multiple ways to get rid of it, one is to add:

[code]

at top of document

or instead of ```![](path)``` I just write

[code]
or

[code]

[2017-11-08 16:24] shd101wyy commented on #680
Try reinstalling this package?

[2017-11-08 17:52] shd101wyy commented on #679
@zahachtah I think that is the default style of revealjs white theme.
To remove border, you can also run `Markdown Preview Enhanced: Customzie Css` command then modify the style.less file like below:

[code]

Thanks

[2017-11-08 17:52] shd101wyy commented on #678
@fibis I will have a look when I have time. Thanks.

[2017-11-09 16:27] cbuteau commented on #543
I had the same problem after a reboot.
When I brought up the command-palette I found no markdown preview enhanced.

I found uninstalling and reinstalling it fixed it.

![image](https://user-images.githubusercontent.com/1906839/32616571-9fd0d232-c540-11e7-9e0b-4465b43e8dce.png)

[2017-11-09 16:28] shd101wyy commented on #543
@cbuteau how did you install this package?

[2017-11-10 03:04] RickTorresJr commented on #665
I was unable to render any PDFs from the Right Click --> Pandoc feature due to this change while having pandoc 1.19.2.1 installed.  Installing pandoc 2.0.1.1 fixes the below error. Thanks for this thread.

[code]

[2017-11-10 13:49] cbuteau commented on #543
Through atom.

[2017-11-11 08:44] ketozhang opened #682 "Math mode and environment autocomplete"
Wrong repository, thought this was vscode-markdown-preview-enhanced. Please close

[2017-11-11 09:39] alvis opened #683 "[Suggest] option for python path in preference"
Python has an interesting ecosystem. Instead of the default global install from the OS, it is usually used within a virtual environment managed by anaconda or alike.

The consequence is that the path of the python binary from these environments is not usually attached to $PATH, and hence the code in the chunk cannot find the right packages.

Let me give an example case. I use MacOS and the default

[2017-11-11 13:25] flamed0011 opened #684 "Include external javascript files and execute functions from code blocks"
What I'm trying to achive is to define a global javascript function which can be triggered from various javascript code blocks.

Custom lib.js file to import:
[code]

In a previous version it was possible to require above lib.js from code blocks and trigger the function as following:

[code]

This is also documented here:

https://github.com/shd101wyy/markdown-preview-enhanced/blob/master/test/cod

[2017-11-12 08:07] tzkang opened #685 "不支持Markdown参考链接语法？"
您好，使用您的VScode插件后，感觉很棒，但是，在编辑文本的时候发现一个问题，就是您的插件好像不支持参考链接的语法。如下：
[code]
而是只能支持行内式链接
[code]
请问可以优化这个功能吗？

[2017-11-12 08:43] shd101wyy commented on #685
@tzkang

[code]

就好了，你得空一行。

[2017-11-12 08:43] #685 closed

[2017-11-12 08:49] shd101wyy commented on #684
If you want to use nodejs, you can write it like this:

    @import "./lib.js" {cmd="node" id="global"}

[code]

So you import `lib.js` file, and give it a id `global`. The second code chunk continue from the id `global`.

[2017-11-12 10:22] flamed0011 commented on #684
Hi Yiyi, works very nicely. Thank you so much for all your great work!

[2017-11-12 10:22] #684 closed

[2017-11-13 10:05] kriebb opened #686 "PlantUml Diagrams are not generated"
Hi,

It seems ,when installing the plugin in VS Code, or in Atom, the PlantUml diagrams are not generated.

In VSCode normal preview, they are generated:

So VS Code:

![image](https://user-images.githubusercontent.com/992622/32719930-4487c5d2-c862-11e7-80f9-d47b9105a45a.png)

Enhanced Markdown preview (atom or vscode)
![image](https://user-images.githubusercontent.com/992622/32720024-997afad2-c86

[2017-11-13 10:19] specter119 commented on #683
@alvis I'm not the author, but I have some suggestions for you.

1. use `pyenv`, you can easily install  `minicanda`by `pyenv`. It can solve most cases when you work with console, and also work for MPE if you run chunk with `{cmd=True}`.

1. use local setting for specific folder(project) (adapt `python.pythonPath` in `.vscode/settings.json`), this will help you handle all cases with python in your

[2017-11-13 11:58] zahachtah commented on #679
All works great, thanks a lot!

How do I add vertical slides using this markdown editor? in html it nesting <section> tags...?

[2017-11-13 11:59] #679 closed

[2017-11-13 16:17] shd101wyy commented on #679
@zahachtah  ``

[2017-11-13 16:24] zahachtah commented on #679
Yes, thanks, i found it. Just missed it while reading the documentation

[2017-11-13 18:11] mcondarelli opened #687 "Installation error"
I tried to install (directly from within Atom) and I got an error.
I reported it as prompted ([here is bug report](https://github.com/atom/atom/issues/16175#issuecomment-343974243)), but I was redirected here by maintainers.

Please have a look.
I will be available to help, but I have no clue on error itself and on how to track it down.

Regards

[2017-11-13 18:45] shd101wyy commented on #687
Which version of atom are you using?

[2017-11-13 19:42] aerophagiano commented on #181
+1
I think that a cli driven export would be a killer feature!
By now I have to rely on pandoc for an automated "build" of all my md docs :) but I'm missing many cool features (i.e. the awesome "@import")  Do you have any hint on how to use pandoc (or similar) to batch translate markdown to html with that feature?

[2017-11-13 23:30] shd101wyy commented on #181
I would recommend you to check [mume project](https://github.com/shd101wyy/mume), which powers the markdown preview enhanced package.
You can use that library to build command line tool.

[2017-11-14 08:05] gepcel opened #688 "[QUESTION] Is there a way to specify the title of TOC?"
When exporting a file to pdf by through pandoc like this:
[code]
or a word file like this:
[code]
I will get a pdf file with a TOC. The title (caption) of the TOC is "Contents"
Or a docx file with TOC, the title (caption) of which is "Table of Contents"

Is there a way I can change that to others (目录 for example)?

[2017-11-14 08:18] mcondarelli commented on #687
I just installed v. 1.22.0

[2017-11-14 11:00] alvis commented on #683
@specter119: Thanks for your suggestion. Sadly, it doesn't seem to work with atom.

The currently implementation is that MPE looks for the executable from `$PATH` as
https://github.com/shd101wyy/markdown-preview-enhanced/blob/b17dc5b12188e7cce904d0dce829d23cad2bda7e/lib/code-chunk.coffee#L147

Therefore, without the ability to modify `cmd` or `$PATH`, MPE can't pick the right executable. I don't u

[2017-11-14 14:26] specter119 commented on #683
@alvis Emmm,  but `pyenv` really changes the `python` in $PATH depending on your $PWD. I think you may have a try.

[2017-11-14 16:21] shd101wyy commented on #687
Try installing from the terminal. `apm install markdown-preview-enhanced`.

[2017-11-14 18:02] mcondarelli commented on #687
Installing from command line works.

[2017-11-14 19:27] shd101wyy commented on #687
I actually don't know why the installation failed in atom. May I close this issue?

[2017-11-14 20:28] aerophagiano commented on #181
oh gosh! Exactly what I was looking for! Awesome.

[2017-11-15 08:38] mcondarelli commented on #687
I will close the issue.
If You want to dig into the problem You can contact me.

While I have You on line: Is there any plan to support also Textile?

[2017-11-15 08:38] #687 closed

[2017-11-15 16:18] xu4wang opened #689 "error svg file format generated by puml"
The input puml block is as below:

[code]
I was trying to generate pdf file using pandoc, the generated svg file(attached)  is with wrong format.

[mume-svg1171016-19209-9ota21.5zk7w4s4i.svg.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1475434/mume-svg1171016-19209-9ota21.5zk7w4s4i.svg.zip)

[2017-11-15 16:24] xu4wang commented on #689
The "markdown preview window" and "browser view" works with no issue.

[2017-11-16 07:03] yxunknown opened #690 "crash with more than 1300 lines files"
always crash, when i am editing a file which is more than 1,300 lines and 30,800 Chinese characters in VS Code.

[2017-11-16 07:37] shd101wyy commented on #690
Could you please send me your file? Thanks

On Nov 16, 2017 1:03 AM, "yxunknown" <notifications@github.com> wrote:

[2017-11-16 09:47] alvis commented on #683
@specter119 you're right that pyenv fix $PATH in console. However, the environment cannot be picked up by atom since it is run under different shell. Therefore MPE would only pick up the default $PATH, not the new $PATH patched by pyenv.

A workaround in this case would be launching atom from the console after $PATH is patched, so that atom can pick up $PATH from the shell. However, it is far from

[2017-11-16 15:31] scokobro opened #691 "Vega diagram rendering (MPE vs Vega Editor)"
I have a json file imported into a markdown document 'as vega-lite'; it renders _incorrectly_ in MPE while producing the expected output in the Vega website's editor (see below). Just wonder if there was any solution/explanation?

<img width="402" alt="mpe" src="https://user-images.githubusercontent.com/1475484/32899394-dbec9e86-cab8-11e7-9b78-bda1434c2131.png">This is the output in MPE

<img widt

[2017-11-16 18:07] shd101wyy commented on #691
@scokobro can you send me your files? I will have a look when I have time. Thanks.

[2017-11-17 01:27] gvgramazio opened #692 "Atom crashes if a change in settings is made while the preview is open."
Atom crashes if a change in settings is made while the preview is open. If the preview is closed the change can be made without any problem.

[2017-11-17 15:37] mcondarelli opened #693 "PDF eBOOK preparation"
I am struggling to export in a single PDF document a bunch of interconnected wiki pages (Markdown format) containing pictures (mainly .png) and PlantUML diagrams.

After a lot of trial-and-error I discovered I have to prepare a separate SUMMARY.md, adding the front-matter at beginning of first page is not enough.

I managed to do *almost* all I need; few problems remain:
* the standard wiki page c

[2017-11-17 16:07] mcondarelli commented on #693
The "blank page" problem occurs even inside a single "chapter" whenever I have a level2 ("## Title") section header.
I worked around the problem using only level2+ headers, but that's not a real solution.

The "cover.png" problem pops again if I convert the book more than once; i.e.: if I change something, re-save and export again then export fails  with error:

    IOError: [Errno 2] No such file

[2017-11-17 16:38] shd101wyy commented on #692
That's weird. I will have a look when I have time. Thanks.

[2017-11-17 17:12] scokobro commented on #691
Hi - this is an MD file containing a MWE ...

[code]

Thanks for your help!

[2017-11-17 21:31] gvgramazio commented on #692
Until now this happens for almost all settings. I tried to modify style.less for custom CSS and the same thing happenes: if the preview is closed there is no problem, if the preview is open atom unexpectedly closes. I don't know if it's a real crash because windows doesn't notify me any crash.

P.S. I really love your package, you did a very good job.

[2017-11-17 21:38] gvgramazio opened #694 "[REQUEST] The complete list of all languages supported by fenced code block"
Can you add in the docs a complete list of all languages supported by fenced code block? Or, if you using an outside package to manage the highlights will be enough just say what it is. Also, it would be good if you add in the docs a way to change the CSS of fenced code blocks, thanks.

[2017-11-17 21:43] shd101wyy commented on #694
I am using [prism.js](http://prismjs.com/) to highlight fenced code blocks.
Check: http://prismjs.com/#languages-list

[2017-11-18 07:45] yxunknown commented on #690
Sorry for replying you until now because of busy with my exam!!! Last two days The MPE Preview didn't crash again, i don't know whether if i edit it from head ,and today i append some contents to test but not crash.If the MPE crash again i will take some screen captures and more info,Thanks your reply to my issue report!And the MPE Preview is a really helpful tools.

[2017-11-19 13:02] eliiik opened #695 "">" symbol in table is not being rendered in preview."
The markdown file looks like this, with only **greater than** symbol(>) in a unit of the table (line **148**).

<img src="https://user-images.githubusercontent.com/11450267/32990665-6504e500-cd68-11e7-8e49-d1a7be206cc3.png " width="40%">

|the ">" symbol disappears in MPE|It works OK with VSC built-in markdown preview. |
|:------:|:------:|
|<img src="https://user-images.githubusercontent.com/1145

[2017-11-19 15:07] mirage3d opened #696 "Single images not rendering in table cells"
Single images do not render in table cells anymore. They used to render correctly, but not anymore. If another image or another letter is added to that cell, the image renders ok.
Other markdown previewers show single images fine with no problem.
It used to work earlier in the morning, but after I wanted to continue work, it doesn't anymore. I suspected maybe other plugins interfere, so I disabled

[2017-11-19 15:11] kudou opened #697 "code preview problem"
I found I have to write without any blank  at first ,so that the code can be preview,if not ,it could not be rendered well
is there anything I need to set?
no blanks ```css
  render succcessfully
[code]

[2017-11-19 16:14] shd101wyy commented on #695
Go to settings of this packagr and disable extended table syntax.

On Nov 19, 2017 7:02 AM, "ErikSheng" <notifications@github.com> wrote:

[2017-11-19 16:35] shd101wyy commented on #696
Could you please see the your files? Thanks

On Nov 19, 2017 9:07 AM, "Salam Horani" <notifications@github.com> wrote:

[2017-11-19 16:50] mirage3d commented on #696
Here are sample the files using two different table styles. They should be in the same folder for ease...

Source:
[code]
![key-a](https://user-images.githubusercontent.com/56555/32992955-399d2926-cd8c-11e7-8fe2-7407c725fd13.png)
![mouse-move](https://user-images.githubusercontent.com/56555/32992956-39d21b7c-cd8c-11e7-88f9-a2b4bc7a71f1.png)

[2017-11-19 17:12] mirage3d commented on #696
Found the culprit!!!

![screen shot 2017-11-20 at 1 00 57 am](https://user-images.githubusercontent.com/56555/32993091-58d76c64-cd8e-11e7-8cea-84f458f15203.jpg)

This setting was "on". Proper image rendering works after I turned this off.
Still probably a bug, but this is a workaround for me.

[2017-11-21 12:52] leolf commented on #132
You are really amazing!!

[2017-11-21 23:40] shd101wyy commented on #697
Your code content also needs correct number of spaces.
Send me a screenshot?

[2017-11-22 12:42] Defossez opened #698 "Keeps in the "Loading Preview" state in Atom 1.22.1 x64"
Hi,

Installed this package onto Atom.
It worked for a while, but since a week or so it keeps displaying a round going circle and text "Loading Preview".
Loading a markdown text file needs right click to turn teh package on and then it's doing what's described above. What is wrong?
I have this package installed with two other markdown packages: language-markdown and linter-markdown. Is that not al

[2017-11-22 14:41] shd101wyy commented on #698
Which version of this package are you using?

On Nov 22, 2017 6:42 AM, "Marc Defossez" <notifications@github.com> wrote:

[2017-11-22 17:43] Defossez commented on #698
Hi,

Version 0.15.0.
Guess it's the latest version.

Regards,

Marc

Marc Defossez
Volmolenheide 38
2400 Mol – Antwerpen    Tel: +32 14 319 632
Belgium Eml: marc.defossez@gmail.com <mailto:marc.defossez@gmail.com>

*P**Please do not print this e-mail unless you really need to.*

This email and any attachments are intended for the sole use of the
named recipient(s) and contain(s) confidential infor

[2017-11-22 18:46] shd101wyy commented on #698
Try to disable other extensions. If that doesn't help, open developer tool and check if there is error appeared in the console. If so, send me a screenshot. Thabks.

[2017-11-23 07:26] Defossez commented on #698
HI,

Disabling other markdown extensions didn't help.
Running the developer mode did not reveal anything, no errors nor warnings.
But I found the problem!

A month or so ago I asked via Atom discuss about extracting comments,
written in MD style, from VHDL files to kind of automate making of
documentation.
I got two answers.
      - One added some code to the init.coffee file.
     - One was about

[2017-11-23 07:27] sylens9 opened #699 "Utf-8 link in TOC doesn't work in PDF exported from chrome"
test.md:

[code]
Create TOC:

[code]

Open in browser, or export offline HTML:

[code]

The link of "测试" works in browser.

In chrome, print to PDF, the link "test" works, but the link "测试" doesn't work.

I manually change the id of h2 tag to "%E6%B5%8B%E8%AF%95", like:

[code]

then the link works in both browser and PDF.

Cound MPE generate the HTML code in such format?

[2017-11-23 07:32] shd101wyy commented on #698
Can you send me your markdown file? Thanks

On Nov 23, 2017 1:26 AM, "Marc Defossez" <notifications@github.com> wrote:

[2017-11-23 09:29] Defossez commented on #698
Hi,

Here it is,
It's a test markdown file, but it does what it need to do.

Kind regards,

Marc

Marc Defossez
Volmolenheide 38
2400 Mol – Antwerpen    Tel: +32 14 319 632
Belgium Eml: marc.defossez@gmail.com <mailto:marc.defossez@gmail.com>

*P**Please do not print this e-mail unless you really need to.*

This email and any attachments are intended for the sole use of the
named recipient(s) and

[2017-11-24 02:13] werunom opened #700 "How to use tikz latex code in markdown?"
Hi...was trying use tikz latex code snippet in markdown. I followed the instructions provided in the package-manual, but the diagram is not generated.

Below is the sample markdown
[code]
(Note: Here, while writing about the issue, I am not able to close the blockquote [\`\`\`] in the above sample code properly)

Can you please guide where I am going wrong?

PS: I have installed pdf2svg

[2017-11-24 06:17] sherlockbear opened #701 "为什么不以此为基础做一个.md文件浏览器呢？"
一个不成熟的小建议：如果不麻烦的话，能不能做一款以**只读模式浏览.md文件**的软件，这样的话阅读.md文件就不需要打开编辑器或者导出pdf文件了

[2017-11-25 11:53] yuhr commented on #464
Hi there, XyJax is not working with my config:

[code]

Maybe I have to download `xypic.js` manually and set the full path of that ?

[2017-11-25 12:09] yuhr commented on #464
Sorry I haven't read the doc well, switching to MathJax (as for VSCode, set `"markdown-preview-enhanced.mathRenderingOption"` to `"MathJax"` in the user settings) resolved the problem.

Thanks for the splendid extension. 🌟

[2017-11-26 00:17] shd101wyy commented on #701
恩我是想加入阅读模式的，但是感觉实现这个功能的工作量很大，短期内无法完成。等我慢慢填坑吧。

[2017-11-26 00:18] #690 closed

[2017-11-26 00:19] #669 closed

[2017-11-26 00:19] #667 closed

[2017-11-26 00:19] #665 closed

[2017-11-26 03:09] shd101wyy commented on #695
I mean to disable `enableExtendedTableSyntax` option in package settings.

[2017-11-26 03:15] shd101wyy commented on #693
Hi @mcondarelli

Sorry for replying to you so late. Yes wiki link would not work now.
I just tried `cover`, and it works fine on my Ubuntu machine.
Is it convenient for you to send me your markdown files?
My email is `shd101wyy@gmail.com`

Thanks

[2017-11-26 03:19] shd101wyy commented on #692
I would assume there might be package conflicts? Try disabling some other packages.
Also, open developer tool and check if there is any error occurred in the javascript console.

Thanks

[2017-11-26 03:32] shd101wyy commented on #689
let me upgrade plantuml in the next release. That might resolve this issue. Thanks

[2017-11-26 03:34] #682 closed

[2017-11-26 03:34] #672 closed

[2017-11-26 04:53] gvgramazio commented on #692
I checked with dev tool and there are no errors before I change the settings. I don't think that there are package conflicts because I disabled everything except your package. But there is a strange thing that I didn't notice before: the error happens only if the preview is open **and** if it is not visible. I mean that if I split the screen in order to have both the settings and the preview visib

[2017-11-26 05:15] shd101wyy commented on #692
Ok I see. Mine also crashed on Windows.
Let me try to fix it...

[2017-11-26 05:24] shd101wyy commented on #692
Huhhh I couldn't trigger that bug anymore.

[2017-11-26 05:31] shd101wyy commented on #698
Huhh I didn't see the test markdown file. Can you send it on GitHub instead of email? Thanks.

[2017-11-26 05:33] sherlockbear commented on #701
辛苦~么么扎

[2017-11-26 05:44] shd101wyy commented on #692
Ok I see.
If I have file `a.md` and file `b.md`.
I open preview for `a.md`, then I move `b.md` to the pane of the preview, atom will crash.

[2017-11-26 06:51] shd101wyy commented on #699
@sylens9 Fixed now. Thanks.

[2017-11-26 06:51] shd101wyy commented on #692
@gvgramazio Fixed now. Thanks.

[2017-11-26 06:52] shd101wyy commented on #691
@scokobro I just upgraded vega and vega-lite to their newest versions.
It should work correctly now. Thanks.

[2017-11-26 06:53] shd101wyy commented on #652
@dpo Fixed now. Thanks.

[2017-11-26 06:55] shd101wyy commented on #466
@milenstack 现在支持了。

https://shd101wyy.github.io/markdown-preview-enhanced/#/diagrams

谢谢。

[2017-11-26 06:57] shd101wyy opened #703 "Flow Charts and Sequence Diagrams are now partially supported. Please help me find bugs. Thanks"
https://shd101wyy.github.io/markdown-preview-enhanced/#/diagrams

[2017-11-26 07:55] Defossez commented on #698
Sure.

Marc Defossez
Volmolenheide 38
2400 Mol – Antwerpen    Tel: +32 14 319 632
Belgium Eml: marc.defossez@gmail.com <mailto:marc.defossez@gmail.com>

*P**Please do not print this e-mail unless you really need to.*

This email and any attachments are intended for the sole use of the
named recipient(s) and contain(s) confidential information that may be
proprietary, privileged or copyrighted unde

[2017-11-26 08:05] Defossez commented on #698
Hi,

Here is the markdown file.
It's a readme.markdown file from NVM I use as markdown test/guide.

Regards,

Marc
[README.markdown.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1503735/README.markdown.zip)

[2017-11-26 10:51] mcondarelli commented on #693
Unfortunately I cannot share the full .md because they are covered by NDA.

I can share the collecting source, though:
[code]
and the offending diagram:
[code]
Any level 1 (# title) or level 2 (## subtitle) in included sub-documents would result in a blank page followed by  title/subtitle on top of next page

The included diagram would miss the rightmost part (upgoing arrows).

I hope this is enou

[2017-11-26 11:07] shd101wyy commented on #698
@Defossez Seems that your `parser.js` is wrong.
You can run `Markdown Preview Enhanced: Extend Parser` to open `parser.js`
Then copy the following code:

[code]

**Restart Atom** after you make changes.

Thanks

[2017-11-26 17:15] eliiik commented on #695
I got it, It works thanks.

[2017-11-26 19:47] gvgramazio commented on #692
I updated your package to 0.15.1 but the error is still there. Is the fix in that update?

I know that I've already wrote how to trigger the error but I rewrite here just to be sure that you are able to trigger it as well:
- open atom with your package enabled
- open a .md file and its preview
- open the package settings page and change something

**If** the settings page is visible but the previe

[2017-11-26 20:45] shd101wyy commented on #692
@gvgramazio I will look into that next weekend. Thanks.

[2017-11-26 21:37] scokobro commented on #691
Works as expected. Excellent! Many Thanks!!

Best Regards,

Scott Koga-Browes
+1 202 320 5007
+++++

On 26 November 2017 at 01:52, Yiyi Wang <notifications@github.com> wrote:

[2017-11-27 04:52] prlei opened #704 "toc不会使用问题，请教参数和使用方法"
1. 请问一下左侧边栏的编辑语法都有什么
 1.1 比如：

 这个语法参数的详细说明有么？
 1.2 左侧边栏我能自定义url吗？例如我想链接我本地的.md文档，我怎么写
    我尝试用 # 标题1 (file_1.md) 这样不可以，可是没找到其他文档
    我也遇到了这个问题：
    https://github.com/shd101wyy/markdown-preview-enhanced/issues/606
    可是没看懂解决方法，能详细点说怎么设置吗 感谢 ：）
1.3 或是是否能提供一个和您的使用文档一样结构的 demo 模版
    这个：https://shd101wyy.github.io/markdown-preview-enhanced/#/zh-cn/
1.4 使用文档的search是个插件么？有集成方法么？
非常感谢···！

[2017-11-27 04:54] shd101wyy commented on #704
Hello，

你说的这个这个插件没有关系。清查看：https://docsify.js.org/#/

谢谢

[2017-11-27 06:46] prlei commented on #704
万分感谢，很好用。

[2017-11-27 07:34] Defossez commented on #698
@shd101wyy Thanks!
Adding your corrected code in the parser.js makes the endless load go away.
The README.markdown file now displays OK when loaded into Atom.
A file I'm working on did not show the endless load, but simply showed an empty page.
It seems that some text constructs are provoking this because when I halved the document suddenly nice markdown text was showed. Need to find out why this

[2017-11-27 08:13] Defossez commented on #698
@shd101wyy Hi again,
Wrote I was going to report why markdown_preview_enhanced displayed an empty page when using my markdown writings and displaying nice text when using the README.markdown.
Well, this is why:
The vhdl files have horizontal lines constructed with - characters.
Those are a problem when the code is add to teh parser.js file.
It seems that the code nicely finds the double -- (commen

[2017-11-27 09:18] zaixi commented on #701
目前我是打开预览窗口后，把预览窗口向左拖动动放大，覆盖掉原来的编辑窗口，这时候再切换其他md文件基本等于达到了阅读模式效果。

[2017-11-27 09:38] sherlockbear commented on #701
倒不失为一种办法，但总感觉差了那么一点点

[2017-11-27 11:16] sylens9 commented on #699
Thank you very much. Now the extension is perfect to me!

[2017-11-27 11:16] #699 closed

[2017-11-27 12:00] xu4wang commented on #689
I upgraded to 0.15.1(also upgraded pandoc, update dependencies by ```npm install```), the issue is still not fixed yet.

[code]

[2017-11-27 12:23] zaixi commented on #701
是的，虽然能满足需求，但是体验并不好。感觉用ctrl-shift-m在纯编辑模式，编辑并预览模式，阅读模式间切换体验好一些。还有就是在vscode上拖动预览窗口不能把编辑窗口覆盖掉，始终会留有几列编辑窗口，看起来特别别扭。

[2017-11-27 12:28] sherlockbear commented on #701
我倒是觉得把阅读模式单独做一个独立阅读器更好一些，一般纯阅读时并没有太大的编辑需要，如发现需要修改的地方，可以在菜单中唤起vsc(或atom)编辑

[2017-11-27 15:15] #704 closed

[2017-11-28 00:34] zaixi opened #705 "聚焦窗口为预览窗口时，pageup和pagedown失效"

[2017-11-28 00:35] shd101wyy commented on #705
我没有设置过这两个键位，以后可能会支持。谢谢

On Nov 27, 2017 6:34 PM, "zaixi" <notifications@github.com> wrote:

[2017-11-28 06:29] visnz opened #706 "nothing generate when import .js file"
![1511850399 1](https://user-images.githubusercontent.com/26197210/33305250-3835fda2-d448-11e7-95ee-be168f100cd1.jpg)

and i had used  but nothing
is that something i did wrong

[2017-11-28 06:33] shd101wyy commented on #706
@import "./code/http.js" {code_block=true}

https://shd101wyy.github.io/markdown-preview-enhanced/#/file-imports?id=force-to-render-as-code-block

[2017-11-29 06:13] zaixi opened #707 "拖拽图片设置为拷贝到assets"
* 当设置drop image to editor为copy image to folder时
  * 拖拽功能不能添加图片，而是打开图片。
  * 如果同时安装[markdown-image-assistant](https://atom.io/packages/markdown-image-assistant)，使用拖拽功能前打开一次这个插件，拖拽功能可以够达到预期效果。
* 希望uplaod的同时能够将图片拷贝到assets，因为想在本地也做一个备份。
* upload希望增加上传到七牛，其他的上传到七牛都只支持从剪贴板上传，不能拖拽。

[2017-11-29 06:14] zaixi commented on #705
好的，谢谢

[2017-11-29 10:57] visnz commented on #706
thx !! 👍  and sorry for any inconvenience. ;P

[2017-11-30 00:05] shd101wyy commented on #700
Do you have latex engine installed? Which operating system are you using?

https://www.latex-project.org/get/

[2017-11-30 00:38] werunom commented on #700
Yes. I do have the complete texlive installed in Manjaro linux.

The above code works fine in a tex file when compiled. But when embedded in a markdown file, in the preview nothing comes up...

[2017-11-30 04:01] shd101wyy commented on #700
Did you press `shift+enter` to run the code chunk?

[2017-11-30 04:07] shd101wyy commented on #700
I just tried on my Ubuntu machine.
So I installed `TexLive` and `pdf2svg`:

[code]

Then I copied your code to my markdown file, pressed `shift-enter` to run the code chunk:

![screenshot from 2017-11-29 22-06-56](https://user-images.githubusercontent.com/1908863/33412555-a1c554a2-d551-11e7-8b3d-e8f4a9dd9bf2.png)

[2017-11-30 06:01] werunom commented on #700
Oh! I had completely missed the magic spell `shift+enter`.

Now when i see the document package document, this command is mentioned at the beginning. But, I had just searched for latex & tikz and seen how to implement them. In these sections, `shift+enter` is not mentioned.

Excuse for this overlook. And thanks for your patience :)

[2017-11-30 06:01] #700 closed

[2017-12-01 02:17] shd101wyy commented on #707
好的我有时间的话修一下。
添加上传到七牛的功能是不可能的了，因为我在国外，注册不了七牛的帐号。
谢谢

[2017-12-01 02:18] shd101wyy opened #708 "哪个童鞋今天（北京时间 12 月 1 日）微信了我 50 元，非常感谢，方便的话请留下你的信息。"
请留下你的姓名，和你想连接到的网站，我把你加入到 [backers](https://shd101wyy.github.io/markdown-preview-enhanced/#/backers) 里面。

非常感谢！

[2017-12-01 02:31] lou-lan opened #709 "增加一个markdown vue的主题，或者官方文档那种的主题"

[2017-12-01 02:32] shd101wyy commented on #709
吼，等我有时间了搞下

On Nov 30, 2017 8:31 PM, "楼兰" <notifications@github.com> wrote:

[2017-12-01 07:58] maplewizard opened #710 "幻灯片无法设置主题"
Hi，我看了reveal的文档，里面可以改变各种主题样式，请问markdown-preview-enhanced里面怎么改变主题？

[2017-12-01 09:29] MrQ-study opened #711 "安装了markdown-preview-enhanced后不能用"
通过atom的setting下的package安装的markdown-preivew-enhanced，应该是安装成功了的，有部分快捷键，如插入表格什么的，是可以用的，但是打不开toggle，直接在菜单栏中的package中点击，也不能弹出toggle，关了atom自带的markdown也不行（ps，在ubuntu系统和windows系统都试过）
求大佬指教！！！

[2017-12-01 10:31] shd101wyy commented on #710
Hi @maplewizard , 在插件设置里可以找到。

![screenshot from 2017-12-01 04-30-49](https://user-images.githubusercontent.com/1908863/33478889-78b2542a-d650-11e7-9810-06efcb6fe012.png)

[2017-12-01 10:32] shd101wyy commented on #711
Hi @MrQ-study 我记得这个插件没有提供插入表格的快捷键啊？你是不是安装错了插件呢？放张截图给我看看。谢谢

[2017-12-01 12:45] maplewizard commented on #710
Hi, 是不是可以加到配置里面吗？这样每个幻灯片可以用自己的。

[2017-12-01 15:51] shd101wyy commented on #710
现在并不能，以后可能支持你说的吧

On Dec 1, 2017 6:45 AM, "Zihao Fu" <notifications@github.com> wrote:

[2017-12-03 00:24] #708 closed

[2017-12-03 00:24] #706 closed

[2017-12-03 10:13] werunom opened #712 "Configure the default parameters of TOC"
When insert TOC command is called through command pallette, the default parameters are the following `depthFrom=1 depthTo=6 orderedList=true`.

But these are not the default parameters I use. So whenever I call this command in each markdown file, I have to change it everytime.

So, is there a place (e.g., config.cson file) I can specify the default parameters, so that they are used when I call thi

[2017-12-03 10:43] BiteBit commented on #634
I have some issue.

[2017-12-03 11:45] BiteBit commented on #634
I found that it is a mermaid bug.
https://github.com/knsv/mermaid/issues/582

mermaid live editor:
https://mermaidjs.github.io/mermaid-live-editor/#/edit/Z3JhcGggVEQ7CiAgICBBLS0-QihCKQogICAgQS0tPkM-Q10KICAgIEItLT5EKChEKSkKICAgIEMtLT5ECmNsYXNzRGVmIGVjbyBmaWxsOmdyZWVuOwpjbGFzcyBBLEIsQyxEIGVjbw

[2017-12-04 01:31] MrQ-study commented on #711
sorry，快捷键是我看错了-_-||，插件是安装好了的
![selection_021](https://user-images.githubusercontent.com/15605400/33532521-4e88d084-d8d5-11e7-84b1-f2a99dbdcb62.png)

[2017-12-04 01:33] shd101wyy commented on #711
@MrQ-study 你开以下 developer tool，然后看看 console 里面有没有报错？

[2017-12-04 01:37] MrQ-study commented on #711
没有，console里什么信息都没有

[2017-12-04 01:38] shd101wyy commented on #711
`cmd-shift-p` 看看有没有 `Markdown Preview Enhanced: Toggle Preview` 这条命令？

[2017-12-04 01:43] MrQ-study commented on #711
有的
![selection_022](https://user-images.githubusercontent.com/15605400/33532770-820daa04-d8d7-11e7-8922-4afad53620f5.png)

[2017-12-04 01:43] shd101wyy commented on #711
这个命令能用吗？

[2017-12-04 01:45] MrQ-study commented on #711
不能，按快捷键或者直接点击都没反应

[2017-12-04 01:46] shd101wyy commented on #711
那你卸载了重新安装试试吧。我的 Windows 并没有遇到问题。

[2017-12-04 01:48] shd101wyy commented on #711
你可以先尝试把其他的插件给禁掉。
然后确定你的文件后缀是 `.md`。不许是已经保存好的文件，才可以打开预览。

[2017-12-04 02:02] MrQ-study commented on #711
重装后可以了，感谢大佬！！！

[2017-12-04 02:02] #711 closed

[2017-12-04 06:22] specter119 opened #713 "[Feature Request] MindMap generate by kityminder"
We know that [kityminder(百度脑图)](https://github.com/fex-team/kityminder) can generate mind map direct from Markdown. Is It possible to support this in MPE?

My final goal is to implement the feature of [Docear](https://github.com/Docear/Desktop) with MPE. Simply, It is a literature tool to connect the mind map with literature.

[2017-12-04 06:33] specter119 opened #714 "[Feature Request] implicate with bib file"
Is it possible to implicate the reference with `*.bib` files?
Some thing like [zotero-picker](https://github.com/oztalha/zotero-picker) for atom.

My final goal is to implement the feature of Docear with MPE. Simply, It is a literature tool to connect the mind map with literature.

My ideal workflow is

1.  literatures in (Zotero)[https://www.zotero.org/],
1.  format to `*.bib` by [BBT](https://gi

[2017-12-04 13:05] specter119 commented on #701
其实mac下空格预览是个常用的方法，所以有个支持预览的插件，基本就是列位想要的东西了，当然windows下，我还是没有办法的。
<https://github.com/toland/qlmarkdown>

[2017-12-04 13:08] sherlockbear commented on #701
其实windows有空格预览的软件，叫seer，但好像只能以代码形式预览吧，回头我看看有没有类似插件

[2017-12-05 09:18] fibis commented on #457
Same Problem here

[2017-12-05 13:56] iDragonfly2050 opened #715 "左右同步滚动没有对齐。"
这个问题似乎是在每一行内容很长，并且自动换行（仍然算作一行，行号是显示为小圆点而不是数字）的时候出现的。

[2017-12-05 13:57] iDragonfly2050 commented on #715
顺便给你加个油，我已经重度依赖这个插件了，千万千万不要弃坑啊....

[2017-12-05 17:08] shd101wyy commented on #715
哈哈谢谢。

这个问题貌似现在无解。

[2017-12-05 17:10] shd101wyy commented on #688
You might need to check pandoc documentation then use `pandoc_args` in front-matter.
I dont really know right now. Sorry.

[2017-12-06 00:20] gepcel commented on #688
Thank you. I will do that.

So I'll leave this open for a few more days. I may close this issue with an answer in case it helps others if I can find one. I'll close this any way if I find none.

[2017-12-06 02:48] gepcel commented on #688
This will do.

[code]

[2017-12-06 11:46] #688 closed

[2017-12-07 12:07] V0idk opened #716 "左边用于编辑，右边用于预览。当点击右边再打开文件时，默认编辑器在右边打开。覆盖了预览"
auto open markdown preview则没有这个问题

[2017-12-07 17:41] V0idk opened #717 "无法输入$本身？"
\$  111  \$ 还是被解析成公式

[2017-12-07 17:43] shd101wyy commented on #717
@V0idk `\$`，加个 `\`

[2017-12-07 17:43] #717 closed

[2017-12-08 01:58] V0idk commented on #717
...抱歉，为了输入的是markdown。

\\$ 111 \\$ 还是被解析成公式

[2017-12-08 02:21] V0idk commented on #717
@shd101wyy 。是我的问题，没发现后面的语法错误影响了前面。我一直在前面找语法错误
![image](https://user-images.githubusercontent.com/17514799/33748072-792b21be-dc01-11e7-980e-7bc03fd27393.png)
---
![image](https://user-images.githubusercontent.com/17514799/33748089-8ec2e4b2-dc01-11e7-9b27-5570e249efa0.png)

[2017-12-08 16:08] Kshitiz-Sharma opened #719 "Feature request: please add hotkey to close the preview"
`Ctrl+Shift+M` works for opening it, but to close it you have to use the mouse.

[2017-12-08 17:12] shd101wyy commented on #719
@Kshitiz-Sharma `ctrl+shift+m` should work. Are you using `Atom` or `VS Code`?

[2017-12-08 17:12] shd101wyy commented on #716
吼有时间我看下，谢谢。

[2017-12-08 17:41] Kshitiz-Sharma commented on #719
VS Code. I don't see how it could work since the key is assigned to `openPreview` command
[code]

[2017-12-08 17:46] shd101wyy commented on #719
@Kshitiz-Sharma Ah yes you are correct.

`ctrl-shift-m` couldn't close preview on vscode. Closing preview only works on Atom.
If I recall correctly, vscode doesn't expose the API to close a specific editor. I will have a look when I have time.

Thank you

[2017-12-09 15:06] merz9b commented on #678
@fibis I think you could toggle `ctrl+shift+p` select the Customize Css, add the following codes into the file:
[code]
You could replace 40px to the size you like.

[2017-12-10 10:18] merz9b opened #720 "在哪可以设置pdf自定义导出路径？"
我一般使用 phantomjs 导出pdf， 但无论我在phantomjs_config.js 中添加：
[code]
还是在 front-matter 中设置
[code]
导出的pdf还是在当前路径下。请问应该如何设置？

[2017-12-10 20:38] szacchino opened #721 "Accent in headers"
Hi shd,

when headers have accents, i.e.:

`# Marginalità`

the corresponding page information in the TOC is zero. This can be seen only if I add a custom styling for TOC and export it in prince. In the attached example you'll see a correct header and the wrong one. In the zip file also the pdf generated by prince: there you can see the wrong TOC with zero-indexed page.

Thank you

Sandro

[mpe_bu

[2017-12-10 22:23] shd101wyy commented on #721
Will fix it when I have time. Thanks

On Sun, Dec 10, 2017 at 2:38 PM, Sandro Zacchino <notifications@github.com>
wrote:

[2017-12-10 22:24] KrissHeo opened #722 "Mathjax \displaystyle option"
There is no option for \everymath{\displaystyle} in Mathjax. Here is the code for '\displaystyle' option.

`html
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js">
	MathJax.Hub.Register.StartupHook("TeX Jax Ready", function () {
		var TEX = MathJax.InputJax.TeX;
		var PREFILTER = TEX.prefilterMath;
		TEX.Augment({
			prefilterMath: function

[2017-12-11 14:43] Kshitiz-Sharma opened #723 "Matplotlib not working"
Why doesn't MPE render my graph:
![image](https://user-images.githubusercontent.com/6263572/33836468-65c41cac-de81-11e7-921e-d63ceec505be.png)

Python is installed properly as it works on the commandline:
![image](https://user-images.githubusercontent.com/6263572/33836564-a3a1afe4-de81-11e7-8362-3d6caccdf351.png)

[2017-12-11 16:27] shd101wyy commented on #723
https://shd101wyy.github.io/markdown-preview-enhanced/#/code-chunk?id=matplotlib

It should be:

![screen shot 2017-12-11 at 10 27 12 am](https://user-images.githubusercontent.com/1908863/33841600-ded3d26e-de5d-11e7-943f-e5210f67b35e.png)

[2017-12-11 16:27] #723 closed

[2017-12-11 16:45] Kshitiz-Sharma commented on #723
@shd101wyy Not working for me. Any ideas on what I can do to debug it? Is it automatically rendered or require any manual steps?

[2017-12-11 21:01] shd101wyy opened #724 "`Create TOC` doesn't work on Ubuntu."

[2017-12-11 21:02] shd101wyy commented on #720
Hi @merz9b ，现在还不支持 phantomjs 导出路径。以后可能会支持。谢谢

[2017-12-12 05:28] shd101wyy commented on #723
@Kshitiz-Sharma `shift-enter` or `ctrl-shift-enter` to run a code chunk?

[2017-12-12 05:34] specter119 commented on #701
@sherlockbear Mac下的插件是预览，不是看源码，虽然格式一般，但是可以了。

[2017-12-14 02:44] cha2maru opened #725 "`Export PDF - Chrome(Puppeteer)` is Failur on windows"
PDF output using Chrome (Puppeteer) fails.

The cause is as follows.

markdown-preview-enhanced\node_modules\@shd101wyy\mume\out\src\markdown-engine.js
[code]

In Windows environment 'npm' seems to have to be 'npm.cmd'.

https://github.com/nodejs/node/issues/3675

Please confirm when there is time.

[2017-12-14 02:48] shd101wyy commented on #725
Hi @cha2maru ,

I think I tested it before on Windows. After installing puppeteer globally `npm install -g puppeteer`, you need to close Atom editor completely, then reopen the editor.
If it still doesn't help, I will have a look when I have time in the future (probably after Christmas).

Thanks

[2017-12-14 03:07] cha2maru commented on #725
Thank you for your quick reply.

I tried restarting 'npm install -g puppeteer' and Atom which is being written, and confirmed that the problem is reproduced.
Also, by rewriting the above source from 'npm' to 'npm.cmd' in the debugging environment, we confirmed that the problem will be solved.

Perhaps, the fact that node.js in my environment is old may have influence. (If it fails at npm, is it be

[2017-12-14 03:08] shd101wyy commented on #725
Yes you can try upgrading your nodejs and non to the newest version. Thank
you ;)

On Dec 13, 2017 9:07 PM, "cha2maru" <notifications@github.com> wrote:

[2017-12-14 03:09] shd101wyy commented on #725
I mean npm (Android keyboard is not my friend)

On Dec 13, 2017 9:08 PM, "Yiyi Wang" <yiyi.wang@runtimeverification.com>
wrote:

[2017-12-14 03:25] cha2maru commented on #725
I tried upgrading npm to v5.6.0, but the problem did not solve it.

My environment is Windows 7 x64.
node.js v.8.4.0
npm v.5.6.0

It can be used by forcibly rewriting the corresponding part to 'npm.cmd', so it's okay for the time being. I am waiting after Christmas.

[2017-12-20 09:51] Shogutora commented on #555
So this is still happening, I think the pandoc-crossref filter is not applied in the right order during:
right click -> Pandoc export

Because in the preview window it looks just fine.

See attached screenshots:

<img width="532" alt="screen shot 2017-12-20 at 10 50 45" src="https://user-images.githubusercontent.com/3204340/34201071-a9c13338-e573-11e7-9d78-643642fe1c5d.png">
<img width="258" alt="

[2017-12-20 13:30] kachkaev opened #729 "Linting and beautifying text inside code chunks"
I recently discovered an option to add [`{cmd=true}`](https://shd101wyy.github.io/markdown-preview-enhanced/#/code-chunk) to code blocks, which turns out to be a truly great feature! Now that I'm writing some executable code straight in a markdown file, I'm facing a need to beautify or lint that code from time to time.

Although this job is probably outside the scope of this package, I'm wondering

[2017-12-20 16:24] SteliosTymvios opened #730 "Math equations not compiling into html when compiling into markdown"
I have tried using MathJax and Katex, neither works. Most of the time the math equations work but not every. I think this may be related to the other issues with math rendering.

OS: Manjaro Linux
Edit: VS-Code

Example Equation:
$${\Lambda = a_1,a_2,a_3,...,a_n}$$

[2017-12-20 18:44] shd101wyy commented on #555
@Shogutora I have a look during my new year break. Thank you.

[2017-12-20 18:47] shd101wyy commented on #729
Hi @kachkaev ,

I have never tried any linter tools, so I am not sure how they work and affect this package. Yeah I think it's a good idea to clarify it in the docs.

Thank you

[2017-12-20 18:49] shd101wyy commented on #730
You mean math doesn't work in preview? Can you paste your markdown here? Thanks

[2017-12-20 19:31] SteliosTymvios commented on #730
The preview works just fine.

https://github.com/SteliosTymvios/Datastructures-and-Algorithms-notes/blob/master/Lectures/Raw/Lecture-3_raw.md

It's this file and this segment.

[code]

[2017-12-20 19:32] shd101wyy commented on #730
So `Save as Markdown` doesn't work as you expect?

[2017-12-20 19:40] shd101wyy commented on #730
Thanks. I will have a look when I have time (probably this weekend).

[2017-12-20 20:09] kachkaev commented on #729
I'll explore the options and document them once I find anything meaningful, just give me a few weeks. If anyone has any experience in beautifying code chunks inside markdown, feel free to share your thoughts here!

[2017-12-20 20:20] cbuteau opened #731 "Full link opens Windows Explorer instead of browser."
I will be the first to admit it is a weird URL internal tools

[CUI](https://eu1-215dsi0708-ifwe.3dexperience.3ds.com/#app:MAP-IQPLHVVAF/content:people=CUI)

But it should fail in a browser not show windows explorer.

It says I have version 0.15.1
and yes I searched your bug database.
Thank you for your time.
-Christopher Buteau

[2017-12-21 10:47] fhchl opened #732 "Uncought error made package not working"
Just installed markdown preview enhanced on a fresh Atom 1.23.1 install and wondered why it
s not working.

Console gives the following error message. Reason was not enough disc space.

[code]

[2017-12-21 16:39] shd101wyy commented on #732
How did you install this package? Through package manager or you install it
manually?

On Thu, Dec 21, 2017 at 4:47 AM, fhchl <notifications@github.com> wrote:

[2017-12-21 21:15] fhchl commented on #732
I used the package manager. After I cleared some space, the package worked fine.

[2017-12-21 21:16] shd101wyy commented on #732
Ok I will close this issue. Reopen it if that happens again. Thanks

[2017-12-21 21:16] #732 closed

[2017-12-22 10:20] kachkaev commented on #729
Started a [PR in `atom-beautify`](https://github.com/Glavin001/atom-beautify/pull/1990), looking for feedback and help! Linting is still a question that I'm not sure how to approach.

[2017-12-25 07:24] 4440124 opened #733 "你好 请教扩展表格的问题"
看见手册中的 表格扩展示例  自己试没有成功
| a | b |
|---|---|
| > |  a |
| 2 | |
实现不了 colspan 求实现方法

[2017-12-25 07:51] Wacky515 opened #734 "How can I change flowchart.js style?"
Hi,
I want to change my flowchart's style as below Demo2.

http://flowchart.js.org/

Could you please tell me how to setting?

[2017-12-26 09:05] NamedDavidChan opened #735 "Customize Cs"

[2017-12-26 09:06] #735 closed

[2017-12-26 09:10] NamedDavidChan opened #736 "Customize Css Force Closed"
Markdown Preview Enhanced: Customize Css
Edit and save ,
oops ~
then force closed.
AT Atom 1.23.1 x64

[2017-12-26 10:15] NamedDavidChan opened #737 "拖拽插入图片又不可以用了"
刚装的时候都还可以用，之后因为改less，软件奔溃了几次，然后图片拖拽插入就不起作用了。
拖过去后鼠标显示一个“禁止”样式，松开鼠标没有任何反应，就没然后了。。
已经卸载重装几次了。
希望解决一下。

[2017-12-26 15:49] paskaly opened #738 "how to fix font size for printing when "open in Browser""
Hi,
I'm using a 4K monitor and the font preview, with default font size, is very very small.
I can set bigger font size in preview modifying the `style.less` file in the `.markdown-preview.markdown-preview` section.
To see an readble text, I have to set at least 18 pt font size. But when I click on 'open in Browser' the new big size is reflected in the browser and I cannot print with this big font

[2017-12-28 07:47] NamedDavidChan commented on #737
然后也不用这个的图片助手了，发现markdown-img-paste挺好用的。。。

[2017-12-28 07:47] #737 closed

[2017-12-30 11:10] MrCoder opened #739 "Support ZenUML (www.zenuml.com) syntax"
[ZenUML](https://www.zenuml.com) is one of the latest tools that convert text into sequence diagram. The idea is similar to js-sequence-diagram, but the syntax is very different. Checkout the [introduction on modeling-languages.com](https://modeling-languages.com/zenuml-drawing-sequence-diagram-easier-faster/).
The converter has been published as [a npm module](https://www.npmjs.com/package/vue-se

[2017-12-30 20:24] shd101wyy commented on #739
Hi @MrCoder , thanks for posting this.
I am on vacation right now so I don't have time to implement that.
If you would like to add the support and submit a pull request, you may need to modify [mume](https://github.com/shd101wyy/mume).
There are a list of files that you can have a look:
* [puml.ts](https://github.com/shd101wyy/mume/blob/master/src/puml.ts)
* [markdown-engine.ts](https://github.com

[2017-12-30 20:25] shd101wyy commented on #738
Can I see your style.less file? Thanks

[2017-12-30 20:26] shd101wyy commented on #733
这个在插件设置中是默认关闭的，你得进插件设置然后打开。貌似是叫 `enableExtendedTableSyntax`

[2017-12-30 23:02] MrCoder commented on #739
Hi @shd101wyy , I will have a try to implement it and may need your help.

What ZenUML produces are HTML elements (with arrows being svg). The benefit of this is that styles can easily be applied and customized with CSS. If svg output is mandatory, please let me know. I will see if I can apply some converter on top of it.

Enjoy your holiday.

[2017-12-31 06:23] paskaly commented on #738
Sure :)
various attempt commented ...
Thanks,
--------------

html body {
  // modify your style here
  // eg: background-color: blue;
  font-family: "Geneva", "Avenir Next Condensed", "Helvetica Neue",
"Liberation Sans", "DejaVu Sans";
  // font-size: 24px;
}

h1 {
  border-bottom: 1px solid;
  border-color: blue;
  padding-bottom: 0;
}

h2 {
  padding-bottom: 0;
  margin-top: 0.5em;
  margin-bot

[2017-12-31 06:27] paskaly commented on #738
Voila' :)

[code]

[2018-01-01 02:02] iDragonfly2050 opened #740 "数学公式的块状边界无法设置"
我在用0.15.1版。

行内我设置成了：`[["$", "$"], ["\\(", "\\)"], ["`math", "`"]]`     是有效的。
但是块内设置成：`[["$$", "$$"], ["\\[", "\\]"], ["```math", "```"]]`  没有生效。

[2018-01-02 11:49] Alexander-Wilms commented on #698
I'm having the same issue. First, there was an endless loading animation, which was fixed by replacing the content of parser.js with the code you provided above.

However, only part of the .md output is shown and the PlantUML isn't rendered:

[code]

This is the markdown file I edited:
[UML diagrams.txt](https://github.com/shd101wyy/markdown-preview-enhanced/files/1597474/UML.diagrams.txt)

[2018-01-03 05:17] shd101wyy commented on #740
块内不用设置，默认就已经支持 <pre>```math</pre> 。

[2018-01-03 20:05] veponen commented on #398
I have same kind of behaviour experience. Always the "Welcome to plantuml" message only. This is related to Gollum though. So currently I am learning Ruby to find out how to get it working... When I run the plantuml service as a local web service with Jetty it works fine. But when I try to combine it to Gollum it fails miserably.... Will be debuggin that, possibly Gollum configuration issue, but j

[2018-01-04 05:35] eumji025 opened #741 "主题问题"
请教大佬,文档主题的模板可以分享一下吗? 我好中意

[2018-01-04 05:36] shd101wyy commented on #741
https://docsify.js.org/#/

[2018-01-04 05:37] eumji025 commented on #741
感谢秒回

[2018-01-04 05:39] #741 closed

[2018-01-04 08:52] Mikaciu opened #742 "Uncaught Error: tunneling socket could not be established, statusCode=407"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.24.0-beta2 x64
**Electron**: 1.6.15
**OS**: Microsoft Windows 7 Enterprise
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.1

### Stack Trace

Uncaught Error: tunneling socket could not be established, statusCode=407

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-01-04 09:46] fhchl commented on #732
Weird, the exact same problem just popped up again. Disk space is not an issue this time.

[2018-01-04 13:53] dtgoitia opened #743 "[SOLVED] TOC doesn´t update when imported child structure changes"
Hi @shd101wyy ,

I have a `parent.md` file where I import 2 childs (`child1.md` and `child2.md`). The parent contains the TOC and it reads without problem the header structure from both children.

**`parent.md`** file:
[code]

**`child1.md`** file:
[code]

**`child2.md`** file:
[code]
Till here everything okay. The issue comes when I update a header in any of the child files. Once I have created a

[2018-01-04 17:32] shd101wyy commented on #743
Click the refresh button in the top right corner of your preview.

[2018-01-04 20:19] dtgoitia commented on #743
Thanks @shd101wyy ! Solved.

For future references:
1. Click the refresh button in the top right corner of the parent preview.
2. Force a save.

This should update the TOC in the parent.

[2018-01-04 20:20] #743 closed

[2018-01-05 13:29] iDragonfly2050 commented on #740
Thinks. @shd101wyy

[2018-01-05 13:30] iDragonfly2050 commented on #740
Thanks. @shd101wyy

[2018-01-06 04:43] ookimi opened #744 "changes by embedded script reverted in preview"
Atom 1.23.2 on 64-bit Ubuntu 16.04. Clean install with only markdown-preview-enhanced, grammar-markdown extra packages and pen-paper-coffee theme.

I need an embedded script to post-process the html and wrap some text in tags. MWE below.

Expected behavior: the words "Lorem ipsum" highlighted in preview.
What actually happens: the highlight blinks for a split second, and then reverts to the origin

[2018-01-06 12:53] simonbaker opened #745 "How can I set embed_local_images=true?"
![image](https://user-images.githubusercontent.com/6262452/34639878-5e2b194e-f323-11e7-8c27-af3b75b02828.png)
I dont know where to set the config in vscode ...
In vscode's setting, I cant find it...
![image](https://user-images.githubusercontent.com/6262452/34639892-a21afa16-f323-11e7-88e9-41bd6c5f305e.png)

[2018-01-06 21:44] shd101wyy commented on #745
That is front matter. You need to write it in markdown file

[2018-01-07 10:54] LiSikaiUSTB opened #746 "如何修改公式的字体大小？"
现在公式比文字稍微大一点，想要调成一样大的该怎么做？

[2018-01-07 18:35] 2E0PGS opened #747 "Feature request: Open previewer in top bottom split"
Hi great package its the best for markdown I have found!

Anyway I have a feature request. Add option to allow preview to open in a split screen top is md and the bottom is the preview. Instead of current: left is md and right is preview.

So this would be like split down instead of split right. I did try manually moving that preview window down but it caused issues.

[2018-01-08 02:15] Vxider opened #748 "Feature request: 支持目录结构的markdown-tree生成"
希望可以支持基于目录结构的markdown-tree生成（类似linux tree命令），这个功能在管理wiki `home.md` 时十分有用。

比如我现在的目录结构为

[code]

希望可以在`home.md`中自动生成目录列表

[code]

[2018-01-08 02:16] Vxider opened #749 "Feature request: 支持复制为富文本"
希望可以支持复制为富文本，这样就可以用markdown来写邮件，或是写一些其他文档，写好后复制粘贴即可

[2018-01-08 06:06] shd101wyy commented on #747
Will do. Thanks.
But if I recall correctly, I tried splitting pane on the right side but it didn't work very well.
I will try this time.

[2018-01-08 06:13] shd101wyy commented on #746
先运行 Markdown-Preview-Enhanced: Customize Css 命令打开 style.less。
如果你使用的是 `KaTeX` 渲染数学符号，你需要编辑 style.less 如下:

[code]

如果你用的是 MathJax，需要编辑如下：

[code]

谢谢

[2018-01-08 06:19] shd101wyy commented on #744
`<script>` is not well supported in preview now. I will improve it in the future. Thanks

[2018-01-08 06:19] shd101wyy commented on #742
Hmm I have no clue why that happened...
Try restarting atom then reinstall this package. Or just install this package from the terminal. `apm install markdown-preview-enhanced`

[2018-01-08 06:20] #740 closed

[2018-01-08 06:22] shd101wyy commented on #738
You should delete `html body` section. That is deprecated now.
Write everything inside `.markdown-preview.markdown-preview`.
Then change your `font-size: 12pt` to `font-size: 18px`. (It is recommended to use `px` instead of `pt`).
Thanks

[2018-01-08 06:22] shd101wyy commented on #736
No clue why that happened. May I see your style.less file?
Try removing any texts from `style.less` then save it.
Thanks

[2018-01-08 06:23] shd101wyy commented on #734
@Wacky515 Right now changing the style is not supported.
Might be supported in the future.
Thanks

[2018-01-08 06:24] #733 closed

[2018-01-08 06:28] NamedDavidChan commented on #736
谢谢，又自己好了，感觉啥都没动过、、、

[2018-01-08 06:28] #736 closed

[2018-01-08 06:29] shd101wyy commented on #736
吼～

[2018-01-08 06:37] shd101wyy commented on #714
Hi @specter119 , sorry for replying to you so late.
This seems to be very hard to implement. I am not very familiar with `.bib` file.
It would be great if you can submit a pull request for that feature.
Thanks

[2018-01-08 06:40] #696 closed

[2018-01-08 06:41] #695 closed

[2018-01-08 06:42] #691 closed

[2018-01-08 06:43] #666 closed

[2018-01-08 06:43] #660 closed

[2018-01-08 06:45] shd101wyy commented on #659
恩。。。这个好像没有办法，只能用你上述的方式来解决。

[2018-01-08 06:45] #656 closed

[2018-01-08 06:46] #641 closed

[2018-01-08 08:26] 2E0PGS commented on #747
So currently we have this style:
![image](https://user-images.githubusercontent.com/15659301/34663205-923b4d8c-f44d-11e7-8889-4cda25073f3c.png)

But I would like an option to do this style:
![image](https://user-images.githubusercontent.com/15659301/34663211-a1c3c798-f44d-11e7-98b5-8e71d393287f.png)

[2018-01-08 08:35] LiSikaiUSTB commented on #746
多谢!!!

[2018-01-08 10:01] #746 closed

[2018-01-08 13:41] Wacky515 commented on #734
Thank you for your answer, I undersand.

[2018-01-08 13:41] #734 closed

[2018-01-09 00:09] shd101wyy commented on #724
Can't reproduce this issue.

[2018-01-09 00:16] shd101wyy commented on #721
I think this might be a princexml bug. Could you please try puppeteer export instead? Thanks

[2018-01-09 03:00] shd101wyy commented on #725
@cha2maru Fixed now. Sorry for the delay. Thanks

[2018-01-09 03:01] shd101wyy commented on #710
@maplewizard 现在可以了，可以在 `front-matter` 中设置 `theme`。

https://shd101wyy.github.io/markdown-preview-enhanced/#/presentation?id=settings

[2018-01-09 03:04] shd101wyy commented on #747
![screenshot from 2018-01-08 21-03-38](https://user-images.githubusercontent.com/1908863/34703217-70a49222-f4b7-11e7-9f82-2f8218951b23.png)

Done, check `Position of the preview pane`

Thanks

[2018-01-09 07:45] cha2maru commented on #725
Thank you very much.
I upgraded today and confirmed that it works without problems.

[2018-01-09 07:45] #725 closed

[2018-01-09 08:49] 2E0PGS commented on #747
Awesome thanks!

Wouldn't it be better to have "Top", "Bottom", "Left", "Right". Instead of "up" and presumably "down" etc.

I am not too worried myself since you now added the functionality I wanted but from an English language perspective top and bottom would make more sense than up or down.

[2018-01-09 09:08] shd101wyy commented on #747
Hmm I just copied the terms used in atom.workspace.open function API. Maybe
I will change it in the future. Thanks

On Jan 9, 2018 2:49 AM, "Peter Stevenson" <notifications@github.com> wrote:

Awesome thanks!

Wouldn't it be better to have "Top", "Bottom", "Left", "Right". Instead of
"up" and presumably "down" etc.

I am not too worried myself since you now added the functionality I wanted
but fro

[2018-01-09 09:10] 2E0PGS commented on #747
I see. That's odd because atom uses the terms I mention in their UI for splitting regular panes. I guess its their consistency issue.

Also when is the next version going to be published for install via atom.

[2018-01-09 09:12] shd101wyy commented on #747
The version 0.15.2 was just published tonight a few hours ago. I don't have
a plan for the next version now.

On Jan 9, 2018 3:10 AM, "Peter Stevenson" <notifications@github.com> wrote:

[2018-01-09 09:13] 2E0PGS commented on #747
Ok thanks! I will give it an update and try!

[2018-01-09 09:15] 2E0PGS commented on #747
Works like a charm thanks! I will close this issue now.

[2018-01-09 09:15] #747 closed

[2018-01-09 10:17] specter119 commented on #714
@shd101wyy thanks, I think it needs to know more about pandoc. I will try if add features if I can, thanks.

[2018-01-09 10:17] #714 closed

[2018-01-09 10:19] the-fresh-man opened #751 "Creating preview when file is on network storage with Visual Studio Code fails"
Hey guys,
I am using your extension with Visual Studio Code (V1.19.1) for markdown files on a network storage with Windows 10. I do have the rights to change them but when i am trying to show the preview with "ctrl-shift-m" I get the warning "Running the contributed command:'markdown-preview-enhanced.openPreview' failed" and the preview won't be generated.
![Warning of Command](https://user-images

[2018-01-09 18:18] shd101wyy commented on #751
Hi @the-fresh-man ,

You can click `Help -> Toggle Developer Tool` to open the JavaScript console. Then you should be able to see the error details. Please send me a screenshot of that.

Thank you

[2018-01-10 04:38] maplewizard commented on #710
Thanks!

[2018-01-10 09:50] the-fresh-man commented on #751
Hi @shd101wyy ,

Here the screenshot:
![grafik](https://user-images.githubusercontent.com/10872398/34766140-c8693278-f5f3-11e7-9c99-de38a74e98d4.png)

The file path is the following `\\nas01\temp\test.md`.

[2018-01-10 09:55] the-fresh-man commented on #751
Upps, I am not yet familiar with the buttons.

[2018-01-10 12:30] dtgoitia opened #752 "Chrome (Puppeteer) fails on Windows"
Hi @shd101wyy !

Puppeteer installed via `npm i -g puppeteer`.

Windows 7 Professional
Atom 1.23.3 (ia32)
Electron: 1.6.15
Chrome  : 56.0.2924.87
Node: 7.4.0

PDF, PNG and JPG outputs using Chrome (Puppeteer) fail:
[code]
However, the following file exists:
[code]
Note that it is the same path with `win64-515411` instead of `win32-515411`.

I'm not sure what does it mean. My OS is 64 bits and Chro

[2018-01-11 10:56] Holy-Shine opened #754 "问下作者这个插件的markdown渲染引擎"
RT，就是Mume吗

[2018-01-11 11:16] shd101wyy commented on #754
是滴

On Jan 11, 2018 4:56 AM, "西木野Maki" <notifications@github.com> wrote:

[2018-01-11 21:43] shd101wyy commented on #748
@Vxider 这个我就不 implement 了，因为它可以通过使用 [Code Chunk](https://shd101wyy.github.io/markdown-preview-enhanced/#/zh-cn/code-chunk) 来实现。
我写了一个简单的 [Code Chunk 脚本](https://gist.github.com/shd101wyy/cd21508dd886636a7bbbc67f69f17caa)。
你可以在你的 `home.md` 中插入以下文本：

[code]

然后 **保存** 文档的时候会自动运行 Code Chunk 代码更新 tree (你需要有网以及安装了 nodejs)。

谢谢

[2018-01-12 02:19] Vxider commented on #748
完美解决了我的问题，非常感谢！

[2018-01-12 02:19] #748 closed

[2018-01-12 15:20] #754 closed

[2018-01-13 02:07] shd101wyy commented on #752
Try npm install -g puppeteer again?

[2018-01-13 05:36] Vxider opened #755 "Bug反馈：无法正确识别front-matter"
您好，我发现vscode插件在导出为`markdown GFM`时无法正确识别`front-matter`配置，复现步骤如下：
1. 首先是我的文档配置

<img width="968" alt="2018-01-13 13 26 25" src="https://user-images.githubusercontent.com/6134315/34903139-1c251d7c-f866-11e7-87ed-1ed2c5155f60.png">

在 `MPE preview` 处可以看到 `front-matter` 识别为表格显示，此时`front-matter`可**正常**识别

2. 在`MPE preview` 中点击右键，选择 `Save as Markdown`

3. `MPE preview` 中识别的`front-matter`表格消失，此时`front-mat

[2018-01-13 05:43] Vxider opened #756 "Feature request: mermaid和sequence的图片导出"
希望可以支持在导出为Markdown文件时自动导出`mermaid`和`sequence`为图片

文档中描述可以支持图片导出，如：

[code]

但我测试一直无法导出成功

[2018-01-13 06:58] shd101wyy commented on #755
https://shd101wyy.github.io/markdown-preview-enhanced/#/zh-cn/markdown

得设置 ignore_from_front_matter: true

On Jan 12, 2018 11:36 PM, "Vxider" <notifications@github.com> wrote:

[2018-01-13 08:51] Vxider commented on #755
可能我没有表达清楚。
目前的问题不是`front-matter`会输出至markdown，是在前面第三步，如果preview中看不到front-matter表格，那么系统就不能识别`front-matter`中的内容，比如我在`front-matter`中设置了保存文件名，但不能识别的话就会保存为默认名字（文件名+_.md)

[2018-01-13 09:13] shd101wyy commented on #755
懂了，找时间我看看

On Jan 13, 2018 2:51 AM, "Vxider" <notifications@github.com> wrote:

[2018-01-15 10:36] xu4wang commented on #720
pandoc支持pdf导出路径

[2018-01-15 15:38] Crog opened #757 "Support for confiugring regex replacement to allow Doxygen style PlantUml diagramnotation"
Doxygen can be configured to use @startuml / @enduml pairs for PlantUML. The markdown preview uses ```puml / ``` instead and Doxygen cannot be confiugred to support this. When parsed, the source code of the diagram is embedded as is in the generated output.

The current workaround has you editing ~/mume/parser.js to include the following in 'onWillParseMarkdown' which replaces the @startuml with t

[2018-01-16 06:04] gepcel opened #758 "phantomjs 导出的 pdf 无法文档内跳转"
如题目所述，举一个简单的例子：

[code]

在预览窗口，右键，phantomjs -> pdf 后，在 pdf 中，无论是目录，还是文中的超链接都无法跳转。不清楚是我系统设置有问题，还是都如此。上传一个我生成的 pdf 文档。

[test.pdf](https://github.com/shd101wyy/markdown-preview-enhanced/files/1633781/test.pdf)

版本：
atom: 1.18.0 x64
windows 10 x64
pandoc: 2.0.0.1
MPE: 0.15.2
phantomjs: 2.1.1

[2018-01-16 07:39] dazeGitHub opened #759 "运行 java 代码块打印乱码"
[code]
然后打印出来这样：
����: �Ҳ������޷���������
e:\\Markdown\zl8go6gyr_code_chunk

[2018-01-16 07:41] dazeGitHub commented on #759
因为Github直接就讲 ```java {cmd="java"} ``` 翻译了，其实我是这么写的，

[2018-01-16 13:45] gepcel opened #760 "[Feature Request] 能否支持 pantable ?"
pandoc 下有一个 filter 叫做 [pantable](https://github.com/ickc/pantable)，能否考虑在 preview 以及 phantomjs -> pdf 或者其它如 prince export 中支持一下？哪怕只是部分支持？（当然 pandoc 输出时通过 pandco_args 可以实现）

有如下好处：
1. 支持从 csv 中直接复制粘贴表格数据。这是一个巨大的好处，因为从 markdown 中手动构建一个表格很费劲
2. 不知能否在 code cell 中运行代码，直接输出 csv 格式的表格（`pd.DataFrame.to_csv()`)
2. 表格中内容可以支持 markdown 语法
3. 能自定义表宽、列宽、对齐方式
5. 可以直接导入 csv 表格：` include path_to_csv.csv`，对于过长的表格很实用

[2018-01-16 14:39] docfour opened #761 "Support markdown preview enhanced as a gitbook plugin"
I would like to see a gitbook plugin with the markdown preview enhanced features. Maybe this is possible?

[2018-01-16 15:50] jroemhild commented on #680
I am running into this as well. Reinstalling didn't help. : /

[2018-01-16 17:01] shd101wyy commented on #759
现在还不支持运行 java，c 等代码块，因为 java 是编译型语言。
python 之类的脚本语言是没有问题的，

[2018-01-17 08:14] maplewizard opened #762 "Can the titles be collapsed?"
Could you please add this feature that each title made by '#' can be collapsed?

[2018-01-17 13:54] wafer-li opened #763 "中英文自动加空格"
如题。

相关库： https://github.com/vinta/pangu.js/

[2018-01-17 14:51] theramiyer opened #764 "Error: 'markdown-preview-enhanced.customizeCss' not found"
I'm using Markdown Preview Enhanced on VSCode.

I'm trying to follow the [Customize CSS](https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css) section to customize the HTML output (locally). When I choose the command, `Markdown Preview Enhanced: Customize Css`, I get an error, `'markdown-preview-enhanced.customizeCss' not found`.

[2018-01-17 21:26] kmineroff95 opened #765 "Preview not opening by default when markdown files are opened."
Whenever I open an .md file, I need to manually toggle the preview again. I check the setting for “open when markdown file is opened” and reinstalled the package but it still isn’t working.

(OS X High Sierra)

[2018-01-17 21:30] shd101wyy commented on #764
@theramiyer Ah that's is because this plugin is not activated yet.
The plugin will only activate when you open a markdown file (not necessarily to open the preview).

[2018-01-17 21:31] shd101wyy commented on #765
@kmineroff95 show me a screenshot of your package settings?

[2018-01-17 21:32] shd101wyy commented on #758
我记得这个是 node-html-pdf 包的问题。有时间我看看他有没有更新。

[2018-01-17 21:54] kmineroff95 commented on #765
![img_7280](https://user-images.githubusercontent.com/35544255/35069071-0ff60db0-fba7-11e7-82bb-8dc15d5fb5ed.jpeg)

[2018-01-17 22:00] shd101wyy commented on #765
Right now you are using one preview. Uncheck `Open Only One Preview` might work for you.

[2018-01-17 22:01] kmineroff95 commented on #765
I unchecked that box, it didn't produce any different results. When opening the program it still requires that I manually toggle the preview.

[2018-01-17 22:04] shd101wyy commented on #765
Ah I see what you mean. Yes, this plugin now doesn't save the state, so when you close the editor then reopen it, it will not restore the preview.
I might support that feature in the future. Thanks

[2018-01-19 05:59] tony-zhou-sphinx commented on #466
在 vscode 上使用没有效果，需要做什么额外的操作吗？
[code]

[2018-01-19 06:57] shd101wyy commented on #466
@tony-zhou-sphinx 你发我张截图？

[2018-01-19 07:14] tony-zhou-sphinx commented on #466
![image](https://user-images.githubusercontent.com/32887269/35138854-64774f7c-fd2b-11e7-9e29-458186f88eed.png)
@shd101wyy

[2018-01-19 07:41] shd101wyy commented on #466
你这个预览开的不是我这个插件，我这个插件默认预览颜色是白色的

On Jan 19, 2018 1:14 AM, "tony-zhou-sphinx" <notifications@github.com>
wrote:

[2018-01-19 07:41] shd101wyy commented on #466
cmd+k 然后 v

On Jan 19, 2018 1:41 AM, "Yiyi Wang" <yiyi.wang@runtimeverification.com>
wrote:

[2018-01-19 07:44] tony-zhou-sphinx commented on #466
![image](https://user-images.githubusercontent.com/32887269/35139785-a68b6390-fd2f-11e7-8ef4-8971b81f9cf6.png)
@shd101wyy

[2018-01-19 07:47] tony-zhou-sphinx commented on #466
![image](https://user-images.githubusercontent.com/32887269/35139898-0db8fb18-fd30-11e7-8719-3e0cf44eb9a5.png)
点击的那个预览按钮

[2018-01-19 07:49] shd101wyy commented on #466
我的这个插件现在还不能通过预览按钮打开，你点击预览按钮打开的是原来内置的插件。所以 cmd+k 然后 v。README
下有个表格你可以看看快捷键。以后可能会 override 那个按钮，但我现在还不知道该怎么做。晚安

On Jan 19, 2018 1:47 AM, "tony-zhou-sphinx" <notifications@github.com>
wrote:

[2018-01-19 07:51] tony-zhou-sphinx commented on #466
辛苦了！ 使用快捷键可以预览出效果。谢谢！

[2018-01-19 08:24] #466 closed

[2018-01-20 02:00] kavanLi opened #766 "how to make language tab appear in the upper right of code block in MPE"
how to make language tab appear in the upper right of code block when we use markdown.
![like this](https://i.loli.net/2018/01/20/5a62a0fa59247.png)

***
how can I use MPE to let the language tap appear in the upper right of code block?

***

[here is  a  probable resolve but I think it unuseful](https://github.com/lord/slate/wiki/Customizing-the-Language-Tabs)

[2018-01-20 04:16] kavanLi commented on #766
is that anyone can solve this problem? thanks in advanced

[2018-01-20 06:33] fuyingfuying opened #767 "能否支持百度的echarts，感觉比plotly.js功能强大好多"
如题

[2018-01-20 10:43] fuyingfuying opened #768 "vs code下所有的code chunk不能运行"
我试了matplotlib, plotly都不行，python、node.js均已经安装，用官方文档给的例子测试均不通过

[2018-01-20 13:41] bayjan opened #769 "Pandoc PDF creation problem with images on linux"
There seems to be a bug when creating a pdf file using pandoc when there are images in the resulting markdown file. There seems to be two issues:
1) --pdf-engine=pdflatex  argument to pandoc should be --latex-engine=PROGRAM_YOU_HAVE or that option should be completely removed. I just removed that option and it worked fine with markdown pages without images.
So, current "solution" is:

 - Create a

[2018-01-20 22:54] shd101wyy commented on #768
来张截图？还有你是怎么运行 code chunk 的呢？shift enter 了吗？

[2018-01-21 15:58] fuyingfuying commented on #768
截图如下，你看看
![image](https://user-images.githubusercontent.com/12774287/35195977-bb6a4e10-ff06-11e7-8312-b6358d8a64d8.png)

还有，交个朋友如何，特别佩服你，我也可以跟着你玩玩 micromsg:  fuyingfy

[2018-01-22 05:15] shd101wyy commented on #769
I guess you are using pandoc whose version is below 2.0? Try using pandoc 2.0 instead

[2018-01-23 16:35] shd101wyy commented on #768
可能是 windows 的缘故，找时间我看看。谢谢。

[2018-01-24 16:09] bayjan commented on #769
Thank you, indeed I am using pandas version below 2.0.

[2018-01-24 16:09] #769 closed

[2018-01-26 07:40] DuCCNUer opened #770 "Uncaught Error: tunneling socket could not be established, statusCode=503"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.23.3 x64
**Electron**: 1.6.15
**OS**: Windows 10
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.2

### Stack Trace

Uncaught Error: tunneling socket could not be established, statusCode=503

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-01-28 21:36] shd101wyy commented on #766
@kavanLi this feature will be supported in the future. Thanks.

[2018-01-29 15:45] unkownY opened #771 "使用 Code Chunk 时,自动添加了文件所在路径"
实际的路径

显示在md中的路径

md文件所在路径

自动在链接前添加了文件路径,但是为什么?

[2018-01-29 15:59] shd101wyy commented on #771
应该是 bug，把你的文件发给我看看？谢谢

[2018-01-30 02:05] unkownY commented on #771
javascript {cmd="node"}
[code]

[2018-01-30 02:12] shd101wyy commented on #771
@unkownY 插件设置里面有一项叫做 `protocolsWhitelist`，你把 `ed2k` 也加进去这个白名单里就好了。

[2018-01-30 02:29] unkownY commented on #771
thanks.
😄

[2018-01-30 02:30] #771 closed

[2018-01-30 03:35] georgefeng opened #772 "Gist预览异常"
# Gist预览异常

## 问题描述
文件带gist时不能正常预览，预览窗口对应位置为为空白。刷新预览窗口能看到一闪而过的gist片段。将文件导出成Html格式时，gist部分能正常导出。

## 样例文件
sample.md

## 环境
markdown-preview-enhanced_0.3.2
Windows10x64_1709
VSCode_1.19.3

[2018-01-30 06:39] shd101wyy commented on #772
抱歉，我没太搞懂你的源文件是想要干嘛。是要运行那个 js 脚本吗？谢谢。

[2018-01-30 21:59] rcmalli opened #773 "Specifying the HTML output path"
Is there a way to define output path for the file when we are exporting as HTML document (CDN or Offline)? None of the settings below works.

[code]

[2018-01-30 22:42] shd101wyy commented on #773
This is not supported now.
Will be supported in the future.
Thanks.

[2018-01-31 03:00] yampelo opened #774 "Center mermaid diagrams and tables"
Is it possible to make it so that we can center markdown tables and mermaid diagrams? wrapping each in `<center>` tags doesn't work.

[2018-01-31 03:36] Aldridgexia opened #775 "mathjax rendering doesn't work on preview"
environment:

- atom 1.23.3 x64

- macOS 10.13.2

![image](https://user-images.githubusercontent.com/10599422/35603977-fba0c12c-060d-11e8-88a4-0f36405ff144.png)

![image](https://user-images.githubusercontent.com/10599422/35603979-fee47dd8-060d-11e8-907e-0c8b086c402d.png)

restart Atom still doesn't work.

[2018-01-31 15:38] Rogerspy opened #776 "prince 导出PDF为空"
我用prince导出PDF为空，什么都没有。用浏览器的方法也是一样的，预览的时候没问题，只是导出会有问题。请问这是什么情况？

[2018-01-31 15:40] Rogerspy commented on #776
我没说清楚，不是没有pdf文件，是pdf文件是空白的，没有内容。

[2018-01-31 16:21] shd101wyy commented on #776
把你的文件发我看看？

[2018-01-31 21:09] Max-Tweddell commented on #775
I have a similar problem, it does work sometimes with the \\( 2+2 \\) but once you change the markdown file it stops working.

[2018-01-31 21:17] shd101wyy commented on #775
Can I see your markdown files?

[2018-01-31 22:18] shd101wyy commented on #775
Yes it happens to me as well on Atom (Not on VSCode).
Please use KaTeX for now. I will try to fix it when I have time. Thanks.

[2018-01-31 22:19] Aldridgexia commented on #775
Thanks!

[2018-01-31 22:20] Aldridgexia commented on #775
@shd101wyy thanks!

[2018-02-01 03:07] Rogerspy commented on #776
呃呃呃， 我二了，.md文件没有保存，直接在预览页执行的prince。现在可以了。

在 2018-02-01 00:21:15，"Yiyi Wang" <notifications@github.com> 写道：

把你的文件发我看看？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-01 03:26] Niefee opened #777 "表格功能无法实现"
![qq 20180201112322](https://user-images.githubusercontent.com/10347495/35659669-8769d920-0742-11e8-95ea-25d59efb4f77.jpg)

系统：window10，
编辑器： vscode，
版本：0.3.2

[2018-02-01 05:21] shd101wyy commented on #777
在设置里面有一条叫做 `enableExtendedTableSyntax`，你得把这个给打开才行。

On Wed, Jan 31, 2018 at 9:26 PM, 沐霖 <notifications@github.com> wrote:

[2018-02-01 05:51] Niefee commented on #777
谢谢，解决了

[2018-02-02 02:50] georgefeng commented on #772
我在更新了重现流程，希望能有帮助~

[2018-02-02 03:45] shd101wyy commented on #772
推荐用 `@import "blablabla.js"` 来引用 `js` 文件。
但是预览会有问题。我找时间研究下。谢谢

[2018-02-02 04:59] Rogerspy commented on #776
Hi，我经过这两天的试用，发现了几个问题。

1. 表格扩展，按照文档用"^"，">"和“空”并不能合并单元格
2. 图片不能上传，无论是拖拽还是直接![]()这种形式，还是image-helper都不能
3. 缩略那个功能的显示效果是什么样的？我这里测试的时候按照文档的写法就是我截图的样子，星号后面的内容无法显示。

在 2018-02-01 00:21:15，"Yiyi Wang" <notifications@github.com> 写道：

把你的文件发我看看？

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-02-02 06:22] shd101wyy commented on #776
@Rogerspy

1. 在设置里面有一个叫做 `enableExtendedTableSyntax` 类似的选项你得开启才行。
2. 我试了下没问题，你 `![]` 写法路径是什么？
3. 缩略图是啥，我咋不知道？你来张截图。

你用的是 Atom 还是 VSCode?

[2018-02-02 08:07] Rogerspy commented on #776
表格那个好了，谢谢。

我用的是Atom，图片路径写的是本地文件夹的路径，比如我在桌面上有一张图片test.jpg，那我在atom里写的就是
![](/home/csong/Desktop/test.jpg)

不是缩略图，就是你在文档里的例子：

*[HTML]: Hyper Text Markup Language
*[W3C]: World Wide Web Consortium
The HTML specification
is maintained by the W3C.

在我这里上面带星号的两行预览页没有显示，只有下面的两行。嗯，我前面发了截图给你。

在 2018-02-02 14:22:42，"Yiyi Wang" <notifications@github.com> 写道：

@Rogerspy

在设置里面有一个叫做 enableExtendedTableSyntax

[2018-02-02 16:18] gembutterfly opened #778 "Pandoc + KaTeX + Tables causes narrow tables"
Hi,
when I put Formulas in Tables, the cell width seems to be calculated incorrectly.

![kkk](https://user-images.githubusercontent.com/6540152/35743192-18a91194-083d-11e8-9ec7-b4f50053c016.png)

[2018-02-02 16:20] gembutterfly commented on #778
PS: Without Pandoc, it's fine - but then exported HTML displays formulas incorrectly.

[2018-02-02 16:23] gembutterfly commented on #778
PPS: Sorry, seems to be a pandoc "feature": [https://github.com/jgm/pandoc/issues/2574](url)

[2018-02-02 16:25] #778 closed

[2018-02-02 16:25] shd101wyy commented on #776
关于第一个路径的问题，markdown 不支持相对于系统的绝对路径，你这种写法是错误的。`/` 开头的路径指的是相对于项目根目录的路径。

第二个你说的缩略图那个，本来前两行就不会显示，那是用来定义 url 的。

[2018-02-02 16:25] #776 closed

[2018-02-02 16:25] shd101wyy commented on #778
no worry. feel free to post issues.

[2018-02-05 09:18] pss803 opened #779 "--version"

[2018-02-05 09:51] alexandru-cazacu commented on #229
@herohuyongtao I have this problem too. I disablet all the Extensions except MPE but nothing happens when i try to open in the browser. How did you solve it?

[2018-02-05 10:10] kachkaev commented on #779
@pss803 could you please share a bit more detail on what your issue is about?

[2018-02-05 14:42] Protarios opened #780 "Atom portable mode"
This plugin unfortunately ignores, if Atom is run in portable mode .atom sibling directory.
(see https://github.com/atom/atom/issues/10072)

Unfurtunately markdown-preview still generates the .mume folder in the user homedirectory.

[2018-02-06 08:39] kentosasa commented on #752
I happended same error

[2018-02-06 09:55] Flauschbaellchen commented on #357
Hi @shd101wyy,

do you have any news on this topic?
I've looked into your other repo at https://github.com/shd101wyy/mume but did not get it to work.

Do you have a list of dependencies for every parser?
For pandoc I'm getting:
[code]
For phantomjs I'm getting:
[code]
Which node version do I need to have installed? I used the latest node version for my examples.
Maybe you have a minimal example us

[2018-02-06 11:12] metheoryt opened #781 "html rendering doesn't change cross links .md to .html"
I need to render whole directory of .md files, which have cross links. And rendered .html files preserve cross-links on .md files.

[2018-02-06 17:40] shd101wyy commented on #357
Hi @Flauschbaellchen ,

For pandoc, you need to follow the same instructions as MPE.  You need to specify `output` in your front matter: https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc-pdf

For phantomjs, you need to have phantomjs installed globally first.

Thanks

[2018-02-07 10:51] sheljohn opened #782 "Theme for HTML export"
I am using the extension with VSCode:
[code]

I cannot seem to find instructions anywhere to change the theme of the HTML export?
My user settings at the moment are:
[code]

Looking at the HTML output `<style>` section, it seems that the default theme is a combination of
 [`prism.js` Github theme](https://github.com/shd101wyy/mume/blob/master/styles/prism_theme/github.css) and the preview theme [g

[2018-02-08 04:04] floriandierickx commented on #665
Just a question here: I updated to pandoc 2, but I also got the same error. After changing from '--pdf-engine' (the method described in the docs) back to '--latex-engine', the error disappeared and it worked as usual. Is this still to be updated or did I do something wrong?

[2018-02-08 10:52] fenghou1st commented on #775
我现在出现了一样的问题，不过切换到 mathjax 之后，再切换回 KaTex，两边都不工作了。
是要清理什么缓存吗？

I encountered the same problem. But when I switch back from mathjax, the KaTex renderer doesn't work too.

[2018-02-08 10:53] fenghou1st commented on #775
I encountered the same problem. But when I switch back from mathjax, the KaTex renderer doesn't work too.
Maybe I should clearing some cache from somewhere?

[2018-02-08 10:54] fenghou1st commented on #775
I encountered the same problem. But when I switch back from mathjax, the KaTex renderer doesn't work too, even if I restart atom.
Maybe I should clearing some cache from somewhere?

[2018-02-08 10:55] fenghou1st commented on #775
I encountered the same problem. But when I switch back from mathjax, the KaTex renderer doesn't work too, even if I restart atom.
Maybe I should clear some cache from somewhere?

[2018-02-09 06:15] NamedDavidChan commented on #773
加油加油，很需要这个的哦！

[2018-02-09 10:10] mbataillou commented on #774
+1

[2018-02-09 10:41] kachkaev commented on #774
perhaps, an attribute in the code block could be a solution?

[code]

[2018-02-09 20:05] sheljohn commented on #782
My bad, [apparently using the preview theme depends on the option `print_background`](https://github.com/shd101wyy/mume/blob/2850adcce8f91f70646267dd615e2ec028499533/src/markdown-engine.ts#L920-L927) to be put in the YAML configuration at the very top of the file:

[code]

[2018-02-09 20:06] #782 closed

[2018-02-09 20:22] sheljohn commented on #781
There is a setting that you can change; in VSCode, this is the option `markdown-preview-enhanced.wikiLinkFileExtension`. Not sure what this looks like in Atom.

[2018-02-10 11:41] Ronsandpi opened #783 "If there have a function to convert markdown to mind map?"

[2018-02-10 11:44] Ronsandpi commented on #783
Please forgive my mistake, I have some trouble with express my mind through English. what I want to ask :Does this software have this feature which convert markdown to mind map?

[2018-02-10 16:09] sheljohn commented on #783
Perhaps [Mermaid](https://mermaidjs.github.io/) does what you need?

It is not exclusively for mind-maps, but it allows you to define diagrams.

[2018-02-10 18:16] nocibambi opened #784 "Subscript does not work in equation"
I try to use '~' for subscription in a `math` block , but it does not work

Ouside the math block this works:

With the math block it does not (but seemingly everything else).

[2018-02-10 19:24] kachkaev commented on #784
Hi @nocibambi,

Can you try `$ P_i $`?

https://www.sharelatex.com/learn/Subscripts_and_superscripts

[2018-02-10 20:42] nocibambi commented on #784
Hi @kachkaev, yes that worked, many thanks!

I was relying on [KaTeX documentation](https://khan.github.io/KaTeX/function-support.html). Thanks for the other link, nice collection!

[2018-02-10 20:42] #784 closed

[2018-02-10 23:10] Ronsandpi commented on #783
@sheljohn   oh, I have found this feature in atom plugin: [atom-markdown-mindmap](https://github.com/dundalek/atom-markdown-mindmap) , so I want to ask again: Does this plugin has this feature which convert markdown to mind map?

[2018-02-11 11:08] lliuz commented on #775
use pandoc parser will be ok, but the option `break on single new line` doesn't work with pandoc ...

[2018-02-12 04:03] davidzhong123 opened #785 "On Macbook Pro when use atom-preview enhanced , the MathJax can 't render out fine."
the $$ or $ transfered to undefined.

[2018-02-12 04:07] iove1123 commented on #785
<img width="1395" alt="2018-02-12 12 05 28" src="https://user-images.githubusercontent.com/18346105/36083455-533882f6-0fed-11e8-9d92-b14dd38b3377.png">

[2018-02-12 04:08] iove1123 commented on #785
when in windows7， the same code works perfect.

[2018-02-12 04:47] jneless opened #786 "flow cannot use 流程图无法使用"
![2018-02-12 12 44 17](https://user-images.githubusercontent.com/21362547/36083868-96a16724-0ff2-11e8-8275-d7908cd4da89.png)

无法识别这个flow,我不知道是需要额外的配置吗？还是就我有错？

It can not recognize the key of "flow".
Should I need to configure some else?

[2018-02-12 06:02] jneless commented on #786
sorry about that .
It is working ,cause I miss some notification ......

[2018-02-12 06:02] #786 closed

[2018-02-12 06:04] dzackgarza commented on #206
Also looking for this feature! Mathjax allows defining custom macros/shortcuts, which can then be used in many different files without redefining them every time.

There is some info here from when it was requested in markdown-preview-plus: https://github.com/atom-community/markdown-preview-plus/issues/11

And the current implementation is here: https://github.com/atom-community/markdown-preview-p

[2018-02-13 12:16] sheljohn commented on #783
Looks awesome, but I'm not sure whether there would be conflicts with this plugin, or if it is possible to add support for it, sorry :) Maybe more info from the owner @shd101wyy ?

[2018-02-13 12:18] sheljohn commented on #785
Duplicate of #775 ?

[2018-02-14 02:52] dzackgarza opened #787 "Pandoc export doesn't recognize MathJax macros"
Hello! Love this plugin so much, I've only just started using it so I apologize if this is maybe just a user error on my part.

I'm writing markdown files that include inline MathJax-style text, using $ and $$, and I've added some macros using the "Open MathJax Config" option. I'm also including a bunch of Latex for more complex diagrams, and my goal is to export the entire thing as a PDF for prin

[2018-02-16 08:25] marc-medley commented on #775
This attached [**MathRenderTest.md.txt**](https://github.com/shd101wyy/markdown-preview-enhanced/files/1730485/MathRenderTest.md.txt) file is a basic Markdown math rendering coverage test.   MathRenderTest.md contains specific variations of $, $$, /(, //(, /[ and //[ syntax use for the same baselines equations.

Place just _one indicator pattern pair at a time_ for Inline Indicator and Block Indic

[2018-02-17 08:02] marc-medley commented on #775
**Enabling "Use Pandoc Parser" made `markdown-preview-enhanced` useable for my situation.**

Still, I would like to show here my findings relative to the `mume + MathJax` and `mume + KaTeX` for LaTeX math rendering.

Default means `[["$", "$"], ["\\(", "\\)"]]`, otherwise _only one indicater pattern is evaluated at a time_.  MacDown and `pandoc` have been added to the last columns for relative cov

[2018-02-20 15:26] iove1123 commented on #785
<img width="1127" alt="2018-02-20 23 21 27" src="https://user-images.githubusercontent.com/18346105/36432351-f69a05d4-1694-11e8-935e-11001a811f5d.png">
It seems the markdown-preview-enhanced can not translate the mathJax properly, unless there is a <p> tag before the math expression. @sheljohn @shd101wyy

[2018-02-20 15:34] iove1123 commented on #775
On my Mac Book Pro, the Math Jax expression can not translation correctly too. This is the [Issue](https://github.com/shd101wyy/markdown-preview-enhanced/issues/785). I hope the author can take more attention to this problem, for ALL Mac Book Pro USERs. Thank you for your attentions!

[2018-02-20 20:02] dzackgarza opened #788 "Exporting outside of Atom?"
Since this plugin adds a number of extra features to markdown (things like @input or runnable code blocks, for example), I was wondering how portable my documents will be. Is there any way to convert them to PDF or HTML without going through Atom's interface?

Is there a node command or something I can pass the markdown file to on the command line perhaps?

Edit: It looks like there is the [mume](

[2018-02-20 21:54] kachkaev commented on #788
You are right @dzackgarza: [mume](https://github.com/shd101wyy/mume) is the thing to look at. Your node.js script to convert markdown into an html may look like this:

[code]

[2018-02-22 16:12] ionm opened #789 "Pandoc output HTML"
I'm trying to output HTML with `pandoc` because I want to use the citation feature. However, when I use the heading:
[code]
I get this error: `Invalid document type.` Any suggestions?

[2018-02-22 16:28] shd101wyy commented on #789
You might need to use [custom document](https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc-custom) as `html_document` is not supported by mpe.

[2018-02-22 16:32] ionm commented on #789
Thank you, this solves it. You might want to change the example used here: [https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc-bibliographies-and-citations?id=citation-styles](url)

[2018-02-22 17:07] shd101wyy commented on #789
@ionm Thank you!

[2018-02-23 18:18] ionm commented on #251
I have added `equationNumbers: { autoNumber: "AMS" }` in the `mathjax_config.js` file, but I could not get the equation numbering.

Is there a reason why the `mathjax_config.js` file does not have full control over the MathJax package?

[2018-02-24 06:07] haozan opened #790 "您好，请问可以添加您的微信吗？"
您好，可以加一下您的微信吗？我的微信是HaoZanGB @shd101wyy

[2018-02-24 10:28] ionm opened #791 "Underscore for subscripts"
When writing a relation such as: `$[Q,P]_{q,p}=1$`, all the text following after it is italicized. The preview and the exported documents are properly rendered. The problem does not appear if the underscore is after an alphanumeric, $a_i$.

Do you have any advice for how to escape the underscore in this case?

[2018-02-24 10:32] kachkaev commented on #791
@ionm can you try using `\(...\)` instead of `$...$` for inline [math](https://shd101wyy.github.io/markdown-preview-enhanced/#/math)? This could be to do with how basic tokens like links and italics are parsed in markdown.

[2018-02-24 13:44] ionm commented on #791
@kachkaev it's the same when I use `\(...\)`. Markdown is parsed properly in the preview (I'm using pandoc), it's just in the Atom IDE that everything gets italicized. Is there a way of escaping the underscore and only keeping `*` for italics?

[2018-02-24 14:04] kachkaev commented on #791
I’m afraid we can’t go for disabling _ as italics as this is a standard markdown feature, which many people use. Could you please share a screenshot, ideally both with your source and the preview? This is just to make this issue easier to track.

[2018-02-24 14:28] miskovics opened #792 "export_on_save does not work"
Hello,

`export_on_save` does not work for me.

1) If I have

in the text, then the meta data table on the top of the preview disappears and preview » `eBook` » `ePub` fails with an error. If I remove

then the table appears (I have only `epub` section, no `mobi` or `html` section).

2) The specified ebooks are not generated automatically when I save the file.

I use the most up-to-date version 0.

[2018-02-25 21:13] peteruhnak opened #793 "Referencing file name from extended parser"
https://shd101wyy.github.io/markdown-preview-enhanced/#/extend-parser

Is it possible to access the file name of the currently parsed file from within the parser extension?

E.g. [hexo](https://hexo.io/docs/asset-folders.html#Tag-Plugins-For-Relative-Path-Referencing) uses `{% asset_img example.jpg}` to relatively reference images, but if I want to render it, I need to convert it into the actual p

[2018-02-26 04:30] drongh opened #794 "Can enhance with outline in editor mode"
Great jobs.  Outline is just in preview mode, if in editor mode, it'll be better.
Thanks.

[2018-02-26 07:39] vasco3 opened #795 "Any plans to integrate with Storybook?"
https://storybook.js.org/

[2018-02-26 20:56] Fabrice-Deshayes-aka-Xtream commented on #751
Hello.

Same problem here. All my data are on synology NAS. Only system/software are on local SSD.
Visual Studio Code is better and faster for my needs but i'm still stick to atom because i can't preview my markdown file with your extension in vscode (but it works on atom).

here is the log of error when i click to "open preview"
[error.log](https://github.com/shd101wyy/markdown-preview-enhanced/f

[2018-02-26 22:33] FrancescoFilippi opened #796 "Multi page document with page-scoped footnotes?"
I'm a big fan of your project and I'm trying to write an academic paper with it. The problem is that I can't force a footnote to stay right in the page where I declare it, as they are just displayed at the very bottom of the document (I'm aware that this is its proper behaviour). Am I missing something and, hopefully, there's a way to achieve that, or it's just beyond the scope of a markdown docum

[2018-02-27 20:17] the-fresh-man commented on #751
Hi @Fabrice-Deshayes-aka-Xtream,
as a workaround you can also mount your network drive in Windows:
https://kb.netgear.com/19864/How-do-I-map-a-network-drive-in-Windows

Hopefully this helps you.

Regards

[2018-02-28 04:26] qiaozhu opened #797 "Save as Markdown替换了当前文件"
当Save as Markdown时
第一次保存目标文件filename_.md正确生成
之后再Save as Markdown 则filename.md本身被替换了内容
filename_.md没有变
![image](https://user-images.githubusercontent.com/25722049/36769947-74743dba-1c82-11e8-884e-b4dd18fc6a67.png)
![image](https://user-images.githubusercontent.com/25722049/36769959-89534b40-1c82-11e8-9921-e5f750fa1511.png)

另生成的toc能否添加  当前选中标题高亮？

[2018-02-28 09:39] DougHeffernan opened #798 "Extension (VS code) does not properly work on my windows machine"
Hello,
i really like to use your great extension in VS code. However i have the problem, that i can't get it running properly. The basic Markdown preview is working just fine. Also things like including images.
But math expressions (using Mathjax or KaTex) or plantuml diagrams won't be rendered.
PlantUml: I checked the plantuml.jar and run it from command line, it did work.
Mathjax:  When i run th

[2018-02-28 10:25] lizhihao6 opened #799 "在preview窗口无法右键"
文档中说导出是在preview窗口右键就可以了，但是在preview窗口右键没有任何反应……
atom console没有报错

[2018-02-28 13:42] WallanceLee opened #800 "Cannot see the table preview"
Hello, I am very confused that I use markdown-preview-enhanced and markdown-table-editor both with the latest version in Atom editor. But I cannot see the table preview with ctrl-shift-m. I have tried to delete the whole atom editor and .atom directory, then reinstall the software and the extensions but it didn't work.
I want some help. I have a friend who installed the editor and the two extensio

[2018-03-01 00:34] hill opened #801 "Implementing Chemical Equations Plugin"
Hi - I'm wondering if there is any way to include chemical equations through the MathJax package in Markdown Preview Enhanced?

I'm trying to include the [MathJax/mhchem](https://mhchem.github.io/MathJax-mhchem/) package but have had little success when trying to implement this:

[code]

in the MathJax config file. I'm not entirely sure where `MathJax.Ajax.config.path["mhchem"]` should actually be

[2018-03-01 04:27] SQ-Duan opened #802 "There seems to be something wrong with TOC."
### Platform and Version
Windows 10 1709, VS Code 1.20.1, MPE 0.3.2

### Issue
When i use \<H1\>, \<H3\>, \<H4\> etc. except \<H2\> headers, the TOC seems to can not be shown correctly,as shown below. And if i add an \<H2\> header, TOC will work normally.

![bug](https://user-images.githubusercontent.com/20452743/36826948-7925b4b4-1d4b-11e8-86be-61c31dd01d3c.JPG)

[2018-03-02 08:25] Archetipo95 opened #803 "Support for Brackets?"
Guys are you going to add support for Brackets IDE in the future ?

[2018-03-02 15:30] kachkaev commented on #788
Are you happy with the solution @dzackgarza? If so, feel free to close this issue.

[2018-03-02 16:43] marpala opened #804 "PDF export on save doesn't work when live preview is not enabled"
I can only export to PDF on save when the markdown preview tab is open.

[2018-03-03 12:17] #785 closed

[2018-03-04 06:37] 923132714 opened #805 "Can I use the shortcut to upload pictures skip the mouse click?"
![image](https://user-images.githubusercontent.com/25949545/36942882-fec9b6be-1fb8-11e8-9f62-9ebb31004bb3.png)
I do not want to click, but I want to upload pictures.
Do you have any idea?
#### thank you！

[2018-03-04 14:35] miskovics commented on #792
My bad, I misunderstood the manual.

does work as expected, closing the ticket.

[2018-03-04 14:35] #792 closed

[2018-03-05 02:35] jccha opened #806 "Newline character inside LaTeX math is incorrectly processed"
When there is a line break inside LaTeX, for instance as in

[code]

LaTeX regards the newline character as a whitespace.  This is important, since `$a\in A$` and `$a\inA$` are different.  (Indeed the latter is an error unless a macro named `\inA` is provided.)  But, in MPE, the above newline example is treated as `$a\inA$`.  I confirmed this on VS code.

I'd like to remark that this is a quite an

[2018-03-05 04:51] cryodream commented on #634
I just spent 3 hours trying to figure out, why it doesn't work in VS Code or how to fix it, until finally I found this issue. Thanks for info.

[2018-03-05 13:49] kavanLi commented on #766
I am looking forward to it

[2018-03-05 15:43] matiasds opened #808 "Pandoc error message"
I just installed the latest versions of Pandoc (12.1) and Atom (1.24.0) in Windows 10.

I get the following error message when I try to get a Word document using Pandoc (right click in the preview window): "Output format needs to be specified." I generated the markdown document with the Markdown Writer package and I did specify the output as indicated in the markdown_preview_enhanced Introduction

[2018-03-06 10:08] bryango commented on #775
Apparently if the first '$' is escaped (`\$`) the output will be fine. @shd101wyy
e.g. `\$ N \to \infty $` works, but `$ N \to \infty $` fails.

[2018-03-07 00:27] rubberduck203 commented on #798
I don't think it's you Daniel.
Math preview doesn't work for me either.

[2018-03-07 00:29] rubberduck203 commented on #775
Same issue with VS Code.

[2018-03-07 01:41] shd101wyy commented on #775
Since so many people are complaining about the math problem now, I will release a quick fix version tonight. Please give me a few hours.

[2018-03-07 03:15] shd101wyy commented on #808
Hi @matiasds , please follow the instructions here: https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc.

You need to specify `output` in your front-matter.

For example: https://shd101wyy.github.io/markdown-preview-enhanced/#/pandoc-pdf

[code]

[2018-03-07 03:18] shd101wyy commented on #804
Yes you are right. Right now you need to have the preview open; otherwise the `export on save` will not work.

I will support export on save without requiring preview to be opened in the future.

Thank you

[2018-03-07 03:33] rubberduck203 commented on #775
Not complaining here. Just reporting. Thanks for the awesome extension!

[2018-03-07 03:39] shd101wyy commented on #775
@rubberduck203 haha sorry for my poor English.

[2018-03-07 05:05] shd101wyy commented on #775
The MathJax issue should be fixed now.

As we just refactored our code for the [mume](https://github.com/shd101wyy/mume/) project (Huge thanks to [@kachkaev](https://github.com/kachkaev) :clap: ), there might be some new bugs.

I am very sorry for the delay, because I have been very busy recently.

Thank you very much ;)

[2018-03-07 05:09] shd101wyy commented on #798
The MathJax issue should be fixed now. But I am not sure about the PlantUML one. Could you please send me your markdown file? Thank you.

[2018-03-07 11:26] szacchino commented on #721
Sorry for the late answer. In Puppeteer there are no page numbers on TOC at all. While on Prince it appears as 0 like in the previously attached file.

My current warkaround is to define headers like:
[code]
This way the anchor is created without accents and Prince is able to properly insert the page number in TOC.

[2018-03-07 13:23] matiasds commented on #808
Thanks, shd101wyy.

As I indicated in my question, I did specified the output in the front-matter. I tried again with your proposed front-matter and I get the same message: "Output format needs to be specified."

Thanks again.

[2018-03-07 17:39] matiasds commented on #808
Now the output format works but I have a problem with the bibliography.

I include the full path to the bib file in the front-matter and I get the following error message: "Could not find bibliography file: C:\bibliography Error running filter pandoc-citeproc: Filter returned error status 1"

[2018-03-07 22:32] neighthan opened #810 "Support LaTeX comments in math ($$) sections"
It would be nice to be able to use LaTeX-style comments (prefixed with '%') inside of $$ blocks. I have a file with several macros that I use across many documents, and I tried to import this (using @import; it's an .md file), but most of the commands weren't defined properly in my Markdown document. I discovered this is because of the comments. Below is an example to reproduce this (the @import p

[2018-03-08 07:19] katnakanishi opened #811 "PlantUML's skinparam SequenceGroupBodyBackgroundColor is not applied properly"
When I add PlantUML's sequence diagram as below, the body background color in alt group should be transparent as default, but always white actually

in README.md
[code]

in seq-example.pu
[code]

[2018-03-08 08:39] iDragonfly2050 opened #812 "终于找到了Alt+Tab切换出去再切换回来以后，中英文无法切换的bug的复现方法。"
# 环境

1.  操作系统：Windows平台
2.  Atom版本：1.24.0 x64
3.  markdown-preview-enhanced版本：0.92.0
4.  输入法：搜狗输入法

# 复现步骤

1.  打开Atom
2.  打开一个有`[Toc]`以及标题的md文件
3.  打开preview窗口
4.  此时`Alt + Tab`切换到别的窗口，再切换回Atom，中英文切换没有出现问题。
5.  点击preview窗口中的任何按钮（包括TOC跳转以及右上角三个按钮）。
6.  鼠标点击md文件窗口任意位置，把焦点恢复为正在编辑的md文件。
7.  此时`Alt + Tab`切换到别的窗口，再切换回Atom， **中英文无法切换** 。
8.  有以下几种方式使中英文切换恢复正常：
    1.  重启preview窗口。（只要不点击preview里的按钮，再次切换

[2018-03-08 09:50] YuLiumt opened #813 "Uncaught TypeError: this.editor.getElement is not a function"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.24.0 x64
**Electron**: 1.6.16
**OS**: Unknown Windows version
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.3

### Stack Trace

Uncaught TypeError: this.editor.getElement is not a function

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-03-08 22:41] sharkweek opened #814 "Shuts down Atom when changing theme"
When changing any of the themes (code block, preview, etc.), Atom is automatically shut down without warning. There should be a warning stating that Atom will need to be restarted before changes take effect rather than an automatic shut down. It might also be helpful to post previews of the default style sheets in the documentation.

[2018-03-08 22:42] shd101wyy commented on #814
Hmmm this issue never happened before. I will have a look when I have time. Thank you.

[2018-03-09 10:52] wqfantexi commented on #672
你好，我今天试了下最新版本shd101wyy.markdown-preview-enhanced-0.3.3,好像还是不行。
markdown内容如下：
# hello
![可以显示](timg.jpg)
![不能显示](timg  nihao.jpg)

图片文件和md文件放在同一个目录，分别为timg  nihao.jpg和timg.jpg。
timg.jpg可以正常显示，但是文件名有空格的无法显示。

[2018-03-09 10:52] wqfantexi commented on #672
···
# hello

![可以显示](timg.jpg)

![不能显示](timg  nihao.jpg)
···

[2018-03-09 11:04] DougHeffernan commented on #798
Hey
thank you for your response.
Unfortunately it still does not work. Is there something i need to do when installing the extension. I installed it using the extension manager in VS Code.

Here would be a test.markdown which does not work:
# Test regarding Issue \#798

# 1. Mathematical equations
The following is a formula which is not rendered:
$$ \varphi_{Az}=\frac{2\pi}{N_{beams}}B_{BF,m} $$

[2018-03-09 16:39] shd101wyy commented on #798
@DougHeffernan I just tried it on my Windows 10 machine and it worked well.

![capture](https://user-images.githubusercontent.com/1908863/37218446-110aadee-2386-11e8-8ce1-bd79beae2c28.PNG)

Are you using the newest version of vscode? Thank you.

[2018-03-09 19:52] shd101wyy commented on #813
大兄弟重启 atom 有用吗？

[2018-03-10 01:59] YuLiumt commented on #813
我下载的插件太多了，也不太清楚之前遇到的是什么问题，我现在atom的markdown-preview-enhanced可以正常使用。谢谢

[2018-03-10 19:15] Votarb opened #815 "Preview not loading through Teletype"
When hosting a portal on Mac, preview works just fine, but for the other users it gets stuck in loading phase. The default MD preview does not experience this issue.

Whether this happens only when hosting on macOS I am not sure, but we will try to do the reverse (connect from Mac to Windows).

[2018-03-12 01:41] wqfantexi commented on #672
现在使用image helper导入的文件，会自动把空格替换为%20；
我还以为是再把markdown解析为html的时候转换的呢。

谢谢了。

[2018-03-12 12:14] robwalton opened #816 "Pandoc section labels not found by pandoc-crossref filter when using ATX-style headers (in vscode)"
I am using the popular [pandoc-crossref](http://lierdakil.github.io/pandoc-crossref/) filter in vscode.

# The problem

The following works in the preview window (using setext-style headings).
[code]
Whereas this, using ATX-style headings, results only in the error **`Undefined cross-reference: sec:testing`** in the preview panel.
[code]
It works fine from outside vscode using:
[code]
## Configura

[2018-03-12 12:44] robwalton commented on #816
P.S. I've tried giving the full path to pandoc-citeproc and setting the full path to pandoc to make sure it wasn't something silly; but this didn't help.

[2018-03-12 15:31] shd101wyy commented on #798
No problem. Glad to help.

[2018-03-12 17:26] robwalton commented on #816
I've found the root of the problem and described it in this more precise ticket: [Labels which include a colon in ATX-style headings are altered before passing to pandoc](https://github.com/shd101wyy/vscode-markdown-preview-enhanced/issues/83). It turns out that pandoc strips the `:sec` from the `{#sec:testing}` label before calling pandoc.

(Apologies for filing one of these in your atom tracker

[2018-03-13 04:11] dzackgarza commented on #788
I think so! I haven't had a chance to try it, but it sounds like this should work just fine. I'll close for now, and reopen if I run into any trouble down the line.

[2018-03-13 04:11] #788 closed

[2018-03-13 04:50] gmd7 opened #817 "diagrams are not rendered any more"
Tested with plantuml, dot, ...
All diagrams are displayed as text blocks.

[2018-03-13 07:07] kachkaev commented on #817
@gmd7 could you please share a file that does not work? Some details on your environment would be useful too!

[2018-03-13 12:53] #720 closed

[2018-03-14 09:23] Archetipo95 commented on #479
Any updates ?

[2018-03-14 16:53] saeidamiri1 opened #818 "Rmorkdown"
I like you package, Congratulation.
I am using R and Python, as you know we can run codes inside .Rmd file,
see
https://rwebapps.ocpu.io/markdownapp/www/

Unfortunately, your package can not run codes. I am wondering if you have plan to add this feature to your package.

[2018-03-14 17:02] kachkaev commented on #818
Running code chunks in markdown-preview-enhanced is [supported](https://shd101wyy.github.io/markdown-preview-enhanced/#/code-chunk), although with a slightly different syntax. What could be improved?

[2018-03-14 18:11] saeidamiri1 commented on #818
Wonderful, good job.

There are two issues,
1) It does not show plot of R?
2) The new chunk, rerun new Rscript, so does not load the codes that already run in the previous chuck.
see below.

The Normal Distribution
=======================

[code]

The normal distribution has the typical bell shape:

[code]

[2018-03-15 01:51] gmd7 commented on #817
There are two examples in the [attachment](https://github.com/shd101wyy/markdown-preview-enhanced/files/1813718/diagram.zip)
 that worked before the last update.

Deactivating

* use pandoc parser

in settings showed the rendered diagrams.

Other settings:

* Pandoc Options: Commandline Arguments
--number-sections, --toc

* Pandoc Options: Markdown Flavor
markdown-raw_tex+tex_math_single_backslash

[2018-03-15 04:45] gmd7 commented on #817
Same problem for codeblocks:

[code]

is not correctly rendered with pandoc.

[2018-03-15 05:46] lightlogic5 opened #819 "引入的代码块过长的话，会显示滚动条，怎么让其在打印的时候不显示滚动条能看到完整代码呢"
引入的代码块过长的话，会显示滚动条，怎么让其在打印的时候不显示滚动条能看到完整代码呢

[2018-03-15 21:03] shd101wyy commented on #819
Hi @lightlogic5 ，把你的文件发我看看？

[2018-03-16 02:31] lightlogic5 commented on #819
@shd101wyy 谢谢你的回复，就像这样

[2018-03-16 02:35] lightlogic5 commented on #819
@shd101wyy 谢谢你的回复，就像这样

[2018-03-16 03:31] IWSR opened #820 "how to run this project in my own computer?"
![image](https://user-images.githubusercontent.com/18499412/37502181-810f5528-290c-11e8-8b48-164f7971194c.png)

I want to run this project in my own computer, but when I run 'npm run build', there is a error that can not find markdown-engine-config, I do not know what is that.....

我想在我自己的环境下跑这个项目，但是报错信息说缺少markdown-engine-config这个文件，这配置文件里面需要配置些啥啊。。

[2018-03-16 07:07] wdzcloud opened #821 "如何以绝对路径引用CSS？"
`@import path`会将path与当前工作目录拼接，无法通过绝对路径引用。

如在`/Users/Admin/Desktop/Project/README.MD`中，写入`@import "/Users/Admin/MyCss/MyCss.css"`,会抛出如下错误`Error: ENOENT: no such file or directory, open '/Users/Admin/Desktop/Project/Users/Admin/MyCss/MyCss.css'`

[2018-03-16 14:03] RoyiAvital commented on #396
How do I use MathJaX instead of KaTeX?

I found `mathRenderingOption` yet it doesn't say what string is needed to move to MathJaX.

[2018-03-16 14:14] kachkaev commented on #396
@RoyiAvital a definition of `mathRenderingOption` in `config-schema` might help:
https://github.com/shd101wyy/markdown-preview-enhanced/blob/04d157748c9346af949ee8ee2ac793c2d7c319df/src/config-schema.ts#L158-L168

[2018-03-16 14:20] RoyiAvital commented on #396
@kachkaev ,
This is perfect.
I think the list of options should be part (At least for this short list) of hint line in the preferences.

Thank You.

[2018-03-16 14:21] kachkaev commented on #396
@RoyiAvital I agree. Feel free to submit a PR for that 😉

[2018-03-18 21:19] shd101wyy commented on #817
@gmd7 Yes the diagrams suddenly stopped working on my Windows as well.
What I did to fix this issue was to uninstall atom => remove `~/.atom` folder =>  reinstall atom and mpe. Then everything works. But this is not a very good solution. I will try to figure out why diagrams stop working. Thank you.

[2018-03-18 21:19] shd101wyy commented on #817
The codeblock one that you mentioned is a bug. Will be fixed in next release. Thank you.

[2018-03-19 04:01] dvpfrcrb opened #823 "cannot preview tiff format image"
TIFF images could not previewed in Atom editor. Will tiff image preview be supported in future release?

[2018-03-19 06:07] iDragonfly2050 opened #824 "今天更新到最新版本后，出现点击TOC跳转走样问题。"

[2018-03-19 06:08] iDragonfly2050 commented on #824
![image](https://user-images.githubusercontent.com/16486215/37580489-ec543f50-2b7e-11e8-98f4-3417f6ac779e.png)

[2018-03-20 15:20] lieanu opened #825 "Text is not selectable"
After Export to HTML，the text or code block in HTML pages is unselectable.

[2018-03-20 15:26] kachkaev commented on #825
@lieanu could you please share an example HTML file that does not work for you? Have you tried selecting text in another browser?

[2018-03-20 15:36] djh1997 opened #826 "ability to swap back to default css"
i use solarised dark theme and this gets added to the preview when i export it would be nice to have as an option

[2018-03-20 15:47] lieanu commented on #825
MarkDown:
[code]

Generated HTML file:
<https://raw.githubusercontent.com/lieanu/files/master/test_for_MPE/test.html>

[2018-03-20 16:19] shd101wyy commented on #824
嗯嗯嗯嗯，可否把你的 markdown 文件发我一份，谢谢。

[2018-03-20 16:20] shd101wyy commented on #826
Hi @djh1997 ,

https://shd101wyy.github.io/markdown-preview-enhanced/#/html
You could set `print_background: true` in front matter.

Thank you

[2018-03-20 16:37] djh1997 commented on #826
edit->config...

 "markdown-preview-enhanced":
    enableExtendedTableSyntax: true
    previewTheme: "solarized-dark.css"
    print_background: true

adding into config didnt work for me now the .html wont even open in firefox it just crashed

[2018-03-20 16:39] kachkaev commented on #825
After inspecting your html, I see that the problem comes from here:

[code]

Removing `z-index` works as a fix. Is this your custom CSS?

[2018-03-20 17:02] lieanu commented on #825
yeah, it's a custom CSS，thanks a lot.👍

[2018-03-20 17:11] kachkaev commented on #825
You can then simply remove `z-index: -10;` from it and all will work. I'll close this issue, but feel free to continue the discussion if you're still struggling with it.

[2018-03-20 17:11] #825 closed

[2018-03-20 19:10] npassaro commented on #789
@ionm could you post the `custom_document` setup (e.g. pandoc options) you used. Thank you.

[2018-03-21 03:28] lfire commented on #824
我也遇到同样的问题，
![image](https://user-images.githubusercontent.com/2528719/37693484-df664914-2cfa-11e8-9bea-0941e2db18c1.png)

[2018-03-21 03:29] lfire commented on #824
这个是 markdown 源文件
[jetbrains-ide-active-server.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1831986/jetbrains-ide-active-server.zip)

[2018-03-21 05:26] iDragonfly2050 commented on #824
找到了复现方法：如果标题是中文的话，会出现问题，但如果标题是英文的话，表现正常。 @shd101wyy

[2018-03-21 05:27] iDragonfly2050 commented on #824
[Markdown源文件.zip](https://github.com/shd101wyy/markdown-preview-enhanced/files/1832133/Markdown.zip)

[2018-03-21 15:37] djh1997 commented on #826
not sure why but it seems to have worked now thanks for the help

[2018-03-21 15:37] #826 closed

[2018-03-22 12:06] max-underthesun opened #827 "preview fail to navigate through menu and links after last update (my current version 0.15.5)"
before I've updated it today I can use navigation through preview with links and menu (paragraphs), now it is starting to load and then i see just empty panel... and the original file is not scrolling to chosen link as it was doing before

[2018-03-22 12:18] kachkaev commented on #827
Hi @max-underthesun

Could you please share a screenshot and some other details if you can? It'd be amazing if you could also click on `View → Developer → Toggle Developer tools` in Atom's menu and share what you've got in the console after triggering the preview.

[2018-03-22 13:35] max-underthesun commented on #827
hi @kachkaev it turns out this bug only shows itself when I use headers in cyrillic ))
for english alphabet everything works fine
here are the images
'first' - file and preview with opened menu
'second' - after pressing last link from the menu (which is cyrillic text)
'third' - same screen with opened Developer tools
'fourth' - if press on english texted link it is working without any problems

![

[2018-03-23 08:55] dtgoitia opened #828 "Order list nesting limit"
Hi @shd101wyy ,

Is there any possibility to support more nested order list levels? At the moment I can only achieve 2 levels:
[code]
I am looking to achieve deeper levels:
[code]
I know GitHub doesn't support it, but I think it's very useful. It kind of feels natural to me, as the unordered lists do support this "deep" nesting.

Let me know your thoughts please :)

[2018-03-23 10:42] 2E0PGS commented on #731
## Windows 10, Atom version 1.25.0

I got this issue when trying to link this website in my Markdown document:
https://www.approxion.com/?p=303

It always opens in windows file explorer.

## Linux, Atom version 1.23.3

It works as expected and opens in browser.

[2018-03-23 16:06] shd101wyy commented on #828
To be honest I would suggest you write it using unordered list like this:

[code]

Thank you

[2018-03-23 16:15] kachkaev commented on #827
It's probably to do with how anchors are extracted from titles when they contain non-latin character. @shd101wyy are you noticing this issue when TOC items are in Chinese?

[2018-03-23 16:16] kachkaev commented on #452
@jasonhenderson is this still the case with the latest version of the plugin?

[2018-03-23 17:18] dtgoitia commented on #828
XD looks like something tricky to implement

[2018-03-23 17:19] #828 closed

[2018-03-23 17:20] #412 closed

[2018-03-23 17:20] #434 closed

[2018-03-23 17:21] kachkaev commented on #828
@dtgoitia I guess you can achieve the numbering you are looking for with CSS – see https://stackoverflow.com/questions/10405945/html-ordered-list-1-1-1-2-nested-counters-and-scope-not-working for example.

[2018-03-23 19:03] sharkweek commented on #665
I am also running `pandoc` v1.19 and cannot seem to get this to work. This appears to be the latest version available through the `conda` installer. I'm trying to create the custom doc, but when I add in a new `pandoc_arg` to use `--latex-engine=pdflatex`, it's still tacking on the `--pdf-engine=pdflatex` at the end and screwing everything up.

Here's the error:

```Error: Command failed: C:\Users

[2018-03-23 20:05] shd101wyy commented on #665
@sharkweek MPE now only supports [pandoc v2.0+](https://github.com/jgm/pandoc/releases) now. Please upgrade your pandoc.

[2018-03-24 05:51] max-underthesun commented on #827
@kachkaev I've discovered the same issue for implicit links as well and even if the link name is in english

Example:
if I put `<a name="abc"><a/>` somewhere in my file and then put `[my link](#abc)` somewhere else - it wouldn't work now, the result gonna be like on the second image, I've posted

[2018-03-24 05:57] max-underthesun commented on #827
hm... and if I use `id` instead of `name` it is working (`<a id="abc"><a/>` and `[my link](#abc)` - is Ok)

[2018-03-24 10:04] gunwald opened #829 "Preview does not work with pandoc 2.1.1"
This great extension does not work with latest Pandoc version:
[code]
The preview isn't rendered and only the following message is shown:

`[WARNING] Deprecated: --latexmathml, --asciimathml, -m`

By the way, this warning is also shown by the competitor `markdown-preview-plus`, but it renders the preview never the less. Maybe this helps to track down the cause of this issue.

[2018-03-24 11:10] fbob opened #830 "Tag support like Org-mode"
Could it be feasible to add tag support to headings/elements in markdown-preview-enhanced to filter/export/search according the tags ?

Just what we can found in org-mode: https://orgmode.org/manual/Tags.html

[2018-03-25 04:35] SteveCaesar opened #831 "可以新增一键发布到微信公众号、今日头条、知乎等内容平台的功能吗"
我现在发布到这些平台的操作流程是这样的：
1.编写markdown
2.导出HTML
3.打开HTML页面，全选页面内容，ctrl+c复制
4.粘贴到微信公众号编辑器
5.发布

发布后你会发现，文章中的代码排版混乱。原因是因为公众号编辑器过滤掉了<pre>标签中的换行等符号，所以每次我要在公众号发布含有代码的文章时，就特别特别麻烦咯，要将<pre>标签中的\n换行符全部用<br/>标签替换（手动替换的，特别花费时间。。。唉）

[2018-03-25 21:50] gunwald commented on #829
I just found out that the problem was connected with the `-smart` option, I had included in the pandoc option field. Removing this, makes the Warning disappear and the rendering works again. I guess in Pandoc 2.1.1 changes where made to this option...

[2018-03-26 01:16] shd101wyy commented on #824
吼，我下周有时间了会去修下，多谢

[2018-03-26 14:38] jccha commented on #806
This has been resolved by https://github.com/shd101wyy/mume/issues/50 .

[2018-03-26 14:38] #806 closed

[2018-03-27 03:08] painty opened #833 "How to bind preivew to the "Open Preview to the Side" button? 如何绑定预览功能到“打开侧边预览”按钮？"
![qq 20180327101930](https://user-images.githubusercontent.com/5387771/37944436-27985814-31ae-11e8-8a5b-92a5fab1dbc8.png)

[2018-03-27 20:00] debugDS opened #834 "Menu in preview no action"
Hi,

Incredible useful piece of code ;-)
- Sync scrolling md and preview
- mermaid integration…that is crazy
- toc
- …

All this is great but the menu (right-mouse button in preview) does nothing.
Same for the three top-right buttons.

I'm using latest Atom/Atom Beta.
I have done uninstall/reinstall.
I have deactivated the Core Markdown packages (and other Markdown packages).

Do you have any sugg

[2018-03-28 01:56] baoang commented on #803
It could be great if MPE offers sublime text's package.

[2018-03-28 06:48] kachkaev commented on #803
`markdown-preview-enhanced` and [`vscode-markdown-preview-enhanced`](https://github.com/shd101wyy/vscode-markdown-preview-enhanced) are just slim wrappers around [`mume`](https://github.com/shd101wyy/mume/), which contains the main functionality. This package can be wrapped in more ways, which opens lots of opportunities.

If you are interested in seeing Markdown Preview Enhanced in Brackets or Su

[2018-03-28 06:49] #803 closed

[2018-03-28 15:57] kugelblitz opened #835 "Preview prompts to save .emf file"
Hello,

I just installed MPE with a pandoc parser option and I must say that it is absolutely fantastic.

There is just one issue that totally blocks any actual work in my case.

I use EMF images in Markdown. Like this:

[code]

(Pandoc nicely embeds them into .docx for me.)

Now, when I turn on the MPE preview, it does not preview the emf file. But that is OK. I understand that EMF is not web-fri

[2018-03-28 16:10] kugelblitz commented on #835
Forgot to mention: I use MPE in VS Code.

[2018-03-28 17:05] kugelblitz commented on #835
Apparently Pandoc treats emf files as something to `<embed>` to HTML rather than `<img>` ([link](https://github.com/jgm/pandoc/commit/8d13ff5bc3cff3c0ce0dc9455db9f7f29b384cdf))

I do not know what is the conventional treatment of `<embed>`-ded EMF. For instance, Firefox and IE do not prompt to download it.

[2018-03-29 07:45] xianghongai commented on #337
@shd101wyy

convert file path:

[code]

[code]

---

export `html` supports add `meta` and `link` tag:

[code]

[2018-03-29 16:30] kugelblitz commented on #835
I have found a workaround:
[code]
Pandoc saves the `type` as an attribute of the `<embed>` object. That way, the Chrome engine does not force me to save the image (it does not display it either, but that is OK)

[2018-03-30 04:10] message2prateek commented on #422
This will be an awesome feature to have.

[2018-03-30 20:35] debugDS commented on #834
I've done some testing.
Version 0.14.1, menus in Preview pane are working.
After version 0.14.1, menus in Preview pane are no more working.

[2018-03-31 00:30] caseywatts opened #836 "Default Image Behavior"
I suggest we change the default to be "copy to folder".

When I installed this, I was very surprised to have my images uploaded to a provider. It made me want to disable this package because it makes me a bit worried about my work data leaking.

The defaults in this other package are the same as our setting "copy to folder". This behavior in these three are all the behavior I expected to be the de

[2018-03-31 00:31] caseywatts commented on #836
Thanks also to @dmgt for helping me look through these related plugins :)

[2018-03-31 09:31] simonbaker commented on #745
you are right, thanks!

![image](https://user-images.githubusercontent.com/6262452/38161869-40790d70-3509-11e8-8d1a-daebef8122e4.png)

![image](https://user-images.githubusercontent.com/6262452/38161865-315b5398-3509-11e8-86b4-f07483ba2a6b.png)

[2018-04-01 17:15] pollyduan commented on #824
同样遇到，怎么回退版本？

[2018-04-02 04:17] shd101wyy commented on #824
This [pull request](https://github.com/shd101wyy/mume/pull/54) should fix the problem.
But we will probably release a new version next week.

wo de ubuntu mei zhong wen shu ru fa yong bu liao... jiong

[2018-04-04 01:45] foolishflyfox commented on #488
@shd101wyy
Python 版本： Python 3.6.2
code chunk :
[code]
显示为：
![image](https://user-images.githubusercontent.com/17536022/38284238-d116a654-37ec-11e8-8748-21ef6cd6530c.png)

[2018-04-04 15:11] kachkaev opened #838 "Disabling frontmatter preview by default"
[Speaking of changing option defaults](https://github.com/shd101wyy/markdown-preview-enhanced/pull/837), I'm also wondering what you think of potentially disabling frontmatter rendering by default, i.e. going for:

<img width="438" alt="screen shot 2018-04-04 at 10 47 54" src="https://user-images.githubusercontent.com/608862/38316014-a4d119aa-3821-11e8-9e6d-b4c52cfb5816.png">

It's great to have f

[2018-04-04 16:59] #838 closed

[2018-04-04 20:50] gmd7 commented on #397
You can do this with pandoc parser:

[code]

[2018-04-05 22:05] shd101wyy commented on #594
@cyranodesale glad that it works for you now. Feel free to ask questions. Thank you.

[2018-04-05 22:06] shd101wyy commented on #836
@caseywatts Good suggestion. I will change it in the next version. Thank you!

[2018-04-05 22:07] caseywatts commented on #836
awesome! Thank you for being positive & responsive :D

[2018-04-05 22:08] shd101wyy commented on #833
@painty 我也想知道这个该怎么做。你要是知道了请告诉我。谢谢。😂

[2018-04-05 22:09] shd101wyy commented on #829
closing this issue now ;)

[2018-04-05 22:09] #829 closed

[2018-04-05 22:11] shd101wyy commented on #821
现在是不能引用绝对路径的文件的。只能是相对路径。`/path/to/file` 这种写法是相对于项目根路径的相对路径而不是系统绝对路径。建议你把 css 文件拷贝到你的项目目录下。

[2018-04-05 22:11] shd101wyy commented on #831
吼，有时间了我研究一下怎么搞。

[2018-04-05 22:16] shd101wyy commented on #819
@lightlogic5 抱歉我回复你晚了。
你可以 `cmd+shift+p` 运行 `Markdown Preview Enhanced: Customize Css` 命令打开 `style.less` 文件，然后编写如下

[code]

[2018-04-05 22:18] shd101wyy commented on #815
I think it is because this package loads some local files on your computer like `~/.mume/style.less`. That might affect teletype. I will try to support teletype in the future. Thank you.

[2018-04-06 00:30] lightlogic5 commented on #819
@shd101wyy 感谢您的回复，现在不显示滚动条了，但是代码也不显示全了，这是导出的html文件的截图
![mac_04-06_08-29-20](https://user-images.githubusercontent.com/12095814/38398208-ae0559a6-3974-11e8-94cb-ee04df37f009.jpg)

[2018-04-06 00:31] shd101wyy commented on #819
你把我发你的代码全加到 style.less 里面了吗？

On Thu, Apr 5, 2018, 7:30 PM lightlogic5 <notifications@github.com> wrote:

[2018-04-06 06:40] minimaltesty opened #841 "cascading @import does not work"
File_1.md:
[code]

File_1_A.md:
[code]

File_1_A_X.md
[code]

Each import works in the preview, but the preview for the top level document File_1.md does not import anything and results in:
[code]

... nothing more.

[2018-04-06 15:18] debugDS commented on #834
I found the culprit ;-)
It's a package called `atom-terminal-panel`
When installed no clic responds in the preview window of `markdown-preview-enhanced`

[2018-04-06 19:52] ngfat opened #842 "Could not open preview window in vs code"
Dear developer,

I just found with the recent update that I could no longer open the preview window. When I right click the document and select "Markdown Preview Enhanced: open preview" nothing would be shown and when I type in "Markdown Preview Enhanced: open preview" in the command palette, an error message that said "command 'markdown-preview-enhanced.openPreview' not found". Is there anything

[2018-04-06 20:15] shd101wyy commented on #842
Hi @ngfat , have you tried reinstalling the package? Thank you.

[2018-04-07 02:47] lightlogic5 commented on #819
@shd101wyy 是啊
![home_18-04-07_10-44-59](https://user-images.githubusercontent.com/12095814/38450490-191ab7d6-3a51-11e8-91ef-54af7a02d6b8.jpg)

[2018-04-07 05:42] paskaly commented on #738
Hi, sorry for the absence ...
I tried all the modication: those works for the view size, but the print font size is still too big. In other words, the modification in
[code]
is reflected also in the `Open in Browser`.
**My goal is to have a font for the view in Atom or VSCode and a different font size for printing** I use `open in browser` command to print the `.md` file.
For now, I'm using a work

[2018-04-07 15:01] ngfat commented on #842
Hi @shd101wyy , it is working now. Thank you so much for your reply!

[2018-04-07 15:01] #842 closed

[2018-04-08 02:49] RickTorresJr opened #843 "Disable all HTML script tags when exporting to HTML"
Provide an option to disable all HTML script tags when exporting to HTML for security. This would keep exported HTML static. Even when `Enable Script Execution` is disabled the following is still rendered at the bottom of the HTML (both offline and cdn):

[code]

[2018-04-08 02:51] shd101wyy commented on #843
Hi,

Yes we are working on this now in pull request 837.
https://github.com/shd101wyy/markdown-preview-enhanced/pull/837
It will be done in next version.

Thank you

On Sat, Apr 7, 2018, 9:49 PM Rick Torres Jr. <notifications@github.com>
wrote:

[2018-04-08 08:24] ethanwillis commented on #248
Came here because I ran into this issue. Glad to know it will work when I push to Github. Would be nice to highlight this issue in docs. Maybe a "known issues" section?

[2018-04-08 13:48] hqywork opened #844 "能否提供 Microsoft DocFX Flavored Markdown 的支持"
主要是对 Note (Warning/Tip/Important) 和 Tabbed content 的支持。

[2018-04-08 23:34] shd101wyy commented on #823
Seems that tiff image is not supported by chrome according to [this](https://en.wikipedia.org/wiki/Comparison_of_web_browsers#Image_format_support), so there is no way to display tiff image right now.

[2018-04-09 13:39] siweilee opened #845 "can't install markdown-preview-enhanced"

[2018-04-09 17:31] neighthan commented on #703
This might not be a bug exactly, but if one is using a dark theme for the preview window, the text on the sequence diagrams is almost impossible to read (because it's black). Is there a way to change the text color / configure a `sequence` block to be used with a dark theme?

[2018-04-10 01:24] gmd7 opened #846 "pandoc & code chunks"
[code]

[code]
does not work with pandoc but with markdown-it.

[2018-04-10 01:26] shd101wyy commented on #846
Hi there,

This pull request will fix the issue:
https://github.com/shd101wyy/mume/pull/59

We will publish a new version this week.

Thank you

On Mon, Apr 9, 2018, 8:24 PM gmd7 <notifications@github.com> wrote:

[2018-04-10 03:36] imanabu commented on #612
Can someone clearly document how to do this correctly with a working example?  There is a lot of fragmented information on this topic, but none of the answer is complete, for example to put a timeout, but not clear exactly where to timeout. This is a very recurrent issue over various versions.

[2018-04-10 13:57] Benature opened #847 "failed to run latex code"
sorry to border.
i have already installed the texlive and add pdf2svg to PATH.
but after i run the chunk,there will be a chunk like this
[code]
what should i do ?

[2018-04-10 15:31] shd101wyy commented on #847
Could you please paste your markdown code here? Thank you.

[2018-04-10 16:50] Benature commented on #847
it is just your example:
[code]

[2018-04-10 23:01] dzackgarza commented on #788
Follow up - I tried this, and after messing with the config object a bit, this seems to work! The only issue I'm running into now is that certain code cells don't seem to be running - in my case, embedded standalone Latex documents that seem to work alright within the Atom markdown preview pane. Do you guys have any idea what might cause that?

[2018-04-11 02:31] Benature commented on #831
或者可以试一下浏览器的扩展插件“markdown.here”？

[2018-04-11 06:24] quchunguang opened #848 "export pdf with `pandoc` error: wrong argument passed to pandoc"
Wrong argument passed to pandoc when export pdf with `pandoc`

error message

[code]

from `man pandoc`, i get

[code]

Does `--pdf-engine` should be `--latex-engine` ?

pandoc 1.19.2.1 (installed with `apt` on Ubuntu 17.10)

[2018-04-11 06:27] shd101wyy commented on #848
You need to install pandoc 2.x
Please download and install from
https://github.com/jgm/pandoc/releases

On Wed, Apr 11, 2018, 1:24 AM Kevin Qu <notifications@github.com> wrote:

[2018-04-11 16:43] #843 closed

[2018-04-11 16:56] kachkaev commented on #823
Will close this for now given that fixing is blocked by a problem upstream.

[2018-04-11 16:56] #823 closed

[2018-04-11 17:00] kachkaev commented on #845
Closing due to lack of info. @siweilee feel free to share more details if you still have the problem and we'll try to help you.

[2018-04-11 17:00] #845 closed

[2018-04-11 17:18] kachkaev commented on #847
@Benature what's your `latexEngine`?

[2018-04-12 15:25] kachkaev commented on #847
yep, this one. it might require installing pdflatex separately, i’m not sure. @shd101wyy might be able to clarify.

[2018-04-12 15:38] Benature commented on #847
i changed the setting to `xetex` and run the latex code again, failed again but i found a `texput.log` in the dirt:
[code]
don't know whether this will help or not
P.S. there are some Chinese in the path

[2018-04-12 16:36] parthi2929 opened #849 "Both mathtype and diagram not working"
Hi

I tried to use just default setting.

Both Katex and graphviz seem to be not working. I tried reinstalling but in vain. Can you please help asap?

![2018-04-12_22h04_28](https://user-images.githubusercontent.com/11896263/38691169-aba29d62-3e9d-11e8-9a92-d085c3ee268c.png)

[2018-04-12 16:38] parthi2929 commented on #849
I tried MathJax also but same result. Its not working.

[2018-04-12 16:44] shd101wyy commented on #849
Hi @parthi2929 ,

This is because the preview is from the default `Markdown Preview` extension but not this extension. It is supposed to have tab title `MPE Preview` on vscode.
I would assume you clicked that preview icon to open preview, which is not supported yet.
I would suggest you to press `ctrl+k v` or run `Markdown Preview Enhanced: Open preview` command to open the preview. Or you can righ

[2018-04-12 16:51] parthi2929 commented on #849
Thank you for such fast response :)
ctrl+k  v did nothing in VS. I tried Markdown Preview Enhanced: Open Preview, it is now showing latex. However, Graphviz is still showing error.
![2018-04-12_22h20_22](https://user-images.githubusercontent.com/11896263/38691859-b2bc28b4-3e9f-11e8-97dd-29944b9352ad.png)
Further, how do I get rid of Markdown Preview which comes up with ctrl+shift+v. I seem to not

[2018-04-12 16:55] shd101wyy commented on #849
It should be `digraph` not `diagraph`?

[2018-04-12 16:55] shd101wyy commented on #849
btw, if you are using mac, then it should be `cmd+k v`

[2018-04-12 16:57] parthi2929 commented on #849
Great. That fixed it. Sorry for rookie question. New to these.

I could see the keyboard shortcut still its not working to open preview.
![2018-04-12_22h25_00](https://user-images.githubusercontent.com/11896263/38692175-9f5b6180-3ea0-11e8-8766-828e93285485.png)

[2018-04-12 16:57] parthi2929 commented on #849
I am using win 10

[2018-04-13 05:05] parthi2929 commented on #849
Is it probably causing conflict with internal markdown support by VS code?

![2018-04-13_10h34_35](https://user-images.githubusercontent.com/11896263/38717739-66c64f04-3f06-11e8-9788-2233dc8f1c1b.png)

[2018-04-13 05:11] parthi2929 commented on #849
For now, I changed the former's keybinding, and now this works :)

[2018-04-13 05:11] #849 closed

[2018-04-15 20:29] shd101wyy commented on #841
You might need to click the refresh button in the top right corner to refresh to preview to see the update.

[2018-04-15 21:49] shd101wyy commented on #824
@iDragonfly2050 @lfire  @pollyduan
久等了，应该修好了。

[2018-04-15 21:55] shd101wyy commented on #836
@caseywatts Changed now. Thank you.

[2018-04-15 21:55] #836 closed

[2018-04-15 21:56] shd101wyy commented on #833
好了，我添加了一个按钮，但是我无法删除默认的按钮，所以现在有两个。

[2018-04-15 21:56] #833 closed

[2018-04-15 21:57] shd101wyy commented on #819
可否把你的 markdown 源文件发我一下？

[2018-04-16 08:31] truegate opened #851 "导出HTML TOC 边栏不显示"
你好，在使用 ditaa 流程图功能后，导出的 html 文件不再支持侧边栏 TOC，还请开发者核查。谢谢～

[2018-04-16 08:32] shd101wyy commented on #851
在插件设置中把 enableScriptExecution 这一栏给代开就好了。

On Mon, Apr 16, 2018, 3:31 AM truegate <notifications@github.com> wrote:

[2018-04-16 08:39] truegate commented on #851
现象跟踪描述：在 Atom 中 允许 enableScriptExecution，则可以恢复 TOC 边栏的显示

[2018-04-16 14:53] Kshitiz-Sharma opened #852 "Help request: Diagram preview doesn't work"
I get a syntax error when trying to generate sequence or mermaid diagrams:

[2018-04-16 14:59] Kshitiz-Sharma commented on #852
Must have been weird line endings or something. I deleted that text and pasted it in again and it works:

![image](https://user-images.githubusercontent.com/6263572/38816865-f6326792-418e-11e8-93ef-949580db210e.png)

[2018-04-16 20:03] shd101wyy commented on #851
@truegate <kbd>ctrl+,</kbd> 打开插件设置，然后搜索 `enableScriptExecution`，把它设置为 true 就好了。

[2018-04-17 01:31] truegate commented on #851
 非常感谢！

[2018-04-17 09:44] #824 closed

[2018-04-17 11:34] malaohu commented on #851
今天遇到同样的问题，设置了一下可以了！

[2018-04-18 02:09] p5ydn0 commented on #664
请问如何禁用自带的markdown-preview？我在扩展中查找内置的扩展，并没有找到markdown-preview插件(在网上也没找到解决办法)。

[2018-04-18 02:49] shd101wyy commented on #664
插件列表里有叫做 markdown preview 的一个插件，禁用掉就好了。

On Tue, Apr 17, 2018, 9:09 PM Walter Mitty <notifications@github.com> wrote:

[2018-04-18 02:56] david11rsww opened #853 "mathjax rendering problem with single line $\sum$"
$\sum_{i=1}^m (h_\theta(x^{(i)})-y^{(i)})^2$

$$
\sum_{i=1}^m (h_\theta(x^{(i)})-y^{(i)})^2
$$

 The rending results :

<img width="378" alt="dif" src="https://user-images.githubusercontent.com/18346105/38909554-9dce9e94-42f7-11e8-9aef-e35af9cf6dbf.png">

The same raw content, but the different rending results.
That's the problem on the MacOS.

[2018-04-19 05:28] rbuckland opened #854 "auto execute flag on "cmd" macros"
Currently command macros need to be executed, via the "execute" icon over the code block, or `[shift][enter]`

The TOC  generator "recreates" the TOC upon save

It would be good to add a flag to the execution macro, so that it auto executes upon saving and exporting.
(tip: I find puppeteer the best exporter for PDF and HTML).

This would open up the ability to auto create dir indexes like #442 and

[2018-04-19 14:26] Jack-ban opened #855 "增加默认主题"
环境：windows10+ vscode 1.22.2

我找到插件默认的预览主题文件夹，然后往里面添加了几个自己的css文件，但是在用户设置页面无法找到新添加的css文件

![snipaste_2018-04-19_22-23-22](https://user-images.githubusercontent.com/17838717/38997609-73e843d0-4420-11e8-9177-201dc423cb39.png)
我在你写的文档里面看到了custom.css的方法，但是我想知道，以上的操作不能生效吗？
打扰了。

[2018-04-20 05:36] rbuckland commented on #854
I am so sorry - I missed that in the documentation.
Excellent - thanks.

[2018-04-20 05:36] #854 closed

[2018-04-20 06:00] LyZane commented on #761
跪求 gitbook 版本

[2018-04-20 06:00] Jack-ban commented on #855
感谢你的回复，我大概明白了。我以为可以自己添加，然后在哪里刷新这个列表就行了。

[2018-04-20 06:29] shd101wyy commented on #855
可能以后会支持你要的这个 feature。谢谢。

[2018-04-20 06:29] shd101wyy commented on #854
No problem ;)

[2018-04-20 16:09] cossio commented on #35
The footnotes do not work for me on VS Code.

[2018-04-21 08:56] ramonbl opened #856 "html imports does not work well."
**Example:**
I have` index.html`
I have` index.md`

I import the **index.html into  the index.md** with `@import "index.html"`

In the importation, html indentation is taked as a code block in the markdown ( same with others markdown sintaxis rules).
Then, i have to delete indetation on `index.html` so I don't have any trouble in

[2018-04-23 18:47] chrismalek opened #857 "markdown-ui or ui-markdown support"
I just found this plugin. It is awesome!  I love it.

I am wondering if we could get support for one of these:

http://jjuliano.github.io/markdown-ui/

https://github.com/lifegadget/ui-markdown

They are Markdown syntax that converts to a User Interface prototype.

[2018-04-24 02:07] Gaven-Xu commented on #851
大神，你这插件真的是我用过的最有价值的插件，感谢

[2018-04-24 05:17] dazeGitHub opened #858 "code trunk 不支持运行 kotlin"
[code]
这么写的，无法运行，没有预览结果

[2018-04-24 05:38] dazeGitHub opened #859 "无法运行代码块"
原先还能运行 python 代码块的，现在点击右边三角啥反应没有，，这也没写错啊，，
\```python {cmd=true}
print("python3")
\```

[2018-04-24 05:40] shd101wyy commented on #859
在插件设置中把 enableScriptExecution 这一栏给代开就好了。
现在默认给禁掉了。

[2018-04-25 05:57] Erics5 opened #860 "Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.26.0 x64
**Electron**: 1.7.11
**OS**: Unknown Windows version
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.6

### Stack Trace

Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-04-25 05:58] Erics5 opened #861 "Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.26.0 x64
**Electron**: 1.7.11
**OS**: Unknown Windows version
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.6

### Stack Trace

Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-04-25 05:58] Erics5 opened #862 "Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.26.0 x64
**Electron**: 1.7.11
**OS**: Unknown Windows version
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.6

### Stack Trace

Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-04-25 05:58] Erics5 opened #863 "Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET"
[Enter steps to reproduce:]

1. ...
2. ...

**Atom**: 1.26.0 x64
**Electron**: 1.7.11
**OS**: Unknown Windows version
**Thrown From**: [markdown-preview-enhanced](https://github.com/shd101wyy/markdown-preview-enhanced) package 0.15.6

### Stack Trace

Uncaught Error: tunneling socket could not be established, cause=read ECONNRESET

[code]

### Commands

[code]

### Non-Core Packages

[code]

[2018-04-25 06:52] kachkaev commented on #861
Closing as duplicate of https://github.com/shd101wyy/markdown-preview-enhanced/issues/860

[2018-04-25 06:52] #861 closed

[2018-04-25 06:52] kachkaev commented on #862
Closing as duplicate of https://github.com/shd101wyy/markdown-preview-enhanced/issues/860

[2018-04-25 06:52] #862 closed

[2018-04-25 06:52] kachkaev commented on #863
Closing as duplicate of https://github.com/shd101wyy/markdown-preview-enhanced/issues/860

[2018-04-25 06:52] #863 closed

[2018-04-26 13:08] skysin opened #865 "preview button"
If I use this, I will get two preview button at the top right corner(in Vscode), which looks really ugly, how I fix it?

I hope you can give me a solution. Thanks!

[2018-04-26 19:07] shd101wyy commented on #865
hmm there is no way to fix it now.
I will let you know once I find a solution.
Thank you

[2018-04-27 00:32] kachkaev commented on #729
I guess this issue is more or less solved by [Prettier](https://prettier.io) now.

[2018-04-27 00:32] #729 closed

[2018-04-27 14:26] Defossez opened #866 "Enhanced tables"
HI,
I need to make not regular tables as showed below
[code]
I've enabled the extended table syntax in markdown-preview-enhanced setting.
I'm using  the syntax as showed in the documentation > and ^ to merge cells.
BUT that doesn't seem to work at all.
| A | B |
|---|---|
| > | 1 |
shows in the viewer a table exactly as it is entered here, with in the first cell a >

What's wrong?

Marc

[2018-04-27 14:49] AnalysisCodes opened #867 "html file with code chunk output"
Hello, shd101wyy.
Thank you for your awesome package in advance.
I have two questions.

1. It seems that the html source generated by 'Open in browser' and 'HTML > HTML(offlien/cdn hosted)' are different. Is there a way to export exactly same html source of 'Open in browser'?

I need it because the html source generated by 'export HTML' button does not show the code chunk output. I tried both belo

[2018-04-28 06:31] gujunhk commented on #819
这个修正措施，必须指定代码的语言，才能生效。不指定的话，就会出现“不显示滚动条了，但是代码也不显示全”的情况。

[2018-04-28 19:57] gunwald opened #868 "From in a flatpack pandoc is unreachable: Error: spawn pandoc ENOENT"
If I install Atom via Flathub on a Linux machine, the markdown-preview-enhanced does not work with pandoc. I get the error:

`Error: spawn pandoc ENOENT`

I guess this is an result of the fact that flatpaks are some kind of container and from within this container Atom cannot reach system pathes.
Unfortunately this makes this wonderful extension useless for anybody who relays on pandoc and flatpak

[2018-05-02 03:25] #853 closed

[2018-05-03 06:05] quchunguang opened #869 "`flowchart` not work"
`flowchart` not work. Using following code block,

[code]

it generated folllowing error message,

[code]

Environment
Windows 10 64 bit
vscode 1.22.2

[2018-05-05 12:22] BlackHole1 opened #870 "关于必须点击md，右侧预览才会跳转的问题"
当我在左侧md文件滚轮时，右侧的预览不能实时的跳转到和左侧md一样的位置，必须点击md文件的某一行，右侧的预览才会跳转。很是不方便。

[2018-05-05 14:28] ernestyao opened #871 "ctrl/cmd-shift-M在Mac的VSCode里无效"
VSCode是最新的稳定版：1.23.0

安装后重启过，打开.md文件后右侧会出现选择用markdown preview enhanced来预览（也会出现自带的markdown）。

打开Keyboard Shortcuts设置，没看到`Markdown Preview Enhanced: toggle`，只有`Markdown Preview Enhanced: Open Preview`（默认是cmd+K V），修改`Markdown Preview Enhanced: Open Preview`是能生效的。

还是想用toggle啊，更方便点。谢谢

[2018-05-05 15:04] shd101wyy commented on #871
嗯，vscode 版只有 `Open Preview`，没有 `Toggle Preview`。我记得好像是没有相关的 API 所以写不了。

[2018-05-05 15:05] shd101wyy commented on #870
@BlackHole1 我猜你指的是 vscode，因为 vscode 没有提供相关的滚动 API，所以没法像 atom 版一样滚动同步。

[2018-05-05 15:07] BlackHole1 commented on #870
明白了。确实是vscode。很抱歉，没有在发issues时，把问题情况说清。

十分感谢您的解答。

[2018-05-05 15:08] #870 closed

[2018-05-05 15:10] shd101wyy commented on #870
@BlackHole1 没事儿。

[2018-05-05 15:25] shd101wyy commented on #871
嗯 https://github.com/shd101wyy/vscode-markdown-preview-enhanced 这个下面的表格是对的。
文档网站我以后会更新下。多谢。

[2018-05-09 03:07] pokemane commented on #848
I had this happen to me, then went back to see how I'd accidentally installed pandoc <2.x.  It seems that, even though I get the "pandoc 2.2" msi/zip from the releases page, `pandoc --version` still brings up pandoc 1.19.  Not sure if this is a windows-only thing, like if only the windows builds are wrong there.  I didn't see any issues/tickets pertaining to "wrong output of `pandoc --version`" so

[2018-05-09 04:02] neo-anderson opened #872 "Where are the themes taken from? How to customize?"
The medium theme has some sizing issues and the font size of code block themes are too big for me. I want to edit the css files, but I can only find information about "Customize css" option. Where are the themes located?
OS: macOS
Editor: Atom

Example themes in the settings page for MPE: atom-dark, atom-light, github-light, solarized-light, etc.

[2018-05-09 06:57] shd101wyy commented on #872
The themes are here:

https://github.com/shd101wyy/mume/tree/master/styles/preview_theme/src

Thank you

[2018-05-09 12:12] maplewizard opened #873 "import files recursively"
Suppose, we have a folder which contains several md files. Can I just use one import to import the whole folder? If not, could you please help to support this feature?
Thanks

[2018-05-10 09:01] psychelzh opened #874 "Preview shortcut (Ctrl + K, V) does not work"
VScode prompted this message:

![image](https://user-images.githubusercontent.com/13306020/39861624-be210a1e-5473-11e8-9a1b-61f33a765240.png)

[2018-05-10 16:52] djh1997 opened #875 "add option for title in html config"
example
---
html:
  embed_local_images: false
  embed_svg: true
  offline: false
  toc: undefined
  title: mysitename

print_background: false
---

[2018-05-10 17:53] shd101wyy commented on #875
good idea. well do. thanks

[2018-05-10 17:53] shd101wyy commented on #874
Try reinstalling this plugin?

[2018-05-11 00:33] psychelzh commented on #874
I have tried, but in vain.

[2018-05-11 18:12] neo-anderson commented on #872
Sorry, I was talking about the installed plugin. Where does the plugin store the themes? Can I edit those themes directly? I searched atom and mpe folders, but didn't see any styles. I would like to edit one of the available themes in the MPE settings page within Atom, instead of adding my own custom style to the .less file. Does that make sense?

[2018-05-11 18:54] shd101wyy commented on #872
No that is not possible. You can only edit style.less file.

On Fri, May 11, 2018, 1:12 PM Neo Anderson <notifications@github.com> wrote:

[2018-05-11 19:35] neo-anderson commented on #872
Gotcha. One more question. How can I use local fonts for styling?
I usually do the following
[code]
But it's not working with MPE+style.less

[2018-05-12 00:52] lbnlbn1234 opened #876 "pdf输出mathjs没有被渲染（chrome）"
## 问题
Mathjs在预览与html输出中中被正确渲染。
用chrome输出任 pdf，jpeg，png均不会被渲染。
## 环境
windows x64 教育版（1803）
Atom 1.26.1 x64
markdown-preview-enhanced v0.15.6

[2018-05-12 01:01] shd101wyy commented on #876
换用 KaTeX 试试？

[2018-05-12 01:07] lbnlbn1234 commented on #876
如果使用KatTeX，在预览与html中也没有被渲染
如果语法没有差别的话
例如：$e^x$

[2018-05-12 01:07] shd101wyy commented on #876
你来张整个编辑器的截图？

[2018-05-12 01:13] lbnlbn1234 commented on #876
![default](https://user-images.githubusercontent.com/18466699/39952187-6f0cabfc-5592-11e8-8152-8d5bfe6900b9.PNG)

[2018-05-12 01:16] lbnlbn1234 commented on #876
![1](https://user-images.githubusercontent.com/18466699/39952213-c56b910c-5592-11e8-9ae2-c66bf905d5ab.PNG)
![2](https://user-images.githubusercontent.com/18466699/39952214-c5899c2e-5592-11e8-9c76-cb64846e003e.PNG)

[2018-05-12 01:31] shd101wyy commented on #876
Hmmm，我也不太清楚为什么会失败。
我现在的解决方法就是你把 html 打开到 chrome，然后 print as pdf。
https://shd101wyy.github.io/markdown-preview-enhanced/#/pdf

你使用的 puppeteer 吗？

[2018-05-12 01:32] lbnlbn1234 commented on #876
是的呢

[2018-05-12 01:34] lbnlbn1234 commented on #876
puppeteer@1.4.0

[2018-05-12 01:53] lbnlbn1234 commented on #876
经测试
## 当print background为false时
+ **在chrome输出中 Code Block Theme 没有被渲染**
+ 在html输出中 全部被正确渲染
## 当print background为true时
+ chrome与html输出中 全部被正确渲染

[2018-05-13 22:44] irogaro opened #877 "No line break with bulleted lists"
Hello,

The document preview does not show any line break when using using bulleted lists, dispite the 'force' option being ticked ('Break on single new line').
![screen shot 2018-05-14 at 00 44 04](https://user-images.githubusercontent.com/7736765/39972425-f03d79f8-570f-11e8-85b3-153618137621.png)

MacOS Sierra, Atom 1.26.1, plugin v.0.15.6.

[2018-05-14 15:42] irogaro commented on #877
Here is an exemple. It does that with all my md documents.

![screen shot 2018-05-14 at 17 41 16](https://user-images.githubusercontent.com/7736765/40007792-08684074-579e-11e8-9f22-656d02e3dfdb.png)

[2018-05-14 15:45] kachkaev commented on #877
I guess you achieve this by [customizing styles](https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css). E.g. you can add:

[code]

[2018-05-15 00:48] hyh19962008 opened #878 "ParseError: KaTeX parse error"
![2018-05-15 08-17-36](https://user-images.githubusercontent.com/23244369/40029766-d01c9e94-57d5-11e8-8302-81282e528d30.png)
- 在VSCODE中出现上面错误，ver 1.23.1

[2018-05-15 01:01] shd101wyy commented on #878
哦你可以在插件设置中把 mathRenderingOption 设置为 None。现在是把 $$ 中的当成数学式了。

或者你可以写成 \$

On Mon, May 14, 2018, 7:48 PM Demon <notifications@github.com> wrote:

[2018-05-15 13:37] haozan opened #879 "使用插件的时候，对输入法有影响，请查一下。谢谢"
![](http://oqozil5dt.bkt.clouddn.com/2018-05-15-Jietu20180515-213618.png)

[2018-05-15 13:53] chipbrock opened #880 "css not respected?"
I love markdown-preview-enhanced and use it on three macs. I explicitly share the styles.less contents among all of them. I explicitly set up the settings identically (see below). However, on two of the computers the preview acts properly, in particular using the Crimson font and properly respects figure captions ala

![gal](../../assets/motion/figs/Galileo_sketch.jpg){:width="400px"}*Galileo Gali

[2018-05-15 15:39] ExCrusader opened #881 "Unable to style body{} with Prince"
Hi, I am unable to style the body tag just in Prince to export a two-column pdf, but I am able to style it overall. I am editing my ~/.mume/style.less file.

This doesn't work:
[code]
But if I comment out the Prince specific parts if does export two columns, but it is two columns everywhere else as well. I want two-column text to be specific to the Prince pdf.
[code]
Any ideas on how to fix this p

[2018-05-16 16:14] irogaro commented on #877
@kachkaev thank you for the tip.
It took my some time to find the right css commande. I had to my ~/.mume/style.rss. It took me some time to find the right command:

[code]
It did the trick. Nevertheless, I don't understand why i had to spend that much time finding and adding these 2 lines to get my line breaks in bulleted lists, whereas it works out of the box for any other kind of text. It looks

[2018-05-16 16:17] irogaro commented on #877
And it is _always_ forces line breaks, which is not necessarily wanted by the user.

[2018-05-17 03:49] Kailasa opened #882 "本地图片插入后无法显示（Mac）"
在mac pro上，我插入保存在本地的图片后（非网络图片，markdown commnads 如下），图片在markdown-preview-enhanced的preview中无法显示，请问有解决方法吗？

[code]

preview的预览结果
![screen shot 2018-05-17 at 11 44 18 am](https://user-images.githubusercontent.com/7901720/40155734-e2f9f0cc-59c7-11e8-89dc-725b50e7c8ee.png)